[2018-03-04 11:44] insin opened #1 "Content hash support"
Using `mini-css-extract-plugin@0.1.0`

Is it possible to support a content hash in the filename, like extract-text-webpack-plugin's `[contenthash]`?

Using `filename: '[name].[chunkhash:8].css'` the `.css` hash is also changing when only the JavaScript in the chunk has changed:

![conemu64_2018-03-04_21-35-20](https://user-images.githubusercontent.com/226692/36945132-01f2e4aa-1ff5-11e8-9b0c-20488d

[2018-03-04 12:05] insin opened #2 "publicPath doesn't seem to be honoured when loading CSS"
`mini-css-extract-plugin@0.1.0`

Using an app with a router, which splits code per route and has `publicPath: '/'` in its output options, I'm seeing the following inserted into `<head>` when visiting a route which imports CSS:

![firefox_2018-03-04_22-00-22](https://user-images.githubusercontent.com/226692/36945311-b843f620-1ff7-11e8-853e-0136b73fb753.png)

If I log out `outputOptions` in `loader.

[2018-03-04 14:56] dwiyatci opened #3 "🚨 TypeError: Class extends value undefined is not a constructor or null"
## Description

Not really sure what's going on, but the aforementioned error was thrown on my machine when including the plugin, i.e. `const MiniCssExtractPlugin = require('mini-css-extract-plugin');`.

### Error Message & Stack Trace

[code]

### Config

[code]

## Environment

[code]

[2018-03-04 15:17] insin commented on #3
mini-css-extract-plugin requires webpack >= 4.1.0

[2018-03-04 15:27] dwiyatci commented on #3
OMG, didn't notice webpack 4.1.0 published already - that was super quick! Thanks for pointing this out, I feel so stupid now 😅

[2018-03-04 15:27] #3 closed

[2018-03-04 15:49] eloytoro commented on #3
@dwiyatci #4

[2018-03-05 02:42] Ralvke opened #6 "Unhandled rejection TypeError: Cannot read property 'length' of undefined"
Plugin supports modules/postcss?

### Stack trace
[code]

### Config
[code]

### Environment
Node: `9.6.1`
Yarn: `1.3.2`
Webpack: `4.1.0`
mini-css-extract-plugin: `0.1.0`

[2018-03-05 02:58] Kovensky commented on #2
It seems that the plugin's output doesn't take into account the `__webpack_public_path__`.

Compare this line in the extracted CSS output:

[code]

with:

[code]

For `[name].js` / `[name].css` outputs.

[2018-03-05 04:33] Kovensky opened #8 "Duplicate <link> tags are added each time a chunk is import()ed"
[code]

[code]

[code]

<img width="323" alt="image" src="https://user-images.githubusercontent.com/73085/36957706-9672d3d6-2079-11e8-9516-f2c6e528b1e5.png">

I'm not sure if this is a bug or a feature, though 🤔

[2018-03-05 07:58] sokra commented on #8
It's a bug

[2018-03-05 08:20] chinfeng opened #10 "Not working with css-loader options.modules"
Testing with webpack v4.0.1 :
[code]

When requiring css file, it always get empty object:

[code]

[2018-03-05 12:34] Kovensky commented on #10
Fixed by https://github.com/webpack-contrib/mini-css-extract-plugin/pull/9

[2018-03-05 13:19] ganapativs commented on #2
Same issue here.

[2018-03-05 14:51] laozhu opened #12 "Webpack generate unnecessary styles.js file with css entry"
I have two entry, one for javascript bundling, one for css bundling, I use this plugin for extracting css, everything is OK except generating a unnecessary ` styles.af6d7e48e7.js` file in my dist/js folder.

**package version**

[code]

**Webpack entry**

[code]

**Dist structure**

[code]

I use [webpack-manifest-plugin](https://github.com/danethurber/webpack-manifest-plugin) to generat assets `m

[2018-03-05 14:58] #2 closed

[2018-03-05 15:00] #10 closed

[2018-03-05 15:02] sokra commented on #12
Your example doesn't use this plugin

[2018-03-05 15:02] #12 closed

[2018-03-05 15:07] laozhu commented on #12
@sokra I am so sorry for that, I have not commit and push it to remote repo, now the example is using this plugin and run well with `yarn start`

[2018-03-05 18:11] pshurygin opened #13 "SplitChunks configuration does not affect extracted css files"
Hello! I'm using this plugin with webpack 4 splitChunks option configured to extract vendor code to a separate chunk like this:

[code]

It looks like this plugin does not honour this configuration and does not extract vendor css into separate file. Instead it adds vendor styles into every entrypoint css file, which leads to css duplication between several entrypoints. I'm not sure if this is an e

[2018-03-06 08:27] mike1808 opened #14 "Cannot use extract for CSS and SCSS modules"
I have two modules:

[code]

When I try to build the following error appears:

[code]

Repo with bug reproduction https://github.com/mike1808/webpack-example-mini-extract-bug

Also tested with the master branch, the result is the same

[2018-03-06 08:57] ganapativs opened #15 "Please publish the new version 😬"
I'm stuck because of public path issue, the fix was merged yesterday, please publish a new version to reflect the same.

Thanks.

[2018-03-07 09:57] sokra commented on #14
You have multiple `module.rules` blocks. Merge all rules into a single block instead. Add `"use strict";` to the top of your configuration and it would be an syntax error.

[2018-03-07 09:58] #8 closed

[2018-03-07 10:28] #13 closed

[2018-03-07 12:38] sokra commented on #15
done

[2018-03-07 12:38] #15 closed

[2018-03-07 15:21] pshurygin opened #23 "CSS file is not emitted on incremental rebuild in watch mode"
Using mini-css-extract-plugin 0.2.0 with webpack 4.1.0 with this config and -watch option:

[code]

Initial build works fine and outputs css bundle as expected. Whenever i change my scss file, an incremental rebuild is triggered and this changed scss file is clearly shown in the console output, but somehow the emitted css bundle is not changed from the initial build. If i rerun the build from scra

[2018-03-08 00:26] mike-marcacci opened #24 "Out is not run through optimization.minimizer"
I'm not sure if this is a bug or omission in the docs (still wrapping my head around all the webpack 4 changes), but the output is not minimized in production mode using the webpack defaults.

[2018-03-08 07:46] developer-lindner commented on #1
Needs to be added! There were some issues with Cache Busting not working.
contentHash helps there!

[2018-03-08 15:14] sokra commented on #24
yep, by default webpack only comes with a JS minimizer (uglifyjs).

You can add a CSS minimizer via `optimization.minimizer: [...]`

[2018-03-08 15:19] iongion opened #26 "webpack 4 production mode always generates files with numeric prefix"
The following files are generated:

[code]

For this webpack config entry:

[code]

And this css loader setup:

[code]

The same configuration using the `ExtractTextPlugin` was generating files without the `1.` prefix

[2018-03-08 15:30] developer-lindner commented on #26
From Readme.md:

new MiniCssExtractPlugin({
    filename: "[name].css",
  })

You're doing it wrong.

[2018-03-08 15:34] iongion commented on #26
@developer-lindner I have used a previous configuration from https://github.com/webpack-contrib/extract-text-webpack-plugin and hoped that this plugin supports similiar options, but it is not ... man this webpack world ...!

Thank you nevertheless for the help!

[2018-03-08 15:34] #26 closed

[2018-03-08 15:47] developer-lindner commented on #26
@iongion You're welcome! I know... webpack (4) documentation is outdated and one have to do a lot of try and error :/

[2018-03-08 16:02] iongion commented on #26
There are still issues that I do not understand where they come from, now the issue is `css-hot-loader`, for this config:

[code]

when a file is changed, no hot swapping of css happens, although the change is detected, I attached a sample project for you to give it a look, maybe is not from your project, but from `css-hot-loader` itself
[react-demo.zip](https://github.com/webpack-contrib/mini-css

[2018-03-08 17:24] mike-marcacci commented on #24
Thanks @sokra. I couldn't find documentation on how to properly configure `optimization.mimimizier` (It seems that quite a few of the 4.x features are still missing from the webpack site [or I'm too dumb to find them!]).

Anyway, I added `optimize-css-assets-webpack-plugin` back to my config, which works with `mini-css-extract-plugin` exactly the same as it did with `extract-text`. I might suggest

[2018-03-08 21:33] JMSantos94 opened #27 "CSS bundle not generated on production mode"
I am having issues configuring this plugin on `mode: 'production'`. The CSS bundle is not generated. However, for some reason everything works as expected if I switch to `mode: 'development'`. Is this expected?

Here is a minimal setup to test this out:

##### webpack.config.js
[code]

##### src/index.js
[code]

##### styles.css
[code]
------

Here is what I am using:

**OS**: Arch
**webpack**: 4.

[2018-03-08 21:33] wizardnet972 opened #28 "Dependency is undefined@0.2.0"
file: dist/index.js
error: _webpack2.default.Dependency is undefined.
version: mini-css-extract-plugin@0.2.0

[2018-03-09 02:22] lewebsimple opened #29 "Trouble getting source map to work"
Maybe I'm missing something but I can't get the sourcemaps to generate either as a separate file or inline. I'm using the latest webpack (4.1.1) and mini-css-extract-plugin (0.2.0).

Relevant webpack module rules:
[code]

...and plugin:
[code]

Do I need to specify `devtool` property also ?

[2018-03-09 02:35] lewebsimple commented on #29
Nevermind, I figured it out... turns out you actually need `devtool: 'source-map'` after all!

[2018-03-09 02:35] #29 closed

[2018-03-09 06:15] wizardnet972 commented on #28
I solved it by upgrade to webpack@4.1.1

[2018-03-09 06:15] #28 closed

[2018-03-09 08:23] developer-lindner commented on #27
Can't confirm this.

[2018-03-09 08:26] developer-lindner commented on #14
Example:
[code]

[2018-03-09 08:31] developer-lindner commented on #6
Example:

[code]
Maybe helps you out...

[2018-03-09 09:32] Ralvke commented on #6
@developer-lindner it's disables css modules

BTW, the whole problem was in webpack-merge, which injects `style-loader` into production build (facepalm). Closing

[2018-03-09 09:32] #6 closed

[2018-03-09 09:49] iongion opened #31 "Webpack 4 - should work with css-hot-loader"
I have reported an issue on [css-hot-loader](https://github.com/shepherdwind/css-hot-loader/issues/36)
I added it here too because I cannot understand which one is creating the problem.
What is certain is that `css-hot-loader` did work with the `ExtractTextPlugin`

I saw in the *TODO* that this is planned, but there is no opened issue related to it, I wouldn't have reported it otherwise!

[2018-03-09 11:54] VictorKolb commented on #27
On "production" mode I have this errors:
`ERROR in chunk editor_styles [entry]
editor_styles.css
Conflict: Multiple assets emit to the same filename editor_styles.css

ERROR in chunk style_litres [entry]
style_litres.css
Conflict: Multiple assets emit to the same filename style_litres.css

ERROR in chunk style [entry]
style.css
Conflict: Multiple assets emit to the same filename style.css`

This f

[2018-03-09 12:18] vertic4l commented on #27
@VictorKolb your entry seems to be wrong, should be:

[code]

[2018-03-09 13:11] michael-ciniawsky commented on #27
@VictorKolb Please provide more info about your setup. Is the `name` hardcoded e.g `'name: 'styles.css'` ?

[2018-03-09 13:59] AvraamMavridis opened #32 "CSS from node_modules is not include in the generated css"
I am using the module with Webpack 4.1.0
We have a ui-lib that has some components along with there `scss` files.

e.g.

[code]

I am using the plugin like

[code]

The generated css does not contain the classes from the `ui-lib` components
Not sure if my setup is wrong or there is a bug. I see many `undefined` classes.

<img width="473" alt="screen shot 2018-03-09 at 14 57 32" src="https://user-i

[2018-03-09 14:03] VictorKolb commented on #27
@michael-ciniawsky, @vertic4l Thanks for your answers!
if there were errors in the configuration, then in the "development" mode, I would also receive errors, but everything works correctly.

My configuration for the scss build looks something like this:
[code]

[2018-03-09 14:06] vertic4l commented on #27
@VictorKolb Your configuration is soooo wrong...

[2018-03-09 14:09] VictorKolb commented on #27
@vertic4l maybe because I try copy my ExtractTextPlugin config and just replace it with MiniCssExtractPlugin?

[2018-03-09 14:13] vertic4l commented on #27
@VictorKolb Even if you copied it, you didnt understand how this all works out.

[code]

you should have ONE rule for scss. If you really need 3 separate css files in the end than using 3 entry points seems to be ok.

But it seems like you want to include main.scss in 2 others... so you would need 2 entry points,
and import main.scss inside the other 2 scss files.

[2018-03-09 14:13] michael-ciniawsky commented on #27
1. `.css` can't be used as an entrypoint (this will generate an extra .js file)
2. Use only one plugin instance and one `module.rules[i].scss` (without `include`)
3. Use Code Splitting to get logical chunks (`import()`)

**entry.js**
[code]

4. For (S)CSS usage only, consider using `gulp` or the like instead (easier) :)

[2018-03-09 14:28] VictorKolb commented on #27
@vertic4l, thanks you! I just figured out how this should work! As I thought it is differences between ExtractTextPlugin and MiniCssExtractPlugin. With ExtractTextPlugin i must describe rule 3 time, otherwise it did't work correctly. Yes, it is very weird.

@michael-ciniawsky, I don't want importing my scss file inside js. And it is just part of config, I use webpack for js compiling too.

Thank y

[2018-03-09 15:23] ingro commented on #12
Not sure if I should comment here since it's already closed but I do register the same behavior, that's not a big deal indeed, but I always get a style.js file along style.css

[2018-03-09 15:41] michael-ciniawsky commented on #12
You can't use a `.css` file as an entrypoint, this will generate a `.js` file. `import` the CSS file in
 the JS entrypoint instead

**entry.js**
[code]

[2018-03-09 15:52] ingro commented on #12
Well thanks Michael, that was embarrassing, I created the style entry point to better debug some issue while migrating from webpack 3 to 4 and forgot about that!

[2018-03-09 18:12] vict-shevchenko commented on #27
@vertic4l, @VictorKolb  I would not say that the configuration is completely wrong. Its obviously was the modification form extract-text plugin. And in `extract-text` - this was[ a correct way](https://github.com/webpack-contrib/extract-text-webpack-plugin#multiple-instances) to specify several output css files.

[2018-03-09 20:43] JMSantos94 commented on #27
After trying a bunch of things. I went with the simplest configuration I could go with (the one on the README.md), and it worked all fine on `development` but not on `production`. This time I set the logs as verbose: `stats: 'verbose'`, and found this piece of information:

[code]
I fixed it by changing my imports from ES6 modules to CommonJS.

##### src/index.js
[code]
Thanks @developer-lindner f

[2018-03-09 23:06] jaylinski opened #33 "How to avoid loading of extracted CSS?"
I'm using this plugin to extract and inline my critical CSS.
Since the extracted CSS gets inlined in my HTML, it does not have to be loaded anymore.

Can I tell this plugin to not load the CSS it extracted?

If this is not (yet) possible, can it be implemented easily? (I could try and submit a PR)

Otherwise I'll switch back to `extract-text-webpack-plugin`.

[2018-03-09 23:17] michael-ciniawsky commented on #33
Wrapping this [block](https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/index.js#L142-L216) should do the trick

[code]

[2018-03-10 11:45] jaylinski commented on #33
@michael-ciniawsky Thanks for the response!

But it seems I stayed awake for too long and didn't realize that the `html-webpack-plugin` was auto-injecting the CSS (since it's a main chunk) into my HTML.

It seems this plugin isn't loading the extracted CSS automatically at all... :sweat_smile:

[2018-03-10 11:45] #33 closed

[2018-03-10 14:26] krtr commented on #23
same happens with webpack-serve

[2018-03-11 15:11] mdreizin commented on #23
Also I can confirm that it doesn't work for incremental builds.

[2018-03-11 19:25] sandersky commented on #32
I could be wrong but wouldn't your `include` config need to use `node_modules/ui-lib/` instead of `/ui-lib/`? Also is any of your code actually including the `ui-lib` CSS via a CSS `@import` statement or a JS `require`/`import`?

[2018-03-12 03:45] alamchrstn opened #34 "Hot Reload plan?"
is there any plan for supporting hot reload yet?

[2018-03-12 07:33] mike1808 commented on #14
Oops, sorry for that

[2018-03-12 08:26] sokra commented on #34
There is a plan, but not implemented yet.

Eventually this plugin will support HMR.

[2018-03-12 08:29] sokra commented on #24
Yep, I'll do. Or you could send a PR.

webpack 5 will probably include a CSS minimizer by default, just like with uglifyjs.

[2018-03-12 08:29] #14 closed

[2018-03-12 09:23] alamchrstn commented on #34
@sokra awesome will look forward to it. I'm having issue with bundling css at the moment with webpack 4, it's unable to read the changes that I make on the fly even if I try to reload the page. The bundled css seems to still take the old css modules (initial bundle, before the changes were saved). Can I get any help from here? Thanks in advance.

[2018-03-12 11:52] acoll commented on #23
I dug into this a little bit over the weekend so hopefully this is helpful in someway.

I noticed the same issue mentioned above but if I pass along a hash [here](https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/index.js#L119) then I can get it to re-emit the css file. However, the new output isn't the correct updated output, just the same file but rewritten(updated times

[2018-03-12 11:53] VictorKolb commented on #34
@alamchrstn https://github.com/webpack-contrib/mini-css-extract-plugin/issues/23 here a same issue

[2018-03-12 13:04] krtr commented on #34
btw, you can still use styles-loader in development, so it is not a blocker in any way

[2018-03-12 14:11] alamchrstn commented on #34
@krtr thanks for the suggestion. could you please give an example? I'm also using other plugins and loaders as well (including isomorphic and HMR). I'm quite new to webpack so yeah I guess a little bit of guidance and example would be very helpful for me. Thanks once again!

[2018-03-12 14:32] krtr commented on #34
@alamchrstn sure,
here is my webpack.config.js

[code]

[2018-03-12 14:34] alamchrstn commented on #34
@krtr thank you so much! will try to use it and will let you know if I'm having issues 😄

[2018-03-12 14:48] alamchrstn commented on #34
@krtr can I use CSS modules with this?

[2018-03-12 15:09] alamchrstn commented on #34
well might as well put my config right, so here it is
import webpack from 'webpack'
import MiniCssExtractPlugin from 'mini-css-extract-plugin'
import CleanPlugin from 'clean-webpack-plugin'
import { ReactLoadablePlugin } from 'react-loadable/webpack'
import { SRC, APP, STATIC, CONFIG, STYLES, SERVER, ROOT, LOADABLE } from 'configs/paths'
import { isomorphicPlugin } from 'server/isomorphic-tools'

[2018-03-12 16:05] vertic4l commented on #23
Hopefully @sokra got an idea.

[2018-03-12 19:19] mike-marcacci commented on #24
:-) Added a note in PR #35

[2018-03-13 12:24] ripperdoc opened #36 "What's the difference between filename and chunkFilename options"
As the title, it seems sometimes one is used, sometimes the other. Could someone explain?

[2018-03-13 16:10] michael-ciniawsky commented on #36
Async Chunk => `chunkFilename` e.g `import(/* webpackChunkName: "foo" */ './file.css')` => `foo.css`

Sync Chunk (e.g an Entrypoint) => `filename` => `import styles from 'file.css'` (in `entry.js`) => `entry.css`

[Code Splitting](https://webpack.js.org/guides/code-splitting/)
[import()](https://webpack.js.org/api/module-methods/#import-)

[2018-03-15 13:37] gibo commented on #23
I'm also having this issue, to get around it, when running in development mode i replace MiniCssExtractPlugin with style-loader.

[2018-03-15 16:13] creage commented on #23
Playing with hashes doesn't help either. This issue makes watch mode development completely impossible...

[2018-03-16 00:26] benwiley4000 opened #37 "Can filenames support slashes (for directories)?"
Node 8.9.4 macOS High Sierra 10.13.3

Thanks for this project! It's been great so far.

As noted in the readme, the output options are meant to be similar to those for the main webpack config. However, one difference currently is that directory specifications are chopped off the front for the css plugin, while they're respected for JavaScript. It would be great if it were possible to specify a sub

[2018-03-16 01:20] mnpenner opened #38 "Cannot read property 'chunkFilename' of undefined"
I'm getting this error when attempting to compile my project for webpack 4 with `mini-css-extract-plugin`

[code]

I don't see any other error details, so I'm not sure where I would even begin to look for the problem.

I've set up mini-css like this:

[code]

The loaders look like this if you want to see those too:

[code]

I've tried setting the filenames the same as the README too:

[code]

But

[2018-03-16 01:35] mnpenner commented on #38
Going to close this for now. I think it [might be `chunk-manifest-webpack-plugin`](https://github.com/soundcloud/chunk-manifest-webpack-plugin/issues/55) actually.

[2018-03-16 01:35] #38 closed

[2018-03-16 08:33] AvraamMavridis commented on #32
The import is only through JS.

My component are importing components from a shared ui library, there, the components are importing the styles like

[code]

[2018-03-16 09:17] PetrShypila opened #39 "Disabling "Entrypoint..." loader messages"
During the build, I receive the following messages. Is it okay and if yes, is there a way to disable them?

[code]

[2018-03-16 10:53] michael-ciniawsky commented on #32
@AvraamMavridis Could you please post an `@import` example and the relevant part of your `webpack.config.js` ? `resolve.alias` isn't supported by `css-loader` for `@imports`'s btw :). For `node_modules/lib` => `~lib` as a shorthand is supported

[2018-03-16 10:57] michael-ciniawsky commented on #39
**webpack.config.js**
[code]

See https://webpack.js.org/configuration/stats/ for all possible options :)

[2018-03-16 18:36] jscheid opened #40 "Hook for subresource integrity"
Hi, I'm maintaining [webpack-subresource-integrity](https://github.com/waysact/webpack-subresource-integrity) and I'd like to help make the two plugins work together, to ensure integrity for injected `link rel="stylesheet"` tags.

For this there would need to be a way for our plugin to add attributes (`integrity` and `crossorigin`) somewhere around [here](https://github.com/webpack-contrib/mini-cs

[2018-03-16 19:44] dtothefp opened #41 "Disable Async Chunking"
This may be an anti-pattern to what `mini-css-extract-plugin` is trying to accomplish but I'm migrating from Webpack v2 to Webpack v4 in a large React application with many async routes containing CSS modules and `extract-text-plugin` is not working correctly. `mini-css-extract-plugin` works well but async chunking causes some page load animations, etc. to break because previously all of the CSS w

[2018-03-16 21:09] garygreen commented on #41
@dtothefp maybe put up a basic example repository? Hard to advise without seeing the entry points, what splitChunks you've tried etc

[2018-03-16 23:24] garygreen commented on #41
That's a lot of information. Might be worth trimming down your example to the bare minimum (and maybe even removing postcss / sass etc and just work with a basic css, entries and import examples).

In the other thread you said you use `ensure` but in the example your just importing it as part of build chain, so that isn't async?

Anyway, looks like you just want to turn off the default chunking, s

[2018-03-17 02:13] rpivo opened #42 "What's the point of extracting CSS?"
**My apologies if this issue is off-base for GitHub - I've previously [posted it to Stack Overflow](https://stackoverflow.com/questions/49330009/webpack-mini-css-extract-plugin-whats-the-point-of-extracting-css), but it's a little quiet over there.**

I'm using the Mini CSS Extract Plugin to split my CSS into its own file in my `dist` folder of my webpack project.

My `webpack.config.js` file look

[2018-03-17 02:40] michael-ciniawsky commented on #42
Well the answer is as always it depends :) It's totally valid to handle CSS as a separate task in case your application isn't actually that 'complex'. But once your application gets more 'complex' e.g

[code]

**src/index.js**
[code]

**component/index.js**
[code]

**component2/index.js**
[code]

**dist/style.css**
[code]

You will need the `mini-css-extract-plugin`  to extract each components CSS

[2018-03-17 02:43] rpivo commented on #42
Thanks - that makes perfect sense now.

[2018-03-17 02:43] #42 closed

[2018-03-17 04:44] dtothefp commented on #41
hey @garygreen sorry if the example was too in depth...didn't want to spend time setting up my own repo. the essentials are the entry point is a synchronous chunk of css and then there is an async chunk in the route using a dynamic `import`. I can work to put together using a more simple example without postcss / scss and see if that makes any difference.

my problem is the documentation for `spli

[2018-03-17 10:19] pshurygin commented on #41
You can try something like this:
[code]
This will give you a single css file, BUT it will be an asynchronously loaded file(and html webpack plugin wont inject it into your index.html via link tag). That is because it contains styles imported from async chunks. I am not sure if this will work for your case and if there is any kind of workaround to extract all styles as a sync chunk.

[2018-03-17 13:45] dtothefp commented on #41
@pshurygin this is great and so close to exactly what I want. The only problem is the asynchronously loaded file, not because of the html plugin (generally generate stats and create the link tag in HTML myself) but just because I want to load the link in the head and not make an extra call for that.

Do you know if there is anyway to change this behavior?

[2018-03-17 14:55] pshurygin commented on #41
You can also inline styles.js into html with something like this plugin https://github.com/numical/script-ext-html-webpack-plugin to avoid extra server call.

[2018-03-17 17:40] manuelbieh commented on #23
Same problem here. Get's really annoying as I have to restart the whole webpack process every single time I change a single line in CSS. Can't imagine being the only one having this problem as I'm using a pretty standard webpack config.

[2018-03-17 17:52] piehei commented on #23
Please don't post here unless you have something new to share. Otherwise other people following this issue will get email spam for no real and useful reason.

It would be good to give a thumbs up for other commenters if you face a similar situation etc.

:-)

[2018-03-17 17:56] piecyk commented on #23
@manuelbieh looking on this now 😃@piehei yeah 👏

As dirty hack for now  disabling `cache` in config will trick the plugin to alter the extracted css file

[code]

[2018-03-17 17:58] pamtbaau commented on #23
@manuelbieh As an alternative workaround, I'm using `style-loader` for the time being. See `webpack.config.js` below. Css does not get extracted into a separate external file, but does get referenced in the html file like `<link type="text/css" rel="stylesheet" href="blob:file:///253efbed-2c8a-4d59-ae25-1833e8f8bfbb">`

Not sure if it makes a difference, but I'm targeting Electron...

webpack.conf

[2018-03-17 18:07] manuelbieh commented on #23
Will use ExtractTextWebpackPlugin until this is fixed. Not really happy about that but at least it seems to work for me for the time being. Thanks for your help! 🙂

[2018-03-18 20:53] #27 closed

[2018-03-18 21:46] calebeby opened #43 "Export locals as ES2015 Modules"
Hi,

Right now when I use this plugin my bundle ends up having a bunch of these:

[code]

Since this does not use es6 exports and instead uses `module.exports`, webpack is unable to inline these. If this plugin did use es6 exports, my bundle size would be much smaller because they could be inlined:

Code coming out of this plugin:
[code]

Then, after Webpack processes it, the css module would be i

[2018-03-19 08:31] fpsqdb opened #44 "How to override `webpack.output.publicPath`"
this is mini-css-extract-plugin config:

     plugins: [
            new MiniCssExtractPlugin({
                filename: "[name].css",
                publicPath: "../../../"
            })
        ]

but extract-text-webpack-plugin works as expect:

                    use: extractStyle.extract({
                        fallback: "style-loader",
                        use: [cssLoader],

[2018-03-19 22:10] dtothefp commented on #41
@pshurygin I realized from your configuration above it results in the wrong order of css in the bundle.

For example there is css import in the following order:

- the JS entrypoint
[code]

[code]

- the async component inside a dynamic `import`
[code]
[code]

[code]

with the configuration options
[code]

the resulting single bundle for CSS is in the order of
[code]

whereas from the order of imp

[2018-03-20 06:59] pshurygin commented on #41
Do you have a single entrypoint? Couldnt that normalize styles come from it? You could try removing @import to test it or replace it with js import. If not, i guess it could be an issue with the plugin.

[2018-03-20 08:50] es3154 commented on #41
I also need a way of synchronous loading of CSS, put all the style package to a CSS file, because I need to do theme switching function, by switching different CSS theme of switching, but now the style of the pack out contains asynchronous CSS function, whether there is an option to disable the function of the asynchronous CSS? thank you

[2018-03-20 10:28] james-s-turner opened #45 "Support multiple instances of MiniCssExtractPlugin"
The extract-webpack-text-plugin allows you to define[ multiple instances](https://www.npmjs.com/package/extract-text-webpack-plugin#multiple-instances) of the plugin.  Does MiniCssExtractPlugin support the same feature? My end goal is to generate multiple bundles for  SASS themes.

[2018-03-20 12:36] evilebottnawi commented on #1
FYI. From slack:
[code]

It is not necessary to implement this here :star: Just wait next release `webpack@4`

[2018-03-20 12:37] evilebottnawi commented on #1
/cc @michael-ciniawsky what do you think, better wait webpack release?

[2018-03-20 12:38] evilebottnawi commented on #34
PR welcome :+1:

[2018-03-20 12:38] evilebottnawi commented on #39
Look comment above :+1:

[2018-03-20 12:38] #39 closed

[2018-03-20 12:39] evilebottnawi commented on #43
@calebeby PR welcome

[2018-03-20 12:40] evilebottnawi commented on #44
@fpsqdb can you describe use case?

[2018-03-20 12:40] evilebottnawi commented on #40
@jscheid PR welcome :+1:

[2018-03-20 13:02] #36 closed

[2018-03-20 13:07] michael-ciniawsky commented on #44
Yep, please provide a use case as this feature was one of the more 'problematic' ones of ETWP and we should very carefully consider all possible ways to solve this else wise (if possible) before adding `options.publicPath` back to this plugin

[2018-03-20 13:08] michael-ciniawsky commented on #45
Please describe your use case and provide your config, this might not be needed anymore with `mini-css-extract-plugin`

[2018-03-20 13:09] #32 closed

[2018-03-20 13:13] michael-ciniawsky commented on #40
At best this would be usable as generic hook to add code to the JS side of affairs (e.g HMR)

[2018-03-20 14:47] james-s-turner commented on #45
Hi @michael-ciniawsky - thanks for the prompt response. Hopefully this will clarify the need.
I want to create an app with multiple themes - defined as SASS variables.
[code]

When the build runs, a CSS bundle file for each theme is emitted. Each component imports the SASS file containing the theme variables `@import  theme-vars.scss`. I configure the `includePath` of the `sass-loader` to point to

[2018-03-20 15:10] wmertens commented on #23
If someone addresses this issue, it would be nice if there would be a hook that is called when the CSS changes. That way you can send a message to the browser that it needs to reload the CSS. See also https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/577

[2018-03-20 18:30] alexkrolick commented on #45
Another use case is this:

- Vendored stylesheet imports (i.e., Bootstrap and library CSS from node_modules) should be bundled without CSS modules
- App CSS should be bundled with modules in the loader config

In ETWP we'd do:

[code]

[code]

[code]

[2018-03-21 11:28] albertstill commented on #45
Here is an example [repo](https://github.com/albertstill/css-multiple-extracts/blob/5fd5b4d773ff717937ebd484542cadc8f4a66248/webpack.config.js) of me trying to achieve theming with multiple instances of `extract-text-webpack-plugin` and two seperate PostCSS configs. It compiles but no files are written to disk, be great if this library supported the use case!

[2018-03-21 11:46] evilebottnawi commented on #37
@benwiley4000 seems bug, PR welcome :+1:

[2018-03-21 13:39] JounQin opened #46 "SourceMap could not be removed with `devtool: false` and `mode: production`"
https://github.com/JounQin/Rubick/blob/assets/static/app.029a1ec171ca216e26b5.css#L3

sourceMappingURL is not removed.

webpack Configuration: https://github.com/JounQin/Rubick/blob/master/build/base.ts

Reproduction Step: `yarn build` and view `app.*.css` file in `dist/static` folder.

[2018-03-21 13:44] evilebottnawi commented on #46
@JounQin Thanks for issue :+1:

[2018-03-21 13:50] th3fallen opened #47 "Resource Files"
with sass-loader i was able to do something like this to add a resource file to all my scss files

is that possible with this as well? and im just missing it?
[code]

[2018-03-21 13:51] evilebottnawi commented on #47
@th3fallen why? Can you describe use case?

[2018-03-21 13:53] th3fallen commented on #47
Wow! super fast response!

Yes, we have a resources.scss sheet that contains an import to our variables file and mixins so they're available globally in scss sheet without having to import them manually all over the place.

[2018-03-21 14:17] evilebottnawi commented on #47
@th3fallen why import `sass/scss` variables in `css` extracted file? It is does make sense

[2018-03-21 14:19] th3fallen commented on #47
wait am i being totally stupid, do you use this in conjunction with sass-loader? (the goal is to have those variables available to them while they're scss sheets so when they're compiled they dont cry about not having mixins are variables

[2018-03-21 14:25] evilebottnawi commented on #47
@th3fallen i think your question related to `sass-loader`, not `mini-css-extract-plugin`, because this plugin just extract `css` from you bundle (chunks).

[2018-03-21 14:26] th3fallen commented on #47
looks that way, it sounds like i could just use this with sass-loader and all would be perfect since sass-loader compiles it and adds what i need and this would extract. thanks i'll give er a shot

[2018-03-21 15:21] ctbarna opened #48 "Async loading without document context throws errors"
I'm trying to get mini-css-extract-plugin to play nicely with react-loadable on the server. Everything seems relatively easy except that when I run `Loadable.preloadAll()` on the server, `requireEnsure` gets called for every async chunk. If the async chunk has CSS that hasn't been loaded it tries to insert a new link element, a `ReferenceError: document is not defined` gets thrown.

[2018-03-21 15:26] evilebottnawi commented on #48
@ctbarna Thanks for issue. Can you create minimum reproducible test repo?

[2018-03-21 15:37] ctbarna commented on #48
I can give it a shot but I will admit that I am not well versed in bootstrapping an SSR repo. The gist of the issue is that this creates a browser dependency in the webpack`requireEnsure` method.

[2018-03-21 15:40] evilebottnawi commented on #48
@ctbarna without reproducible test repo very difficult find problem :disappointed:

[2018-03-21 16:19] Loykos opened #49 "mini-css-extract-plugin + sass-loader + splitChunks"
I've the follow example configuration to use mini-css-extract-plugin with Webpack 4:

[code]
And the following sass files:
[code]

When I run webpack `vendor.css` is inserted in in `commons.css` bundle while `global.scss` not.

In general every import of `.css` file get processed by splitChunks option (only if extension `.css` is specified in the name) while `.scss` files not.

I have a project wi

[2018-03-21 17:51] michael-ciniawsky commented on #47
For SASS it is better to `@import` them via `sass-loader` for each file since variables will be compiled 'away', while on the other hand for things like CSS Custom Properties, Autoprefixing and Minifaction `postcss` support could be added to handle these tasks on the 'asset level' (the 'whole'  extracted CSS file).

[2018-03-21 20:30] thescientist13 opened #50 "extracted CSS file is being referenced in <script> tag instead of the expected JS bundle file"
## Overview
Not sure if this might be a compatibility issue with **HtmlWebpackPlugin** or not, but after migrating from **ExtractTextWebpackPlugin** as part of webpack v4 upgrade, I am seeing the the main CSS file being referenced where a JS file should be referenced in the built _index.html_.

[code]
notice a `index.css` path within the second `<script>` tag

This causes an Syntax error of "unkno

[2018-03-21 21:43] LeoniePhiline commented on #37
Why is 'css/' required in `filename`, when path is given, containing '/css'?
Shouldn't the correct configuration rather be like follows?

[code]

I'd think with `path: __dirname + '/dist/css'` and `filename: 'css/[name].css'` the resulting filename should be `'(dirname)/dist/css/css/(name).css'`, no?

Is it generally recommended to include paths in the `filename` option, while a separate `path` op

[2018-03-21 21:51] benwiley4000 commented on #37
@LeoniePhiline I didn't actually notice I did that! You're right, you would *think* the path would be concated, but as noted, the filename option for this plugin seems to chop off paths. So it just takes whatever comes after the last `/` and sticks it after the `path` name.

As for:

I have no idea what the "recommendation" is. I agree it's somewhat odd to specify path segments in both `path` and

[2018-03-21 22:02] luigiplr opened #51 "Issue loading chunks in production that have no corresponding css file"
It appears that when this plugin is used in an app that has Javascript chunks that to do not have an corresponding css chunk it causes the underlying Webpack loading code to throw an exception.

The error does not happen in webpack's development mode, so I'm guessing the js minifier (webpacks) that is run on the runtime code during production build is somehow breaking it..

Below are some screensh

[2018-03-22 04:07] #51 closed

[2018-03-22 12:35] jonasIv commented on #48
I had the same issue. If I'm not mistaken, the plugin uses `document.createElement("link")` to load the chunks. Running this server-side results in the reference error.

Here is a solution: Bundle your app for the client and additionally bundle your app for the server. When bundling for the server don't use mini-css-extract-plugin. Instead you use `css-loader/locals`:
[code]
When you bundle the cl

[2018-03-22 13:51] okamiconcept commented on #49
I have the same problem, the scss imports are not chunked (or bad), it seems it's a missing feature from sass-loader which export all scss in one module.

See: https://github.com/webpack-contrib/sass-loader/issues/455

The only solution for the moment is to have only one entry for scss, it results on one big css.

[2018-03-22 14:01] Loykos commented on #49
Just to clarify, with the above configuration i get:
`a.css`
`b.css`
`common.css` => common css only and not common scss import.

@okamiconcept  do you mean I have to create manually a `common.scss` as entry file to import?

[2018-03-22 14:08] okamiconcept commented on #49
@Loykos Yes If you want to create a common css, you have to build it yourself, i hope another person have a better solution to that! :)

[2018-03-23 02:58] itstrive commented on #44
I have the same problem, about `background-image`,
use `url-loader` `limit`options, when less than.

when `npm run buld`, it's result like this:

[code]
however, want't to be:

[code]

**How to config this?**

---

webpack.config.js:

[code]

[2018-03-23 08:38] AvraamMavridis opened #52 "Question: Multiple JS chunks, single CSS chunk"
Is it possible to have multiple JS chunks but a single css output file?

My current setup is:

[code]

This generates 2 JS files, and 2 css files (styles.css, and 1.styles.css)

What I would like to have is a single css file, is that doable?

[2018-03-23 10:21] Akkenar commented on #52
I've been using something like that for the same use-case with success:

[code]

[2018-03-23 12:11] AvraamMavridis commented on #52
Doesnt seem to work for me

![screen shot 2018-03-23 at 13 11 12](https://user-images.githubusercontent.com/283690/37828492-b9c70476-2e9b-11e8-8821-5446e110744a.png)

[2018-03-23 12:12] AvraamMavridis commented on #52
@Akkenar can you share all of the config file please?

[2018-03-23 13:14] Akkenar commented on #52
@AvraamMavridis it seems that I was missing an `enforce: true` on the rule.

You'll find an example project there: https://github.com/Akkenar/CSS-Single-File-Example

Webpack config:

[code]

[2018-03-23 14:15] AvraamMavridis commented on #52
@Akkenar It doesnt really work:

![screen shot 2018-03-23 at 15 14 40](https://user-images.githubusercontent.com/283690/37833928-ee608d2c-2eac-11e8-809e-6e655d75b227.png)

That is my setup:

[code]

[2018-03-23 14:24] Akkenar commented on #52
@AvraamMavridis I'm far from being an expert, but if I were you I'd add `default: false` to the config too to stop the `vendor~` generation (if I'm not mistaken).

[code]

[2018-03-23 19:27] KyleAMathews opened #53 "Don't refetch a CSS chunk if it's inlined into the HTML <head>"
In Gatsby v2, we'll be using webpack 4 and mini-css-extract-plugin. Gatsby tries to always inline the critical CSS for a page — which aligns perfectly with mini-css-extract-plugin's goals. Currently, however, if we inline a CSS chunk, it'll still be loaded once the webpack runtime loads in the client. Discussing this with @sokra, he suggested that we'd adopt a convention where if you add a `data-h

[2018-03-23 20:40] pi0 commented on #48
@jonasIv Thank you for your solution. It also worked for [Nuxt.js](https://github.com/nuxt/nuxt.js) but we have lost critical-path CSS.

[2018-03-23 21:16] 7iomka commented on #44
Same issue!
My sass config modified for webpack 4: https://codepen.io/7iomka/pen/EEvyRK?editors=0010
want't to be:
from DEV in sass file I write:
`
background: url('../../assets/img/catalog/dcp-l5500dn/dcp-l5500dn-sm.jpg');

`
In webpack v3 we written something like this:
[code]

In webpack 4 we don't have to pass publicPath: '../', in config, and
Expected result:
`    background: url(img/dcp-l550

[2018-03-23 21:26] thescientist13 commented on #50
i've upgraded my test branch to the latest version of html-webpack-plugin (3.1.0 at the time of this writing) and the problem seems to be resolved.  Will test in my main upgrade branch and will report back.

[2018-03-23 21:56] thescientist13 commented on #50
Seems to be working my end now after upgrading to latest html-webpack-plugin.  Seems since the version I had (3.0.3) the commits happend, which seem relevant to the issue here
- https://github.com/jantimon/html-webpack-plugin/commit/0348d6b48c7313806bc3350ac6516f1ad1bff645
- https://github.com/jantimon/html-webpack-plugin/commit/020b7148b4869f6fedf6873c1b65c46596e59c89

[2018-03-23 21:56] #50 closed

[2018-03-24 15:31] Akkenar commented on #52
It seems that the vendors are still generated for the CSS.

You could try:

- Add `vendors: false,` in `cacheGroups`, see if this disables the `vendor~` generation
- Try to add priorities to the rules within `cacheGroups`, see if you can have the style one being more greedy.

[2018-03-24 16:19] yiqianglin opened #54 "can‘t split css by chunk"
I want to split css by chunk，but all build into Entrypoint app，generate only one css(app.css). This is my config:
const MiniCssExtractPlugin = require('mini-css-extract-plugin')
![image](https://user-images.githubusercontent.com/15794229/37866138-5a7c3442-2fc1-11e8-8d72-ef58574660b2.png)
![image](https://user-images.githubusercontent.com/15794229/37866143-73b3dabe-2fc1-11e8-9854-06b631f24eac.png)

[2018-03-26 00:19] marcusdarmstrong commented on #1
Shouldn't the chunk hash include the contents of the CSS sources, just as it does for the JS sources?

[2018-03-26 01:02] Kovensky commented on #1
That's what the chunk hash does, yes. This is the content hash for the individual asset.

[2018-03-26 08:24] paulfalgout commented on #37
FWIW it seems like the path must also be a relative path.. using `path.resolve(process.cwd(), './assets/css');`  I had my build css inside my `my-js-path/User/path-to/assets/css'

[2018-03-26 09:59] acambas commented on #44
+1 on this, i have the same issue

[2018-03-26 13:30] marcusdarmstrong commented on #1
Yes; but the CSSModule defined by this plugin doesn't update the chunk hash—it just relies on the updateHash implementation in Module.

Perhaps that should be treated as a separate issue?

[2018-03-26 15:04] sokra commented on #1
The impl has finished. CSS module test has also been added. Just waiting for webpack 4.3.0 release with contenthash support to send a PR.

[2018-03-26 15:11] sokra commented on #52
Do you want to send a PR adding this to the documentation?

`minChunks: 1,` and `reuseExistingChunk: true,` are not needed.

[2018-03-26 15:14] bebraw opened #57 "Allow defining which chunks will be loaded dynamically"
It would be useful to have means to define which chunks are loaded dynamically and which are not. I did a small implementation that allows this:

[code]

I'm not sure of the naming but basically this does the trick for me. I write a manifest which I use later to inline the CSS but you could easily write a CSS file through webpack here as well. You can find my code [here](https://gist.github.com/be

[2018-03-26 15:15] bebraw commented on #54
You could expand on my work at #57. Essentially you have to define a function to write the CSS file through webpack's API. The rest should be there.

[2018-03-26 15:17] bebraw commented on #41
I had a similar problem so I wrote a solution at #57. Tobias might do something more official at some point but this does the trick for now. Essentially I defined a small architecture that allows you to determine which CSS files to capture for an emitting stage. I think this bridges ETWP with MCEP while giving more flexibility.

[2018-03-26 17:38] garygreen commented on #57
All this chunking is getting so complicated. Could the new `splitChunks` option not unify all the chunking across the project, so you define a css group and use the `minChunks` option (in your example - `loadAsync`) in order to determine if it should be chunked? Seems there is so much duplicate of functionality across webpack which is why it's getting so complex.

[2018-03-26 17:57] bebraw commented on #57
@garygreen I think in the ideal case this plugin wouldn't be needed. I hope webpack 5 simplifies this. I had to implement the code above by necessity. 👍

[2018-03-26 18:19] evilebottnawi commented on #44
Use `publicPath` option for loader, look here https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/loader.js#L33. Feel free to ping me if it is not help

[2018-03-27 06:32] Akkenar commented on #52
Thanks for your feedback @sokra .

I'll send a PR whenever I find time.

[2018-03-27 08:04] choyongjoon opened #58 "How can I keep the css order in the css file when I use mini-css-extract-plugin？"
This issue is related to [the issue](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/200) from [extract-text-webpack-plugin](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/200)

How can ensure `core.scss` (global style which is included in the entry file) is before `greenContainer.scss` (component style which is included in a component file)?

Test repo

[2018-03-27 08:41] pshurygin commented on #58
You  should import core.scss before you import App component.

[2018-03-27 09:35] philipstanislaus commented on #1
@sokra thanks, this is awesome! Webpack 4.3.0 has just been released.

[2018-03-27 10:09] Kovensky commented on #49
This is a problem with, I believe, all compile-to-css languages unless you take particular care to not use `@import` or use it in a way that can will not be converted by the compiler itself.

Basically, they work like a C preprocessor `#include`, and will just inline the source code of the `@import`. To webpack, you're really only importing a _single_ `.css` file, and not a `.css` file that import

[2018-03-27 10:11] Kovensky commented on #43
I believe @michael-ciniawsky was working on something like this for the new css-loader.

[2018-03-27 12:21] bebraw commented on #1
This should work now.

[2018-03-27 13:37] bebraw commented on #1
Sorry, my mistake. #59 has to land first.

[2018-03-27 17:28] garygreen commented on #45
Does this functionality not overlap with `splitChunks`? Your essentially wanting to split your different theme files? Seems to me you can just split your rules up so they generate each theme separately and use splitChunks to output them into the correct files?

[2018-03-27 17:39] james-s-turner commented on #45
@garygreen I can't see how that would work. In the end  the SASS processor has to run twice (with different variables files each time) generating parallel sets of CSS. My understanding off chunks is that it's one set of output split into different bits - rather than two separate outputs. I'd happily be proved wrong tho ;-)

[2018-03-27 17:51] garygreen commented on #45
@james-s-turner I'm thinking something along the lines of:

[code]

Or is that just a slightly different way to write what your trying to achieve?

[2018-03-27 19:32] dtothefp commented on #57
@bebraw so were are already waiting for Webpack 5 to solve things that Webpack 4 didn't address 😜 . Thanks for the example, I've resorted to using `react-loadable` and inlining `link` tags for my page specific chunks. This results in double loading CSS though when the loaded async JS inserts the `link` tag for the async CSS. This wouldn't be a problem if I wasn't doing isomorphic rendering of JS b

[2018-03-27 19:34] dtothefp commented on #52
duplicate here https://github.com/webpack-contrib/mini-css-extract-plugin/issues/41

[2018-03-27 19:42] dtothefp commented on #41
I've given up on this effort and resorted to adding an extra `<link>` tag per page that requests the CSS chunk that is associated with the async components loaded on that page. I'm isomorphically rendering my JS to HTML so this is necessary because an async CSS chunk will not be applied on initial page render, whereas my async JS component will be rendered into HTML. Therefore, CSS is loaded when

[2018-03-27 20:47] bebraw commented on #57
@dtothefp I have a SSR use case too. First I write a manifest through my extension and then use it to write critical CSS inline to initial HTML. This works well.

[2018-03-27 20:58] dtothefp commented on #57
@bebraw that sounds cool and similar to what I’m doing. How do you prevent the request for the chunked CSS that you’ve already unlined? Your plugin looks cool but I was hoping to do this with he mini-css-extract-plugin as I thought it was going to be the maintained solution moving forward.

[2018-03-27 21:59] KyleAMathews commented on #57
@dtothefp @sokra added this a day or two ago https://github.com/webpack-contrib/mini-css-extract-plugin#using-preloaded-or-inlined-css

[2018-03-28 00:24] bwhitty commented on #41
@dtothefp did you see https://github.com/webpack-contrib/mini-css-extract-plugin/issues/57#issuecomment-376689709

If the `<link>` tags have the correct URL supposedly this plugin will not try to load it again, thus solving the duplicate loading for SSR'd apps.

[2018-03-28 03:30] andiwinata commented on #53
has the fix been published to npm? seems like it still having the old code

[2018-03-28 06:36] Cople commented on #52
how to prevent styles.js? it's a redundant file.

[2018-03-28 07:26] #1 closed

[2018-03-28 07:29] sokra commented on #52
This need to be solved on webpack side

[2018-03-28 07:29] #52 closed

[2018-03-28 09:23] bebraw opened #61 "Consuming directly from GitHub isn't possible"
If you do `npm i webpack-contrib/mini-css-extract-plugin#2899ed376a290817b03f3280d4f552b9326224ba -D`, the package is missing source making it impossible to use the plugin.

One way to solve this would be to set up a [postinstall script](https://survivejs.com/maintenance/packaging/building/index.html#generating-a-build-on-postinstall).

[2018-03-28 09:31] bebraw opened #62 "GitHub readme doesn't reflect actual functionality"
The stable and development version are two different things with different sets of features. I got burned by this as I tried to use a development feature and there's no easy way to do that due to #61. Maybe it would be better to push development bits to a branch of its own so people don't get confused.

[2018-03-28 14:38] dtothefp commented on #57
@KyleAMathews thanks for the heads up on this....it works great. Only problem is to get it to work I need to compile the `dist` directory for the plugin. @sokra Wondering when we can expect a release?

[2018-03-28 15:03] evilebottnawi commented on #57
Today will be release, also with fix incremental problem.

[2018-03-28 15:52] Baune8D opened #63 "Path variable [contenthash] not implemented in this context"
**Code:**
[code]

**Output:**
[code]

[chunkhash] and [hash] works fine.

macOS: 10.13.3
Node.js: 9.9.0
Webpack: 4.3.0
mini-css-extract-plugin: 0.2.0

[2018-03-28 15:57] evilebottnawi commented on #63
@Baune8D just wait release `mini-css-extract-plugin` today. Thanks!

[2018-03-28 15:57] #63 closed

[2018-03-28 15:57] KyleAMathews commented on #63
@sokra hasn't made a new release yet with contenthash support https://github.com/webpack-contrib/mini-css-extract-plugin/releases

[2018-03-28 16:06] DevSide opened #64 "Path variable [contenthash] not implemented in this context"
I've got this error:

[code]

After adding some debug into `TemplatedPathPlugin:replacePathVariables` function:
- my `account` chunk has `contentHash: { javascript: 'c3b502d300' }`
- data.contentHashType is `undefined`, should be javascript ?

[2018-03-28 16:10] evilebottnawi commented on #64
Dup https://github.com/webpack-contrib/mini-css-extract-plugin/issues/63

[2018-03-28 16:10] #64 closed

[2018-03-28 16:11] #24 closed

[2018-03-28 18:34] waleedahmed3045 opened #65 "Getting Type Error when updated to 0.3.0 from 0.2.0"
I updated from version 0.2.0 to 0.3.0 and I am getting the following error.

I reinstalled node modules but the error only went away when i switched to 0.2.0.

**My Webpack configuration**

**The Error I get**

**The version of my webpack is 4**

[2018-03-28 18:46] pi0 opened #66 "[id] will be a prepended to content hash name even if not used"
Hi.

Testing `0.3.0` with `[contenthash]` support. We use `[chunkhash]` (now `[contenthash]`) only for [Nuxt.js](https://github.com/nuxt/nuxt.js) production builds so even by renaming files, page level chunks won't invalidate the cache.

While `[contenthash]` works great with js, it seems `[id].` will be prepended to the name of `.css` chunks.

![image](https://user-images.githubusercontent.com/51

[2018-03-28 18:53] pi0 commented on #66
Oops, my mistake! `chunkFilename` option should be also provided.

[2018-03-28 18:53] #66 closed

[2018-03-28 19:14] tomatau commented on #65
This seems to be related to webpack as a peerDependency of 4.3 so us consumers will need to ensure we have webpack >= 4.3, not just 4.

[2018-03-28 19:32] waleedahmed3045 commented on #65
@tomatau thank you I had "webpack": "^4.1.1" in package.json didnt know why yarn didnt update the package to 4.3.0.

I updated to 4.3.0 and it resolved the issue. But I still feel webpack should have output a more clear error.

[2018-03-28 19:33] tomatau commented on #65
npm/yarn would have output a warning about the unmet peer dependency

[2018-03-28 19:38] waleedahmed3045 commented on #65
I just retried to see that. But no warning shown by npm/yarn :|

[2018-03-28 19:41] tomatau commented on #65
[code]

[2018-03-28 19:42] waleedahmed3045 commented on #65
I am using yarn not npm. :)

[2018-03-29 01:05] Kovensky commented on #65
yarn also prints the warning, but only if it actually does a lockfile update, so you have to pay attention to the output the first time.

[code]
[code]

[2018-03-29 01:33] Fuji-sunny opened #67 "Can filename/chunkFilename support function type ?"
Much thanks for this project!

Here my project is a multi-page project, which means that I need my dist directory to be like this:
dist/
   |---a/
   |     |---js/
   |     |      |---a.js
   |     |---css/
   |     |      |---a.css
   |     |---html/
   |     |      |---a.html
   |---b/
   |     |---js/
   |     |      |---b.js
   |     |---css/
   |     |      |---b.css
   |     |---html/
   |

[2018-03-29 03:39] zhenbinjing opened #68 "mini-css-extract-plugin supports HMR"
Let mini-css-extract-plugin support HMR as soon as possible

[2018-03-29 03:43] #68 closed

[2018-03-29 05:03] taikongfeizhu opened #69 "Cannot destructure property `createHash` of 'undefined' or 'null'."
when build with mini-css-extract-plugin@0.3.0，the shell show that info：
[code]

[2018-03-29 05:11] taikongfeizhu commented on #69
it's need to update wepback from ^4.1.0 to ^4.3.0

[2018-03-29 10:02] sokra commented on #57
It's released, but the incremental problem is not fixed yet, as it required fixes to webpack too.

[2018-03-29 10:03] #69 closed

[2018-03-29 10:04] sokra commented on #67
Send a PR to allow `function` for `filename`

[2018-03-29 10:05] sokra commented on #62
This is true for most of the github repositories.

[2018-03-29 10:06] #65 closed

[2018-03-29 10:07] sokra commented on #61
This is related to `webpack-contrib/webpack-defaults`.

[2018-03-29 10:08] sokra commented on #57
Regarding the original issue. This plugin just enables webpack to use CSS in chunks. You can use the usual webpack plugins/options to modify the chunk graph. i. e. `splitChunks` or `AggressiveMergingPlugin`.

[2018-03-29 10:08] #57 closed

[2018-03-29 10:09] sokra commented on #57
Inlining could be a html-webpack-plugin**-plugin**. I guess there is already one.

[2018-03-29 10:10] sokra commented on #54
Remove the `style-loader` and `vue-style-loader`

[2018-03-29 10:11] #48 closed

[2018-03-29 10:11] sokra commented on #46
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-03-29 10:14] sokra commented on #37
There is not `path` option for the mini-css-extract-plugin.

Use `filename`.

Example:

[code]

But there is no reason to do that except for aesthetics.

[2018-03-29 10:15] #37 closed

[2018-03-29 10:18] sokra commented on #45
Interesting use case. The same could be supported for the mini-css-extract-plugin. In the same way as it's implemented in extract-text-webpack-plugin.

Send a PR.

[2018-03-29 10:21] JounQin commented on #46
@sokra It should be related to https://github.com/webpack/webpack/issues/6803 and after remove SourceMapDevtoolPlugin it works as expected now, so I'm going to close this issue here.

[2018-03-29 10:21] #46 closed

[2018-03-29 12:18] Legends opened #70 "Question: Are the loaders still evaluated from right to left?"
Are the loaders still evaluated from right to left?
Or did this change with wp v4?

[2018-03-29 12:31] evilebottnawi commented on #70
@Legends can you describe more information? Loaders always works from bottom to top (or from right to left)

[2018-03-29 12:36] bebraw commented on #61
Moved to https://github.com/webpack-contrib/webpack-defaults/issues/102 .

[2018-03-29 12:36] #61 closed

[2018-03-29 12:37] bebraw commented on #70
The loader order didn't change in wp4.

[2018-03-29 12:37] #70 closed

[2018-03-29 12:38] Legends commented on #70
Thanks!

[2018-03-29 12:49] Legends commented on #70
Yeeeaaaaaaaaaaaah, just tossed Text-Extract-Plugin...now it works with webpack 4.
I was tweaking the new optimization section all the time...

Why didn't you say anything.. :D

[2018-03-29 13:41] Legends opened #71 "I get three css bundles instead of one"
I tried to extract all css into a single file, using your [example](https://github.com/webpack-contrib/mini-css-extract-plugin#extracting-all-css-in-a-single-file).
But I end up with three `css` files.

Could someone take a short look, to see what is wrong.

[Here](https://github.com/Legends/mini-css-extract-plugin-test) is a little repo.

**Plugins:**
[code]

and:

[code]

[2018-03-29 13:46] evilebottnawi commented on #71
@Legends can you provide full config, maybe you have multiple entry point

[2018-03-29 15:37] sokra commented on #71
As you're using `scss` files too:

[code]

[2018-03-29 15:39] evilebottnawi commented on #71
Let's add this to documentation :+1:

[2018-03-29 16:10] tim-soft commented on #34
Looking forward to HMR!

[2018-03-30 01:11] felipero opened #73 "Module build failed: TypeError: this[NS] is not a function"
After a fresh install of webpack 4.4.1 and mini-css-extract-plugin I'm getting this error:

[code]

My configuration file looks like this:

[code]
The line with error is this:
[code]
And the value of NS is:

[code]
Any ideas of what it could be?

[2018-03-30 09:44] ferdinando-ferreira opened #74 "[Feature Request] Option to prevent the actual file from being emitted"
Thanks for the excellent module.

Is it possible to have an option similar to file-loader [emitFile](https://webpack.js.org/loaders/file-loader/#emitfile)? The use case is the generation of the server side versions of packages, same use case as the one in the file-loader and the effect is to prevent the actual generation of the file (as it won't actually be used).

Best regards

[2018-03-30 10:09] shepherdwind commented on #31
Did this issue fixed now? My example code work fine now.

[2018-03-30 15:58] james-s-turner commented on #45
@garygreen Unfortunately if you define two loaders with the same test pattern - then only the first one is run

[2018-03-30 16:35] troygibb commented on #44
@evilebottnawi same issue here. I'm using it like so:

[code]

But I'm not seeing publicPath being attached to the query object. I.e.

[code]

..is logging as an empty object. When I log the loader itself (`MiniCssExtractPlugin.loader`), it's just a relative path to the `loader.js` file, so I'm unclear on how to add the option there.

Thanks in advance!

[2018-03-30 16:45] evilebottnawi commented on #44
@troygibb looks like feature, PR welcome :+1:

[2018-03-31 09:05] lubyxu opened #75 "the contenthash is different"
the plugin is updated to the latest version. however,  the same code is bundled twice, the contenthashes produced each time are different.

[2018-03-31 11:42] evilebottnawi commented on #75
@lubyxu can you create minimum reproducible test repo?

[2018-03-31 17:27] ferdinando-ferreira commented on #74
For the moment I ended up using the plugin located at [Ignore Emit Webpack plugin
](/mrbar42/ignore-emit-webpack-plugin), sinking all the css emitted after the build phase.
Would be nice to have it as a configuration in this plugin but that solves the problem fine so I'm closing the issue

[2018-03-31 17:27] #74 closed

[2018-04-02 08:37] lubyxu commented on #75
In the case of the config:
[code]
The outputs of bundle twice as followes:
The outputs of the first bundle:
![image](https://user-images.githubusercontent.com/8433782/38189500-1c5c0de4-3693-11e8-8bcd-716b4edc9260.png)

The outputs of the second bundle:
![image](https://user-images.githubusercontent.com/8433782/38189516-334ab050-3693-11e8-95a9-08b511b853fa.png)

Compared with the results above, the

[2018-04-02 13:59] drewdecarme commented on #50
@thescientist13 solution worked great for me!

Something to note for anybody who is using [React CSS Modules](https://github.com/gajus/react-css-modules)... Make sure you remove the `style-loader` from your chained loaders when using this plugin. It was really throwing me off.

Here is my css/scss loader config just for some reference.

[code]

[2018-04-02 14:06] bspatil0001 opened #76 "TypeError: Cannot destructure property `createHash` of 'undefined' or 'null'."
Even though I disabled the cache(cache: false), it is giving the same error. Has anyone have a solution for that??

[2018-04-02 14:18] evilebottnawi commented on #76
@bspatil0001 please upgrade your `webpack` to latest version. `npm/yarn cache clear && npm/yarn install`

[2018-04-02 14:18] #76 closed

[2018-04-02 14:25] bspatil0001 commented on #76
I am using web pack 4.1.1, after clearing nom cache still it is giving same
error.

Thank You,

With Regards,
Basavanagouda.S.Patil

On Mon, Apr 2, 2018 at 7:48 PM, Evilebot Tnawi <notifications@github.com>
wrote:

[2018-04-02 14:41] bspatil0001 opened #77 "TypeError: Cannot destructure property `createHash` of 'undefined' or 'null'"
I am using webpack 4.1.1, i made cache false, still i am getting the error. Is there a solution for this issue?

[2018-04-02 15:27] pshurygin commented on #77
You should use webpack 4.4.1

[2018-04-02 15:28] evilebottnawi commented on #77
@bspatil0001 Yes please upgrade your webpack to latest version.

[2018-04-02 15:28] #77 closed

[2018-04-02 16:46] bspatil0001 commented on #77
I tried 'npm install webpack@4.4.1' but still I am getting

npm WARN buble-loader@0.5.0 requires a peer of buble@* but none is
installed. You must install peer dependencies yourself.
npm WARN sass-loader@6.0.7 requires a peer of node-sass@^4.0.0 but none is
installed. You must install peer dependencies yourself.

+ webpack@4.4.1
updated 1 package in 14.327s

I tried nom cache clear --force. Then t

[2018-04-02 18:49] troygibb commented on #44
@evilebottnawi nice!! I'll try to get around to it in the next few weeks.

[2018-04-02 19:38] billyjanitsch opened #78 "Naming inconsistency with other webpack plugins"
Why is this project called "mini-css-extract-plugin" rather than "mini-css-extract-webpack-plugin", which is how all other webpack plugins are named?

Could it be renamed, to make consumers' package.json files more intelligible?

[2018-04-03 02:42] abhsrivastava opened #79 "Class names being garbled"
I have this scss file in my project

[code]

I run this scss through the mini-css-extract-plugin. My webpack.config.js is

[code]

and plugins like

[code]
when my page loads, I start the chrome developer tools and go into network -> CSS and I see a foo.css

when I open this file I see

[code]

so h1 is good, but all other class names are somehow garbled.

I don't know why this is happening.

My s

[2018-04-03 04:19] KyleAMathews commented on #79
Because modules: true enables CSS Modules

https://github.com/css-modules/css-modules/blob/master/README.md

[2018-04-03 06:33] bspatil0001 opened #80 "[webpack-contrib/mini-css-extract-plugin] TypeError: Cannot destructure property `createHash` of 'undefined' or 'null'"
I am using webpack 4.1.1.

I tried 'npm install webpack@4.4.1' but still I am getting

npm WARN buble-loader@0.5.0 requires a peer of buble@* but none is
installed. You must install peer dependencies yourself.
npm WARN sass-loader@6.0.7 requires a peer of node-sass@^4.0.0 but none is
installed. You must install peer dependencies yourself.

+ webpack@4.4.1
updated 1 package in 14.327s

I tried nom

[2018-04-03 09:18] hellosmithy opened #81 "mini-css-extract-plugin + postcss-loader"
Running node 8.10.0 on macOS

[code]
With the following config

[code]

I'm finding that only a subset of my css is loaded and postcss-loader seems to not correctly pre-process the css (e.g. css variables are no longer converted, imports don't seem to be followed). If I replace mini-css-extract-plugin with style-loader then everything works correctly (albeit with an inline style tag instead of a c

[2018-04-03 09:30] evilebottnawi commented on #79
Yes, don't related to MCEP, please use `modules: false` for `css-loader`

[2018-04-03 09:30] #79 closed

[2018-04-03 09:31] evilebottnawi commented on #80
@bspatil0001 can you create minimum reproducible test repo? Looks you don't have `webpack@4.4.1`

[2018-04-03 09:33] evilebottnawi commented on #81
@hellosmithy can you disable `minimize: false` or/and add `ident: "postcss-loader"` for `postcss-loader`?

[2018-04-03 09:35] bspatil0001 commented on #80
I tried 'npm install webpack@4.4.1' but still I am getting

npm WARN buble-loader@0.5.0 requires a peer of buble@* but none is
installed. You must install peer dependencies yourself.
npm WARN sass-loader@6.0.7 requires a peer of node-sass@^4.0.0 but none is
installed. You must install peer dependencies yourself.

+ webpack@4.4.1
updated 1 package in 14.327s

I tried nom cache clear --force. Then t

[2018-04-03 09:43] evilebottnawi commented on #78
@billyjanitsch it is PoC future css build-in support in `webpack`. Not require rename also it will be confuse  for people who already use plugin. But you are right it should be `mini-css-extract-webpack-plugin`. Feel free to feedback.

[2018-04-03 09:43] #78 closed

[2018-04-03 10:26] bspatil0001 commented on #80
Here is my repo https://github.com/bspatil0001/webpack-test.git

[2018-04-03 10:55] bspatil0001 commented on #77
Here is the test repo ere is my repo https://github.com/bspatil0001/webpack-test.git

it is giving undefined function error.

[2018-04-03 10:56] bspatil0001 commented on #76
Here is the test repo ere is my repo https://github.com/bspatil0001/webpack-test.git

it is giving undefined function error.

[2018-04-03 11:35] hellosmithy commented on #81
@evilebottnawi just tried both settings and neither seem to make a difference

[2018-04-03 11:42] evilebottnawi commented on #81
@hellosmithy remove `importLoaders` ?

[2018-04-03 11:44] bspatil0001 opened #83 "webpack /webpack-test/node_modules/mini-css-extract-plugin/dist/index.js:198 compilation.hooks.contentHash.tap(pluginName, chunk => { ^ TypeError: Cannot read property 'tap' of undefined"
earlier I was getting
`[webpack-contrib/mini-css-extract-plugin] TypeError: Cannot destructure property `createHash` of 'undefined' or 'null'`

Now
When I do
webpack --version
I am getting 4.1.1

I tried 'npm install webpack@4.4.1' but still I am getting

`
➜  webpack-test git:(master) ✗ npm install webpack@4.4.1
npm WARN test-webpack@1.0.0 No description
npm WARN test-webpack@1.0.0 No repository

[2018-04-03 12:00] hellosmithy commented on #81
@evilebottnawi again no change - I've simplified my css imports to a couple of files for testing purposes and seeing the same issue. It looks like postcss.config is no longer being followed possibly. I've tried with and without specifying the path to postcss.config in postcss-loader

[2018-04-03 12:07] evilebottnawi commented on #81
@hellosmithy very strange, can you create minimum reproducible test repo?

[2018-04-03 12:13] paul-ivannikov commented on #81
@hellosmithy you lose plugin in your configuration file
[code]

[2018-04-03 12:43] hellosmithy commented on #81
@paul-ivannikov sorry I just missed that off my issue description, but I do have the plugin.
I'll get a repo set up to try and re-create the problem

[2018-04-03 14:00] nicksrandall commented on #73
I'm not sure if this will help but I was getting this error only on my dev builds because I was only adding the plugin on prod even though both prod and dev were both using the loader.

[2018-04-03 14:47] hellosmithy commented on #81
@evilebottnawi @paul-ivannikov sorry in setting up the example repo I've discovered the problem - I was inadvertently overwriting my postcss.config settings in the webpack config. Apologies for the false alarm!

[2018-04-03 14:47] #81 closed

[2018-04-03 15:36] bspatil0001 commented on #80
I tried to upgrade my webpack, but it it not getting updated my webpack. I
have my test repo, friend npm install webpack@4.4.1, but in vain. I have
given msgs I am getting when I tried to upgrade webpack.

On Tue 3 Apr, 2018, 8:54 PM Gwendolyn Faraday, <notifications@github.com>
wrote:

[2018-04-03 15:45] flekschas opened #84 "Handling background images failes for SASS > CSS"
**Version: 4.0.0** (node v8.9.0  ; webpack v4.4.1; postcss-loader v2.1.3; css-loader: v0.28.11; autoprefixer v8.2.0; sass-loader v6.0.7)

I am having the following config and try to convert SASS to CSS, process it with PostCSS, and ultimately pass it to MiniCssExtractPlugin:

[code]

Unfortunately, when the following kind of styles cause `MiniCssExtractPlugin` to complain that it's not able to han

[2018-04-03 17:00] evilebottnawi commented on #75
@lubyxu PR https://github.com/webpack/webpack/pull/6943

[2018-04-03 19:00] LouisTakePILLz opened #85 "Single-file configuration emits JS assets in its own chunk group"
Webpack issue here https://github.com/webpack/webpack/issues/7300
___
I tried using the ["Extracting all CSS in a single file"](https://github.com/webpack-contrib/mini-css-extract-plugin/tree/e200b083e5a437026d6021262d4ac56088b39e65#extracting-all-css-in-a-single-file) configuration from the README.
It works fine for the most part, except that the className mappings (created by `css-loader` ) are

[2018-04-03 20:16] flekschas commented on #84
Turns out I had to disable `url` matching and explicitly set `publicPath`. If anybody else is seeing this check https://github.com/postcss/postcss-loader/issues/160#issuecomment-271082726

[2018-04-03 20:16] #84 closed

[2018-04-03 22:08] claviska commented on #83
I had this error and updated webpack globally:

[code]

Solved it for me.

[2018-04-03 22:57] felipero commented on #80
Have you tried remove . your node_modules directory and run npm again?

[2018-04-03 23:40] felipero commented on #73
@nicksrandall what do you mean by adding to prod? Do you mean adding to "dependencies" instead of "devDependencies"?

If so, I tried here and it didn't work.

[2018-04-04 01:28] athimannil opened #86 "Sass doesn't not compiling wind webpack 4"
I am getting error with webpack 4.41

![screen shot 2018-04-04 at 3 24 11 am](https://user-images.githubusercontent.com/4364227/38283701-cd38577e-37b7-11e8-9c43-10a4af20d0c0.png)

Here is the current webpack configuration

Not sure how to fix it 😞

[2018-04-04 01:31] felipero commented on #73
I found out something that It might help. `this[NS]` is undefined when requiring from HTML, like that: `<link rel="stylesheet" type="text/css" href="<%=require('./main.css')%>" />`

NS still have the same value, but `this` won't have the key.

[2018-04-04 13:11] OzzyCzech commented on #34
There is nice workaround with https://github.com/shepherdwind/css-hot-loader

First detect HMR state:

[code]

Configure rule:

[code]

Setup css filename (there is a limitation in css-hot-loader see https://github.com/shepherdwind/css-hot-loader#attention)

[code]

[2018-04-04 13:14] evilebottnawi commented on #34
@OzzyCzech Can you send PR to implement this feature, looks it is not hard

[2018-04-04 15:27] marc0n3 opened #87 "CSS file contains javascript if project has dynamic module import"
I've tried this plugin after extract-text-webpack.
I've got issue in webpack 4.* (4.5 actually) and mini-css 0.4.

As soon as I add a dynamic import to my project, the css contains the javascript of the dynamic module.
Same code without dynamic-import works
fo reference:
https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/762

[2018-04-04 15:47] marc0n3 commented on #87
Sorry, removing all references to ExtractTextPlugin from my webpack config did solve the problem, thank you guys for the good work!

[2018-04-04 15:47] #87 closed

[2018-04-04 15:49] evilebottnawi commented on #31
@iongion @shepherdwind Looks like bug was fixed https://github.com/webpack-contrib/mini-css-extract-plugin, feel free to feedback of problem still exists. Thanks!

[2018-04-04 15:49] #31 closed

[2018-04-04 16:27] dstarosta opened #88 "Add the "disabled" option"
ExtractTextPlugin has a disabled option that can be used to easily disable it during hot reload or watch builds. It would be a nice enhancement to the MiniCssExtractPlugin as well.

[2018-04-04 16:59] sokra commented on #86
remove the style-loader

[2018-04-04 16:59] #86 closed

[2018-04-04 17:43] michael-ciniawsky commented on #88
**webpack.config.js**
[code]

That's the 'generic' way to do it within `webpack.config.js` applicable to all kind of `env || mode` related settings, no need to add an extra option here...

[2018-04-04 17:43] #88 closed

[2018-04-04 17:57] dstarosta commented on #88
The problem is you would have to add the same conditional logic to the loader which gets messy if you support multiple CSS formats (CSS, LESS...).

Otherwise, webpack throws the following error:

Module build failed: TypeError: this[NS] is not a function

[2018-04-04 18:15] michael-ciniawsky commented on #88
It seems that `MiniCSSExtractPlugin` doesn't support the `fallback` anymore, so a `disable` option wouldn't add any benefit here since you need to handle the loader part manually anyways...

**webpack.config.js**
[code]

[2018-04-04 20:51] skosch opened #89 "One CSS per entry point"
extract-text-webpack-plugin used to give me one CSS per entry point. Now if I understand correctly my only options are maximum splitting, or everything lumped together into one file as per the Readme example (which curiously gets named `0.css` despite the `name` field).

There seems to be no documentation yet on how `splitChunks: { cacheGroups ... }` works, just a few scattered examples. Can I use

[2018-04-04 22:15] skosch commented on #89
Ah, never mind -- seems to be related to https://github.com/webpack-contrib/mini-css-extract-plugin/issues/23

[2018-04-04 22:15] #89 closed

[2018-04-05 01:51] LouisTakePILLz commented on #85
That test rule doesn't get rid of the js file but it shrinks it to 61 bytes:
[code]

Any idea why it doesn't get rid of the JS file entirely?

[2018-04-05 06:59] OzzyCzech commented on #34
or maybe @shepherdwind can help us with that

[2018-04-05 12:41] BenSwennen commented on #73
After updating to webpack 4.5.0, this seems fixed for me

[2018-04-05 15:04] princesoni1989 opened #90 "mini-css-extract-plugin with SSR."
How can we use `mini-css-extract-plugin` with SSR and server bundle.I tried using it is gives error
`document is not defined`

[2018-04-05 15:37] devanflaherty commented on #34
Might be a dumb question.
But would HMR work if we just disabled mini-css-extract for local development?

On Apr 5, 2018, 12:59 AM -0600, Roman Ožana <notifications@github.com>, wrote:

[2018-04-05 15:38] Bnaya commented on #34
@devanflaherty that what's i do :P

[2018-04-05 16:42] devanflaherty commented on #34
@Bnaya : What are you doing to disable it?
Extract Text Plugin had an option to 'disable' and I haven't seen that in the docs.

[2018-04-05 16:46] sorcal commented on #34
@devanflaherty you're right, that solution works in simple case (when you just need to create 1 css file). However, I couldn't make it working when I needed just a part of css bundle.

[2018-04-05 16:48] sorcal commented on #34
@devanflaherty, I just removed MiniCssExtractPlugin from webpack plugins and replaced MiniCssExtractPlugin.loader with 'style-loader' in rules

[2018-04-05 16:50] Bnaya commented on #34
More or less:
[code]
[code]
[code]

[2018-04-05 17:05] evilebottnawi commented on #90
@princesoni1989 looks like a bug/feature. Can you create minimum reproducible example?

[2018-04-05 17:57] bwhitty commented on #90
I'd recommend reading https://github.com/webpack-contrib/mini-css-extract-plugin/issues/48#issuecomment-375288454

[2018-04-05 20:04] victordidenko commented on #44
[code]
looks like working for me

[2018-04-06 12:54] wadouk commented on #44
To make it work:
 * use a publicPath in devserver
 * use a relative path on the plugin entry (not loader)
 * use a relative path in filename in output

[2018-04-06 13:07] victordidenko commented on #44
@wadouk I think you don't understand an issue.

If you use plugin like
[code]
then all resources inside CSS file (like background images, fonts) become with wrong urls, they need to be prepended with `"../"`, because your css file inside folder `css/`.

This is not publicPath on devserver, which completely different thing, and publicPath on plugin entry is not working, as reported by @troygibb . A

[2018-04-06 17:05] lcxfs1991 opened #91 "Support modifying filename"
https://github.com/webpack-contrib/extract-text-webpack-plugin#modify-filename

Wondering if this plugin could support this feature the same as `extract-text-webpack-plugin`.

[2018-04-06 17:14] glen-84 commented on #91
Duplicate of #67.

[2018-04-06 18:40] glen-84 opened #92 "[path] placeholder"
`[name]` returns the name of the chunk that imports the CSS file, from what I understand. I need to get the name/path of the imported CSS file.

The file-loader has a `[path]` placeholder that returns `The path of the resource relative to the context`. Is it possible to add something similar to this plugin?

(either that, or add this information to the [filename function](https://github.com/webpac

[2018-04-07 04:14] yyx990803 commented on #85
I also ran into this same problem - the 61 byte chunk is small but `html-webpack-plugin` will attempt to inject it into the HTML.

[2018-04-07 14:06] lcxfs1991 commented on #67
@evilebottnawi @sokra

I look into the source code today and find that a bit difficult to just pass a `function` to `filename` option.

Any suggestions for what we can do?

[2018-04-07 14:09] evilebottnawi commented on #67
@lcxfs1991 https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/index.js#L103 just add before check on function and if function run it and save in filename

[2018-04-07 14:14] lcxfs1991 commented on #67
@evilebottnawi Are you at Gitter? Let me discuss with you there.

[2018-04-07 14:34] evilebottnawi commented on #67
@lcxfs1991 give me link

[2018-04-07 14:38] lcxfs1991 commented on #67
@evilebottnawi https://gitter.im/webpack/webpack

[2018-04-07 18:53] yyx990803 commented on #85
@LouisTakePILLz yeah, I ended up with a temporary hack: prepending the content of the chunk to the main entry file.

[2018-04-08 03:38] LouisTakePILLz commented on #85
@fmal doesn't work for me. Can you share your config?

[2018-04-08 06:44] #91 closed

[2018-04-08 09:42] fvigotti opened #93 "sass-loader + mini-css-extract-plugin , ignore sass dependencies, generated css is missing in the output dir"
I'm totally new to webpack, and I'm not sure if I'm wrong or the software is, but after days lost about this , to me seems a bug.. , to make the things easy to reproduce I've created a demo project:

https://github.com/fvigotti/webpack-problem-scss

here is the whole code :
https://github.com/fvigotti/webpack-problem-scss/commit/02521d1ccaf0ea1a5fd0bab4024206d5eee3fbe7

the readme contain the bug

[2018-04-09 09:31] philipp-spiess opened #94 "Access Entrypoint Chunk Name At Runtime"
We're using `mini-css-extract-plugin` to generate a CSS entry point that we're dynamically appending to the contents of an `<iframe>` at runtime.

To enable long-term-caching, we'd love to add a content hash to the resulting `.css` file. This works great and is [documented here](https://github.com/webpack-contrib/mini-css-extract-plugin#long-term-caching).

However, since we're manually loading th

[2018-04-09 09:36] montogeek commented on #94
A manifest file could be useful for your case: https://github.com/danethurber/webpack-manifest-plugin

[2018-04-09 09:56] philipp-spiess commented on #94
@montogeek The manifest file would emit a _new_ file which would need to be loaded at runtime and which would not be allowed to have long-term-caching enabled. And there's of course also an additional performance penalty for loading and parsing another file.

I was wondering if there's a solution to inline the contents of this file into the main entry point to have it available in the webpack runt

[2018-04-09 13:28] fvigotti commented on #93
I've found the problem,
In package.json ( which I've inherited from another project )
this :
[code]
caused this issue,
I don't know why if affected the only the scss and not the css,  even when they are bot handled by same module ( and same rule ) only the css ( maybe is a bug, but minor in this case )  is exported and not the sass , anyway removing this from my sample project , now works :)
I'll

[2018-04-09 13:28] #93 closed

[2018-04-10 14:25] felipero commented on #73
@nurbek-ab and @nicksrandall Adding to prod on webpack didn't fix the error for me.

[2018-04-10 14:26] kenborge commented on #44
Setting publicPath as @victordidenko mentioned worked for me as well

[2018-04-10 14:27] nurbek-ab commented on #73
@felipero Add it to both prod and dev configs.

[2018-04-10 14:29] felipero commented on #73
@nurbek-ab On my example over there, that config is the common config between dev and prod. Which means it is already added to both dev and prod. The issue for me is when I require it directly from the html.

[2018-04-10 14:40] nurbek-ab commented on #73
@felipero I am not sure if it helps but try to update webpack to 4.5.0

[2018-04-10 15:02] felipero commented on #73
@nurbek-ab Did it already. Didn't solve either. I just tried again and whenever I add a require to the index.html it breaks. Worth mention that I'm using the `HtmlWebpackPlugin`.

[2018-04-10 15:09] aboeglin commented on #52
Is this supposed to work at the moment ?

[2018-04-11 15:23] eemeli opened #95 "Add option to retain a require('./file.css') call in the JS source"
I'm developing an internal React component library for a client. The styles for the components are in SCSS, and I'm using this plugin to extract each component's styles into separate CSS files, so they don't need to be re-compiled from SCSS on each application build.

As these components will be used in a situation where they'll be re-packaged as a web app using something like Webpack or Rollup, I

[2018-04-11 15:55] tim-soft commented on #73
I had this issue when using less-loader down the chain, adding the `javascriptEnabled: true` fixed it for me, not sure if related

[code]

[2018-04-11 16:11] evilebottnawi commented on #83
@bspatil0001 yes, look you have old version of `webpack`. Thanks!

[2018-04-11 16:11] #83 closed

[2018-04-11 16:11] evilebottnawi commented on #73
It is bug, feel free to fix it

[2018-04-11 16:15] evilebottnawi commented on #73
Bug happens only when you add loader, but don't add plugin

[2018-04-11 16:18] evilebottnawi commented on #73
Also somebody can create minimum reproducible test repo with `HtmlWebpackPlugin`?

[2018-04-11 18:42] dougalg opened #96 "Auto-load entry css chunk"
It seems that right now, any CSS that is imported in the entry chunk gets split out (as expected) but does not get automatically loaded in the same way that chunk CSS does. It seems useful to have the option of either automatically loading that CSS chunk asynchronously, or just keeping it in bundle and loading it via style-loader or similar.

[2018-04-11 19:58] gavinlynch commented on #73
@nicksrandall thanks for this, I was accidentally blowing away the plugin portion of this in my dev setup via Object.assign and forgetting it's not a deep merge. User error, fixed for me.

[2018-04-12 02:18] yaderick opened #97 "how to use less-loader"
.less file how to ues?

[2018-04-12 11:32] Diokuz opened #98 "rebuild css modules with defined order"
Hi there)

I wrote [a-webpack-plugin](https://github.com/Diokuz/a-webpack-plugin) which makes it possible to generate super short css classNames, like `.a` `.b`... `.zz` ...
My plugin works with ExtractTextPlugin, and it doesn't with `mini-css-extract-plugin` (

The problem is that when I _rebuild_ css modules in a proper order, _mini-css-extract-plugin_
 just drops all css files → no css output a

[2018-04-12 13:01] sokra commented on #90
Don't use this plugin in a server bundle. Use `null-loader` or `css-loader/locals` (for CSS modules) instead.

[2018-04-12 13:02] sokra commented on #92
This doesn't make sense. What's you use case for this?

[2018-04-12 13:14] sokra commented on #96
It should be loaded by the HTML, via `<style>` tag

[2018-04-12 13:14] sokra commented on #97
see less-loader

[2018-04-12 13:14] #97 closed

[2018-04-12 13:41] glen-84 commented on #92
If I do this:

`scripts/main.ts`
[code]

... the CSS file is saved to `scripts/main-57a9c47e715c86dc8071.css`. However, I obviously want CSS to be saved to a location based on the path it was imported from (`/styles` in this case).

This is similar to #67, and if that function has enough data in the arguments provided, it might be a viable alternative.

Either that, or CSS entrypoints 😛 ([related]

[2018-04-12 14:25] dougalg commented on #96
Hi @sokra, thanks for replying. I just want to say that I appreciate all your (and everyone else's) hard work on Webpack, and I think it's an amazing build tool.

So, if we are building a component/plugin/etc then users must load the css themselves? That would work in many cases (although not my use case, unfortunately). Is the problem with having this as an option that it would overly complicate

[2018-04-12 14:46] Diokuz commented on #98
Thanks! Will do that.

[2018-04-12 15:37] Diokuz commented on #98
Here we are https://github.com/Diokuz/a-webpack-plugin/tree/master/webpack4-mini-css-extract-plugin

It works with ExtractTextPlugin@4 ([example](https://github.com/Diokuz/a-webpack-plugin/tree/master/webpack4)), but I cannot use it because of https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/767

[2018-04-12 15:41] Diokuz commented on #98
Actually https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/767 has the same symptoms

[2018-04-12 18:16] TheSharpieOne commented on #73
This seems to be an issue when the loader and the plugin are not coming from the same source. I have a case where I have abstracted away a lot of my configurations to be easily imported into various projects to make things easier to manage. I noticed that `NS` was set to the plugin's path, but the loader's path is on the `this` context. Since those paths are different, it cannot find the plugin's

[2018-04-12 19:37] felipero commented on #73
@evilebottnawi Here it is: https://github.com/felipero/mini-css-extract-plugin-ns-bug

[2018-04-12 23:30] ccorcos commented on #45
@michael-ciniawsky the goal is just to be able to create more than one CSS file. Any suggestions

[2018-04-13 08:29] yantakus commented on #29
Why doesn't it work with `devtool: 'cheap-module-eval-source-map'`? Would be very useful to have this information in the readme.

[2018-04-13 18:39] glen-84 commented on #92
@sokra,

I should have mentioned, I use paths for my chunk names, and not simple names like "page1".

By using:

[code]

My JavaScript files are written to subdirectories of the output path (when using `[name]` in the filename template).

If a JS file references a CSS file, and the mini-css-extract-plugin filename template is set to `[name]-[contenthash].css`, the CSS file is written to `scripts/m

[2018-04-13 19:58] kevindurb commented on #89
#23 doesnt seem to address your question of one css per entry. I also want to do this, did you find a way to do this?

[2018-04-13 23:02] dozm commented on #85
Is there any news about？

[2018-04-14 16:10] frlinw commented on #93
I can confirm :
[code]
remove from the build the css file generated with mini-css-extract-plugin

[2018-04-16 10:49] leebenson commented on #34
Is there any plan to make this plugin directly compatible with `style-loader`?

In my [Launch.js CSS/Sass/Less/PostCSS preset](https://github.com/launchjs/styles), I'm using Mini-CSS-Extract to extract styles via the client config, along with css-hot-loader on top of it to push hot reloads.

I _could_ put this inside the server config and just leave the client config to use style-loader, but that

[2018-04-16 11:03] evilebottnawi commented on #34
/cc @sokra

[2018-04-16 16:36] martynchamberlin opened #99 "Support for Aurelia <require> syntax in .html components"
In the [Aurelia](http://aurelia.io/) framework, you can have HTML components that require CSS in them with statements like this:

[code]
It'd be wonderful if MiniCssExtractPlugin was able to parse such HTML and extract the resulting CSS into `.css` files. Right now as a workaround I'm having to move them to the component's JS file, in order for MiniCssExtractPlugin to detect that they exist.

[cod

[2018-04-17 17:18] lukepolo commented on #37
This seems not to work, webpack emits  :

[code]

[code]

My app entry point is `js/app` but don't want to follow that entry point for output.

[2018-04-17 17:52] evilebottnawi commented on #37
@lukepolo can you create minimum reproducible test repo and new issue?

[2018-04-17 18:03] lukepolo commented on #37
Probably, ill see what I can do. Working on a plugin that wraps around webpack so ill have to generate a new test to mimic what is happening. Ill post back here when I get the chance.

[2018-04-17 19:40] ericcirone commented on #85
@fmal taking out `enforce: true` fixes everything for me as well.

[2018-04-17 21:45] danez opened #102 "Does not bundle all imported css files"
I have a weird problem:
I have a [js file](https://github.com/reactjs/react-tabs/blob/master/examples/src/app.js#L3..L4) that imports a css file and a less file. The imported less file is included in the extracted file the imported css file is not.

Now I think this might have todo because I recently added code splitting here: https://github.com/reactjs/react-tabs/blob/master/examples/src/componen

[2018-04-18 02:10] skosch commented on #89
@kevindurb sorry about the late reply – did you get it to work? What issue are you having exactly?

[2018-04-18 06:35] CPatchane opened #103 "Handle svg usage in styles (svg loader extract mode)"
Hi here 👋

I did use some SVG files directly in style codes (CSS or stylus) and for now, it was handled correctly by ETWP. When I use MCEP, it doesn't handle it and the SVG loader throws errors like:

[code]

I may miss something out but the `svg-sprite-loader`, in [extract mode](https://github.com/kisenka/svg-sprite-loader/blob/0f4d0413889fac6ddf82d2c5a2108b9760c6ccd0/examples/extract-mode/README

[2018-04-18 06:58] danez commented on #102
Even when I remove the codesplitting it still does not work.

[2018-04-18 09:59] evilebottnawi commented on #102
@danez thanks for issue, in near future i will investigate

[2018-04-18 10:01] evilebottnawi commented on #103
@CPatchane look on error, you don't add `SpriteLoaderPlugin` in plugin array

[2018-04-18 14:03] sbuckpesch commented on #73
I use Webpack 4.5 and I got this error as well. **I fixed it by adding**

[code]

to my plugin section. I know that this was not the problem above... Just in case someone does the same mistake I did... :-)

[2018-04-18 17:13] lukepolo commented on #37
Hmmm , yah seems to work just fine, sooo just my problem then !

[2018-04-19 11:11] Diokuz commented on #98
Any suggestions so far?)
Is it a bug, or should I use something else?

[2018-04-19 11:18] evilebottnawi commented on #98
@Diokuz need fix this bug and send PR

[2018-04-19 12:14] PetrShypila opened #104 "Confusing README with process.env.NODE_ENV"
I might be missing something but it is written here [1] that `process.env.NODE_ENV` is not available **within** the build script. So is there any reason why author uses it in README examples:

[code]

[1] https://webpack.js.org/guides/production/#specify-the-environment

[2018-04-19 12:54] denglai commented on #104
出现同样的问题

[2018-04-19 12:56] evilebottnawi commented on #104
@PetrShypila Because you don't setup `NODE_ENV` in your script. Run `NODE_ENV=production webpack` in npm script

[2018-04-19 12:56] #104 closed

[2018-04-19 16:07] lukepolo commented on #45
We also have something like this where we have our `sass` styles getting extracted, then wanting to extract our `vue` styles to a different file.

[2018-04-20 08:49] alexanderchr commented on #102
Noticing this too. No styles from external packages appear in the bundled css.

[2018-04-20 08:58] belgattitude commented on #93
Can confirm too, also with sodeEffects: false...

[2018-04-20 16:47] lukepolo commented on #45
@sokra is there any guidance on how you would like it done?

Should we :
Attach something to each `loader` in its `options` to check if the `chunk` should be extracted?

Or is there another way you wish this to be done?

[2018-04-20 17:57] toBeTheLight commented on #73
@felipero
Yes, this happens when I only add loader. After added it to plugins too, it works.

[2018-04-20 18:09] felipero commented on #73
@toBeTheLight Not sure I understood what you meant. In my example I added the loader AND the plugin: https://github.com/felipero/mini-css-extract-plugin-ns-bug/blob/master/webpack.config.js#L7

Could you clarify what you mean by `added it to plugins too`?

[2018-04-20 18:26] ftorre104 commented on #73
I had seen it mentioned on this thread. Still, I was stung by accidentally using the `MiniCssExtractPlugin.loader` without the plugin on my server build.

Details: I am using webpack to build both server and client. I have shared webpack config objects in one file. I was accidentally mutating the css loader object, adding the MiniCssExtractPlugin.loader to it on the client side webpack config. The

[2018-04-20 23:14] fillippeyton opened #105 "Extract CSS from SCSS and deferred lazy load into app"
I have a few SCSS theme files I want to extract to CSS files and later load them into the page. I want to be able to use `contenthash` for long term caching.

Since I'm using Webpack 4, I am using mini-css-extract-plugin. I started down the path of creating a splitChunks in my webpack config.

    // webpack.config.js
    module.exports = {
      plugins: [
          new MiniCssExtractPlugin({

[2018-04-21 00:50] fillippeyton commented on #105
Related issue: #94

[2018-04-21 05:55] lexsemenenko commented on #80
I have the same issue using Webpack 4.6.0

[2018-04-23 02:57] denglai opened #106 "生产环境没有抽离出css"
![1524452064 1](https://user-images.githubusercontent.com/20442608/39104884-0c6303d6-46e5-11e8-8b72-92597356bd02.jpg)
![1524452094 1](https://user-images.githubusercontent.com/20442608/39104885-0cbb426c-46e5-11e8-89db-6f2aa0fc8203.jpg)
![1524452110 1](https://user-images.githubusercontent.com/20442608/39104886-0d019bcc-46e5-11e8-9d71-091b090ee26d.jpg)
![1524452165 1](https://user-images.githubuser

[2018-04-23 03:06] Onelin commented on #106
小伙儿你起码google翻译一下吧...
把style-loader注释打开,把MiniCss放到style-loader的后面试一下

[2018-04-23 03:14] denglai commented on #106
试了一下，还是不可以啊，尴尬了……………………

[2018-04-23 03:25] denglai commented on #106
![1524453911 1](https://user-images.githubusercontent.com/20442608/39105533-0d27fb06-46e9-11e8-927d-7f905884b09d.jpg)

[2018-04-23 03:30] Onelin commented on #106
那从你的代码里我看不出什么来了,我在我的项目里是可以提取到的~~~

[2018-04-23 03:32] Onelin commented on #106
对了,你在哪个环境下用的这个插件,开发还是生产 是不是环境问题.这个插件只需要在生产中用到

[2018-04-23 09:52] evilebottnawi commented on #103
@CPatchane Yes, looks like bug in `svg-sprite-loader`. We use same logic for `ETWP`, but need depply investigate, feel free to debug and search problem, also you can create issue inside `svg-sprite-loader`

[2018-04-23 09:52] evilebottnawi commented on #106
Please use English. Thanks!

[2018-04-23 09:52] #106 closed

[2018-04-23 09:56] daru23 commented on #102
I am having the same issue. If you find the solution, could you please update. Thanks a lot.

[2018-04-23 09:57] evilebottnawi commented on #102
Looks like a bug, feel free to investigate and fix PR

[2018-04-23 11:09] vincent-cm opened #107 "Extract css aot build failed when @import from a external url"
ERROR in ./src/styles/styles.scss (./node_modules/css-loader??ref--12-1!./node_modules/postcss-loader/lib??ref--12-2!./node_modules/less-loader/dist/cjs.js??ref--12-3!./node_modules/sass-loader/lib/loader.js??ref--12-4!./src/styles/styles.scss)
    Module build failed:

    @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
    @import url("https://fonts.googleapis.com/css?

[2018-04-23 11:11] montogeek commented on #107
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-04-23 11:33] evilebottnawi commented on #107
@vincent-cm you have invalid configuration for loaders, after `sass-loader` you run `less-loader`. Why?

[2018-04-23 11:34] evilebottnawi commented on #107
@vincent-cm If you create boilerplate better use same way https://github.com/kriasoft/react-starter-kit/blob/master/tools/webpack.config.js#L126

[2018-04-23 11:46] vincent-cm commented on #107
Thanks @evilebottnawi That is my mistake

[2018-04-23 11:46] #107 closed

[2018-04-23 18:31] fillippeyton commented on #105
Also related: https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/455#issuecomment-289622702

[2018-04-23 22:37] dtothefp commented on #23
This is not the same issue but I'm having the problem with `webpack v4.6.0`, `mini-css-extract-plugin v0.4.0`, and `hard-source-webpack-plugin v0.6.4`, that if CSS is unchanged between builds then no CSS file is generated. To be clear these are subsequent builds not rebuilds using `compiler.watch` or Webpack Dev Server.

I put together an example repo here

https://github.com/dtothefp/hard-cache-m

[2018-04-24 01:10] felipero commented on #73
@tech4him1 Please, read the code on the description of this issue. An image to help: http://jmp.sh/sIV2NCK
Would also be nice if you read my comments after the first one. :)

[2018-04-24 08:22] denglai opened #108 "In production environment, CSS failed to extract"
![image](https://user-images.githubusercontent.com/20442608/39174492-80a956b4-47da-11e8-8b20-4039fdb99890.png)
index.js
![image](https://user-images.githubusercontent.com/20442608/39174534-9395b2c2-47da-11e8-86f7-e39517ded444.png)
webpack.common.js
![image](https://user-images.githubusercontent.com/20442608/39174587-bee9ecea-47da-11e8-902f-620d7064b04e.png)
webpack.prod.js
![image](https://user-im

[2018-04-24 10:08] cyiannatsos opened #109 "Cannot generate CSS file from SCSS"
Hello I have managed to setup a boilerplate project for react development. At this point I followed the documentation of the plugin and it is working as expected. The only thing I haven't managed to do it to extract any scss or css files to a style.css file in dist repository.

My Scripts:

`"start": "webpack-dev-server --config ./webpack.config.js --mode development",
"prod": "webpack --config ./

[2018-04-24 10:15] evilebottnawi commented on #109
@cyiannatsos please use `gitter` or `stackoverflow` for question. Also without minimum reproducible test repo hard to say what wrong, maybe you just forget `@import` scss file

[2018-04-24 10:43] cyiannatsos commented on #109
Will do that apologies for asking in the repo issues. In case you want to test for verification in the documentation here's the files. npm install and you're good to go.

[react-setup.zip](https://github.com/webpack-contrib/mini-css-extract-plugin/files/1942348/react-setup.zip)

[2018-04-24 13:54] Hanterdro opened #110 "Path of extracted css file"
Hey,

is it possible to get the path of an imported CSS/SCSS file with mini-css-extract-plugin?

[code]

I tried it with

[code]

But file-loader just returns the SASS file and not the extracted CSS File.

[2018-04-24 13:59] evilebottnawi commented on #110
@Hanterdro webpack is **static** build tools, after extract css you loss css in your graph build and it is impossible handle this import. you should manually load extracted files (or include you `html`)

[2018-04-24 14:04] Hanterdro commented on #110
Dam it. I was afraid that the answer is that is not possible.
Maybe this will work when Webpack includes in the next major version hopefully the extract feature natively.

Would be really nice if I would get the extracted URL - for web components ;)

[2018-04-24 14:05] evilebottnawi commented on #110
@Hanterdro if you create minimum reproducible test repo and describe what you have and what you expected i think we can find best solution for this

[2018-04-24 14:15] Hanterdro commented on #110
The problem is very easy: Web Components with shadow DOM have a scoped CSS.

If I use a CSS framework like Bootstrap in my app the CSS framework classes are not available in the Web Component.

A way to get the CSS framework in the web component would be to bundle the CSS Framework in the Component... but having a complete instance of the framework in each Web Component is... a waste of space ;)

[2018-04-24 14:19] evilebottnawi commented on #110
@Hanterdro Hard to understand, because i am not familiar with web components, maybe this loader can solve your problem https://github.com/webpack-contrib/polymer-webpack-loader?

[2018-04-24 14:32] Hanterdro commented on #110
Not really, we don’t use Polymer. We do vanilla Web Components.

This is a basic problem of Webpack. It is not possible in Webpack to include a CSS file on an other place than the body if you use the html-webpack-plugin in combination with a extract text/css plugin.
The `link` tag will be always placed into the body. But for web components I need the ´link` tag in the web component, because of the

[2018-04-24 14:48] evilebottnawi commented on #110
@Hanterdro Hm, looks like `web-components-webpack-loader`, we can start this if you have idea around implementation

[2018-04-24 20:58] tomxhu opened #111 "Generated hash on root file"
Is there a way to generate a hash for the root css even if there aren't any chunks for it?
![untitled](https://user-images.githubusercontent.com/3477616/39213856-a67a2c78-47e0-11e8-9224-0ba5e957843c.png)

Is this coming from the default output location?

[2018-04-25 09:34] evilebottnawi commented on #111
No, if you don't do import css files it is impossible to generate hash, you can use `CopyWebpackPlugin` for this - just copy source from src location and add hash. Thanks!

[2018-04-25 09:34] #111 closed

[2018-04-25 13:41] tomxhu commented on #111
widget.css is generated from mini-css-extract plugin, not a static file

[2018-04-25 13:44] evilebottnawi commented on #111
@tomxhu use options for plugin
[code]

[2018-04-25 13:53] tomxhu commented on #111
I have ```const extractCssPlugin = new MiniCssExtractPlugin({
    name: `assets/[name]-[contenthash]${getFilenameSuffix(ENV)}.css`,
    chunkFilename: 'assets/[name]-[contenthash].css',
  })``` for my plugins, do I need to use that for my loader as well?

[2018-04-25 15:57] dtothefp opened #112 "Cache Invalidation With hard-source-webpack-plugin"
#### Problem
If using the hard-source-weback-plugin https://github.com/mzgoddard/hard-source-webpack-plugin upon 2nd build no CSS file is emitted for files processed with mini-css-extract-plugin. I have an issue on hard-source but it is not being addressed https://github.com/mzgoddard/hard-source-webpack-plugin/issues/301 and I'm wondering if there is something internally that could be done to min

[2018-04-25 19:11] alexanderchr commented on #102
I've investigated it further and the issue seems to appear when using `import` statements to load styles from packages with scoped names. Using require or loading styles from non-scoped packages seems to work fine.

[2018-04-26 15:10] dtothefp commented on #41
Looks like there is a blurb in the README right now on how to address this issue:

https://github.com/webpack-contrib/mini-css-extract-plugin#extracting-all-css-in-a-single-file

I haven't tried it out though because I've moved to embracing chunking CSS and using `react-loadable` to discover the async chunk name / path and adding the `<link>` for in my HTML

[2018-04-27 07:58] gigobyte commented on #45
We use multiple instances of ETWP, one to handle css and one to handle scss so that the different formats end up in a different file.

[code]

[2018-04-27 10:43] evilebottnawi commented on #45
Somebody can provide real use case for two instance?

[2018-04-27 11:47] sokra commented on #102
react-live has `sideEffects: false` in it's package.json. This flags all modules as side effect free. But this is incorrect as css files have a side effect (adding styles to the DOM). As you are not using any export of the imported css webpack flags the css file as unneeded and doesn't include it in the css bundle.

Instead the package.json should do `sideEffects: [ "*.css" ]`.

You can also overr

[2018-04-27 12:14] alexanderchr commented on #102
Looks like all the packages I tested with scoped names have ‘sideEffects: false’ in their package.json. The ones without scope don’t. So my conclusion above is invalid - thank you for the clarification sokra. I think this issue can be closed.

Out of curiousity: why does ‘require’ work in this case? Do using it imply that you desire side effects?

[2018-04-27 13:27] evilebottnawi commented on #45
@lukepolo it is solved by code splitting, i.e `splitChunks.cacheGroups`, you need split you themes to own bundles and when `mini-css-extract-plugin` extract css automatically

[2018-04-27 13:30] lukepolo commented on #45
Mind showing an example ? Or to some documentation, very little knowledge in that subject

[2018-04-27 13:33] evilebottnawi commented on #45
Forget about this plugins as plugins, it is PoC build-in css extract in future `webpack` release with build-in css support. All extract to difference files should be done using `splitChunks.cacheGroups`, think about `css` same as about `js`,  you need split you css to own bundle and plugins extract css self. No options in future `webpack` css support for multiple instance.

[2018-04-27 13:49] lukepolo commented on #45
Ok so basically what your saying is all we need todo is :

[code]

[2018-04-27 17:04] andosteinmetz commented on #45
Thanks @evilebottnawi. The application is already doing some code splitting, but mulitple instances of ETWP was a quick hack to output to another directory. I will look at the documentation for `splitChunks.cacheGroups`.

[2018-04-27 17:06] evilebottnawi commented on #45
@ccorcos `extract-text-webpack-plugin` is not for extract css and can don't works with css in future, you need rewrite configuration when webpack do next release. It is bad practice

[2018-04-27 17:24] evilebottnawi commented on #45
I leave this issue open for question. Please try to use `splitChunks.cacheGroups` for code splitting first and when `mini-css-extract-plugin` automatically extract your `css`. Feel free to question.

[2018-04-27 17:36] garygreen commented on #45
Honestly, I don't think Webpack 4 should of shipped if the docs weren't ready. There were blog posts going around selling Webpack 4 yet how are us mere mortals suppose to upgrade without any guidance / documentation? It's not ready, so it's only a partial release atm, IMO.

Personally, I'm skipping W4 and looking forward to W5. Hopefully everything will be ironed out by then. 😃

[2018-04-27 17:49] evilebottnawi commented on #45
@garygreen yes, we got a lesson, next major release will be with migration guide and updated docs. `webpack` always will be free (we use crowding for rewards contributors). In spite of this, we still have a big drawback with contributors. Right now i am one on `webpack-contrib` :smile:

[2018-04-27 19:42] lukepolo commented on #45
@evilebottnawi Thanks for maintaining this beast!

[2018-04-28 14:55] thecrypticace commented on #85
Removing `enforce: true` doesn't work for me because, while everything gets put into one CSS file:
1. It is based on the bundle name _not_ the split chunk name.
2. Other defined CSS chunks don't get split into separate files. They're all fed into the CSS file named after the entry.

[2018-04-28 15:03] thecrypticace commented on #85
Here's a repo: https://github.com/thecrypticace/webpack-css-chunks-test/tree/e2980de31d3bbed3630b36975da841f61e595e05

[2018-04-28 16:08] Diokuz commented on #98
Cool! So, it is a confirmed webpack4 bug and it will be fixed in near future?

[2018-04-28 16:27] lukepolo commented on #45
Just to give an update :

We got it working perfectly , except #85 is now going to cause an issue.

Here is the repo for anyone else trying following :

https://github.com/thecrypticace/webpack-css-chunks-test/

[2018-04-28 16:37] evilebottnawi commented on #45
@lukepolo Awesome, confirm https://github.com/webpack-contrib/mini-css-extract-plugin/issues/85 it is bug, need fix, feel free to PR

[2018-04-28 16:39] thecrypticace commented on #85
I'm looking at writing a plugin (as a proof-of-concept) that taps into `compilation.hooks.beforeChunkAssets` to attempt to remove the extra javascript chunks.

Would that be the right approach or would there be a better one?

[2018-04-28 16:41] thecrypticace commented on #85
Sorry, to be clearer I'm doing that to get access to the chunk template to tap into `template.hooks.renderManifest` because that's where it appears the javascript file is being added.

Though I guess ideally there'd be a way to not even populate the file at all.

[2018-04-28 16:59] evilebottnawi commented on #85
/cc @sokra

[2018-04-28 21:18] amir20 opened #113 "Vue + vue-loader 15 + webpack 4 + mini-css-e-p creates multiple css files"
I am losing my mind. I have googled for hours and don't know what else to try. I am moving from EWP to this module and I can't get to produce one css file.  I have also updated to latest `vue-loader`.

**Webpack Confg**
[code]

**Version**
`mini-css-extract-plugin@0.4.0`
`vue-loader@15.0.4`

**Bug**
`NODE_ENV='production' webpack --progress --mode production`
Produces this...

<img width="1221" al

[2018-04-29 19:07] thecrypticace commented on #85
I got a bit further with this. I was able to figure out how to remove the generated assets but unfortunately they still get added to the deferredModules list in the entry. I'm think it is because chunks exist for them _and_ they get generated into multiple assets (one .css and one .js). I very well could be misunderstanding how that works, though.

I'm not sure how to go about fixing that.

Exampl

[2018-04-29 19:21] abhsrivastava opened #114 "MiniCSSExtract Plugin is not emitting any CSS"
I am using mini-css-extract-plugin version 0.4.0
node version: v9.10.1

My webpack.config looks like

[code]

However when I run my project using `yarn start` and access it from the browser `http://localhost:8080` and I go into the network tab. I don't see any CSS file. My hope was that my SCSS file will be converted into a CSS file and that CSS file will be visible in the network tab.

This is a

[2018-04-29 20:06] bawjensen opened #115 "Multi-entry point config: Ordering not matching JS import order"
Versions involved:

Node: v8.10.0

package.json:
[code]

Example project showing the bug in question: https://github.com/bawjensen/mcep-order-bug

You can see I have two entry points, `entry-one.js` and `entry-two.js`. They import their styling in a different order from each other, importing `one.css` then `two.css` or vice versa. However, as you can see in the `dist-example/output-one.css`/`dist-

[2018-04-29 23:01] jason0415 commented on #73
Adding `new MiniCssExtractPlugin() in the plugins array` solved the issue for me.

[2018-04-30 01:59] ezzatron opened #116 "Multiple entrypoints with one output file per entrypoint"
Is this supported by MCEP? It was possible in ETP, because each loader was tied to an instance of the plugin:

[code]

But MCEP I'm not sure if it's possible to achieve the same thing, because there is only one loader (`MiniCssExtractPlugin.loader`), and so it cannot distinguish which inputs belong to which instance of MiniCssExtractPlugin.

[2018-04-30 10:55] mishelen opened #117 "Hashing Issue. Changing styles cause invalidate script hash"
maybe I'm not in the right place writing. But the situation is that after migration to Webpack 4 I had to change the style extractor to `mini-css-extract-plugin` from `extract-text-webpack-plugin`. From now on hashing began not to work properly: if I change styles, the hash of entry scripts changes, but if I change scripts, the hash of styles does not change.

I use the same settings as I did with

[2018-04-30 11:08] evilebottnawi commented on #117
@mishelen yes, it is bug, not in plugin, inside webpack. Ref https://github.com/webpack/webpack/issues/7138. Thanks for issue

[2018-04-30 11:08] #117 closed

[2018-04-30 11:14] evilebottnawi commented on #114
@abhsrivastava Looks like a bug :+1:

[2018-04-30 11:15] mishelen commented on #117
@evilebottnawi Thank you. It remains only to add +1 to the specified issue and add a reference to my repo

[2018-04-30 11:15] evilebottnawi commented on #116
You don't need multiple instances, please read https://github.com/webpack-contrib/mini-css-extract-plugin/issues/115

[2018-04-30 11:15] #116 closed

[2018-04-30 14:57] amir20 commented on #113
@evilebottnawi I was able to reproduce this by creating a really simple Vue application. Here is the repo: https://github.com/amir20/vue-mini-css.

There are three [entry points](https://github.com/amir20/vue-mini-css/blob/d421d5c2428777be2c36d11ea992744b1a858307/webpack.config.js#L6-L9). One CSS file and two other javascript files.

[code]

After doing `npm run build`, it should create `styles-co

[2018-04-30 15:00] evilebottnawi commented on #113
@amir20 how about this https://github.com/thecrypticace/webpack-css-chunks-test/blob/master/webpack.config.js#L61, looks some people extract css from vue doing this setup

[2018-04-30 15:03] amir20 commented on #113
I saw that as well. My goal was to create one css file. I imagine I could put the two rules together, but does it make sense to go through all these configurations to do this? I imagine having a bunch of vue files with css is a common pattern that many people plan to do.

[2018-04-30 15:09] amir20 commented on #113
Hmmmmm. I can't get that to work either...

[code]

Am I doing something wrong? :(

[2018-04-30 15:16] amir20 commented on #113
Doing `enforce: true` gets me closer to having everything in other-styles.css. I have to go to work now but I'll check back soon.

[2018-04-30 15:18] frlinw opened #118 "mini-css-extract-plugin & sideEffects incompatibility"
Webpack 4.x
NodeJs 8.x/10.x

File generated by mini-css-extract-plugin is removed from the build because of sideEffects.

Confirmed with following values:
[code]

Refer to https://github.com/webpack-contrib/mini-css-extract-plugin/issues/93 (closed by the author but unfixed)

[2018-04-30 16:14] bawjensen commented on #115
@evilebottnawi if it were an issue within `webpack` itself I would've assumed the CSS ordering would be broken for `style-loader` like it is for MCEP. But as I mentioned the CSS gets injected into the DOM in the correct order.

I could be off-base here. My familiarity with webpack plugins is pretty minimal.

[2018-05-01 05:05] ezzatron commented on #116
Thanks for pointing me at that issue. I managed to get multiple themes extracted, but unfortunately it completely stops ALL the JavaScript in my main bundle from running. My React app basically becomes a blank page.

I also think I hit #85, because each theme is also outputting a useless `.js` file. I'm not sure if that's related to the whole app breaking, but I noticed [this comment](https://gith

[2018-05-01 12:48] nass600 commented on #113
Exact same problem here. My configuration differs in using `MiniCssExtractPlugin.loader` in the `vue` rules:

    {
        test: /\.vue$/,
        loader: [
            {
                loader: 'vue-loader',
                options: {
                    loaders: {
                        scss: [
                            'vue-style-loader',
                            MiniCssExtractPlugin.loa

[2018-05-01 14:38] amir20 commented on #113
I am still not sure how to do this.  I am waiting for `vue-cli` to integrate with `vue-loader` v15 and how they plan to do it.

[2018-05-01 18:41] verydanny opened #119 "Multi entry dynamic import configuration"
### Issue

**version:**
[code]

I have a multi-entry SSR configuration, where each entry is its standalone application. Specifically mobile (entry small), desktop (entry large), and amp (entry amp). The mobile and large use CSS resources from each other, as well as pulling in components and UI (dynamically and not) from a resolved 'components' and 'ui' directory.

[code]

ExtractTextPlugin extract

[2018-05-01 21:25] verydanny commented on #119
Gonna mark this as solved. If anyone needs this, here's a _decent_ solution:

optimization: {
  splitChunks: {
    cacheGroups: {
	  stylesLarge: {
	    name: 'large',
		test: (m, c, s = 'large') => m.constructor.name === 'CssModule' && recursiveIssuer(m) === s,
		chunks: 'all',
		enforce: true,
	  }
    }
		    }
		  },

[2018-05-02 11:31] evilebottnawi commented on #116
@ezzatron `test: function (...argf) => { console.log(args); }` and you can see all modules

[2018-05-02 11:33] evilebottnawi commented on #119
@verydanny Can you send PR with your soluttion to README?

[2018-05-02 12:45] elhariri opened #120 "can't get my css served in a react universal app!"
Hi, i'm trying to build an isomorphic react application, i've added mini-css-extract-plugin in my client webpack config. in my server i'm using renderToString and pushing the string in my html like this :

[code]

the build is compiled perfectly but i can't get css on my page (the css file is imported in my root component app)

[2018-05-02 12:51] evilebottnawi commented on #120
@elhariri can you create minimum reproducible test repo?

[2018-05-02 13:08] elhariri commented on #120
@evilebottnawi i'm new to development in general and i'm afraid that it would take me a lot of time to create it (i'm creating for free a free educational wwebsite for a non lucratif association and it's really taking me a lot of time) so is it ok if i just copied my server, my client and server webpack config and my main react component files if it's ok i'll post them as soon as possible i don't

[2018-05-02 13:09] nass600 commented on #113
@sokra Anything we are oversighting in order to make this work that you know about?

[2018-05-02 13:15] evilebottnawi commented on #120
@elhariri feel free to ping me when you done this. Thanks minimum reproducible test repo it is hard to detect where problem happens

[2018-05-02 16:35] elhariri commented on #120
i servit directly from the server with the renderFullPage function, if it's not a good practice please guide me

[2018-05-02 16:40] evilebottnawi commented on #120
@elhariri i can't know it is good solution for your use case or not, please use for this `stackoverflow`, `gitter` or `slack`

[2018-05-02 16:51] elhariri commented on #120
Oooh sorry, and thank you for your reply :).

[2018-05-03 07:14] 132yse commented on #44
+10086 on this, IIIIIIII have the same issue,too!

[2018-05-03 09:08] evilebottnawi commented on #44
Somebody can create minimum reproducible test repo?

[2018-05-03 09:35] dongqizhen opened #122 "when the env is production,it generated css file is empty,but in development is right"
this is my config in config.js

const devMode = process.env.NODE_ENV !== 'production'

in optimization:

splitChunks: {

            cacheGroups: {
                styles: {
                  name: 'styles',
                  test: /\.scss|css|sass$/,
                  chunks: 'all',
                  enforce: true
                }
            }
        },

in rules:
            {

[2018-05-03 10:01] victordidenko commented on #44
@evilebottnawi `publicPath` option for loader works as expected, as you said. See my [comment above](https://github.com/webpack-contrib/mini-css-extract-plugin/issues/44#issuecomment-379059788).

[2018-05-03 10:06] evilebottnawi commented on #44
Hm what is problem, your want rewrite all assets in css using `publicPath`? It is impossible you should configure publishPath options for loader

[2018-05-03 10:07] evilebottnawi commented on #122
@dongqizhen please use for this `stackoverflow`, `gitter` or `slack`, it is bug tracker, not QA service. Thanks!

[2018-05-03 10:07] #122 closed

[2018-05-03 10:16] victordidenko commented on #44
That is exactly what my [comment](https://github.com/webpack-contrib/mini-css-extract-plugin/issues/44#issuecomment-379059788) about. Do you follow conversation?

[2018-05-03 10:53] evilebottnawi commented on #44
Also rewrite absolute URLs to relative inside your css should be done by css minificator.

[2018-05-03 10:54] victordidenko commented on #44
I think it should be documented though. In readme there is nothing about possible options for loader.

[2018-05-03 10:56] evilebottnawi commented on #80
Just ensure you update `webpack` to latest version. `npm/yarn cache clear -- forece && npm/yarn install`, also check you can install webpack globally. Thanks!

[2018-05-03 10:56] #80 closed

[2018-05-03 10:58] evilebottnawi commented on #44
@victordidenko yep, you are right

[2018-05-03 12:43] davityavryan commented on #67
Hi guys,
Any news regarding this change?

[2018-05-03 12:54] evilebottnawi commented on #67
PR welcome

[2018-05-03 14:44] gkatsanos commented on #29
Could the maintainer of this plugin clarify whats happening here?

[2018-05-03 14:46] gkatsanos commented on #29
@SirKlaus

Where did you see that? I don't see this in the readme.

[2018-05-03 17:10] gkatsanos opened #123 "SourceMaps for imported SASS partials don't work"
assuming we have the following project:

an app.vue file, importing an app.scss file.
mini-css-extract correctly extracts an app.css file.
I use     `devtool: 'source-map',`.

the app.scss file in question does a series of `@import 'variables'; @import 'mixins'; @import 'buttons';` and so on.

When inspecting the HTML/CSS, I don't see the actual partial file, but only app.scss as the source of my

[2018-05-03 18:11] evilebottnawi commented on #123
@gkatsanos looks like bug, feel free to investigate this and send PR :+1:

[2018-05-03 18:41] gkatsanos commented on #123
let's see if others will pop up here to make sure it's not config specific. it's not blocking us right now but at least what I wanted is from someone to validate my configuration isn't messed up. specifically I had these questions:

- is the order of loaders correct?
- does the plugin (mini-css-extract) receive options implicitly enabling sourceMaps?
- is minicssextractplugin part of the CSS loade

[2018-05-03 20:32] nmonterroso opened #124 "Inconsistent chunk styles and possible missing docs"
Node v9.9.0, latest packages installed, [sample project](https://github.com/nmonterroso/css-chunk-issue-demos)

I'm noticing a couple issues, not sure if it's a webpack bug or for this project:

1. Depending on the order in which chunks are loaded it's possible for styles to be inconsistently applied to the page
2. Possible missing documentation for using single css chunk.

The second seemed relat

[2018-05-03 20:49] evilebottnawi commented on #124
https://github.com/webpack-contrib/mini-css-extract-plugin#extracting-all-css-in-a-single-file

Is that something missing?

[2018-05-03 20:53] evilebottnawi commented on #124
We don't have a lot of time on documentation :disappointed: If you have some ideas how we can improve this, PR welcome. Right now I'm almost alone support all `webpack-contrib/*` repos and have regular job. It is hard to answer all. You can also investigate what happens and if it is bug send PR to fix it.

[2018-05-04 13:17] andrastothtw commented on #29
I have an error when both `css-loader` and `less-loader` is set to `sourceMap: true`.
[code]

The error message:

Module build failed: ModuleBuildError: Module build failed: TypeError: Cannot read property 'context' of undefined
    at Object.<anonymous> (/Users/andras.toth/IdeaProjects/contact-form-frontend/node_modules/css-loader/lib/loader.js:101:58)
    at Array.map (<anonymous>)
    at Object

[2018-05-04 13:35] gkatsanos commented on #29
source-map doesn't work HMR.

[2018-05-04 18:16] evans863 opened #125 ":root issue, ordering issue, or css module issue when using postcss-loader"
I've been working on getting postcss-loader working with mini-css-extract-plugin. I saw another postcss-loader issue that's been closed but it looks like he was overriding his postcss config with his webpack config. I don't believe this is the case with me.

I've created a small React application with a couple components. Each component has it's own CSS file (e.g. `./src/ModuleOne/ModuleOne.css` a

[2018-05-04 18:27] evilebottnawi commented on #125
I will investigate this in enar future. Feel free to ping me If there are no answers within 72 hours, a lot of issue, thanks!

[2018-05-04 19:08] lukepolo commented on #116
@ezzatron Yah #85 is why your js broke, if you include the extra emitted JS file it should work fine.

[2018-05-05 07:51] defghy commented on #119
Same problem. For me this way is not working
property 'name' in issuer is always undefined
so I use other property 'resource' and success to bundle a single entry css file
`m.constructor.name === 'CssModule' && rootIssuer.resource === entryPath`
but my html-webpack-plugin's order is broken, and css not insert at all
`
new HtmlWebpackPlugin({
      title: '',
      template: path.resolve(__dirname,

[2018-05-05 08:41] michaelize opened #126 "Error: Didn't get a result from child compiler"
[code]
I'm having the following error. I'm using vue-loader and @rails/webpacker

ERROR in ./node_modules/quill/dist/quill.snow.css (./node_modules/css-loader??ref--6-1!./node_modules/postcss-loader/lib??postcss!./node_modules/resolve-url-loader!./node_modules/mini-css-extract-plugin/dist/loader.js!./node_modules/css-loader??ref--13-1!./node_modules/postcss-loader/lib??ref--13-2!./node_modules/qui

[2018-05-05 11:57] evilebottnawi commented on #126
@michaelize Can you create minimum reproducible test repo?

[2018-05-05 15:35] DanielRuf opened #129 "hanging / not starting CircleCI tests"
All current tests are pending and there is no CircleCI config file in the repository.

https://github.com/webpack-contrib/mini-css-extract-plugin/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc

[2018-05-05 15:37] evilebottnawi commented on #129
/cc @d3viant0ne

[2018-05-05 20:11] michael-ciniawsky commented on #118
A CSS File can't have any `sideEffects` this property is for JS only :)

[2018-05-06 00:12] frlinw commented on #118
Well, ok but why the css file is not in the final bundle when using sideEffects?

[2018-05-06 00:30] michael-ciniawsky commented on #118
Why is `*.css` included ? What's the purpose ? If `sideEffects` is set to `false` and `import css from './file.css'`'s are removed by webpack, loading CSS via e.g `css-loader` might have a side effect then (the code css-loader adds)

[2018-05-06 03:42] eugenioclrc commented on #113
same issue here

[2018-05-06 08:32] jiubao commented on #113
same issue

[2018-05-06 11:08] vasivas opened #131 "Module build failed: Error: Didn't get a result from child compiler"
[code]

[2018-05-06 12:12] evilebottnawi commented on #113
Please don't write `same issue`, it is clogs thread, just add :+1: on top post, thanks!

[2018-05-06 12:13] evilebottnawi commented on #131
Duplicate https://github.com/webpack-contrib/mini-css-extract-plugin/issues/126, please provide minimum reproducible test repo

[2018-05-06 12:13] #131 closed

[2018-05-07 07:05] vasivas commented on #131
@evilebottnawi https://github.com/vasivas/mini-css-extract-plugin-bug-demo

[2018-05-07 07:06] vasivas commented on #126
@evilebottnawi https://github.com/vasivas/mini-css-extract-plugin-bug-demo

[2018-05-07 10:15] evilebottnawi commented on #126
@vasivas I clone your repo and run `npm run start` all works fine. Please provide reproducible test repo and describe steps how reproduce

[2018-05-07 10:17] evilebottnawi commented on #126
@vasivas also please provide **minimum** reproducible test repo, because i don't have many time looks on you configuration and other unnecessary stuff

[2018-05-07 10:27] vasivas commented on #126
@evilebottnawi  minimum? it is minimum.. if you get rid of webpack-hot-middleware webpack-hot-server-middleware and ssr, the mini-css-extract-plugin is likely to work.

[2018-05-07 10:35] evilebottnawi commented on #126
Diplicate https://github.com/webpack-contrib/mini-css-extract-plugin/issues/34. `mini-css-extract-plugin` doesn't support hrm right now, feel free to send PR to fix it

[2018-05-07 10:35] #126 closed

[2018-05-07 10:40] vasivas commented on #126
@evilebottnawi then open my issues in extract-text-webpack-plugin. It supports hmr!

[2018-05-07 10:41] evilebottnawi commented on #126
@vasivas webpack@4 doesn't support `ETWP` you should send PR with support hmr to this plugin

[2018-05-07 10:45] d3viant0ne commented on #129
@DanielRuf rebase and it will pickup the new config. Sorry, looks like a PR that wasn't merged

[2018-05-07 11:01] evilebottnawi commented on #125
@evans863 when you use `postcss-loader` each `.css` file execute separably i.e `--color-blue` in `ModuleTwo.css` is unavailable (other variable also).
Solution:
**postcss.config.js**

[code]

`postcss-custom-properties` just unknown value of variable. Looks it is not related to `mini-css-extract-plugin`. Thanks! Feel free to feedback.

[2018-05-07 11:01] #125 closed

[2018-05-07 11:04] evilebottnawi commented on #119
@defghy You do not need to write about new your issue in other people's problems, because it's never be solved. Github have button `New issue` :+1:

[2018-05-07 11:10] evilebottnawi commented on #96
@dougalg Look on https://github.com/twbs/bootstrap/blob/v4-dev/package.json#L74. IIt is good practice extract css to separate file and add field (`css`, `scss`) in `paclage.json`. If you want save style in js, just don't use this plugin. When you extract css you **should** manually loader extracted file (html plugin do this automatically). Thanks!

[2018-05-07 11:10] #96 closed

[2018-05-07 11:13] evilebottnawi commented on #41
@dtothefp can we close issue?

[2018-05-07 11:14] DanielRuf commented on #129
Thanks for taking care of it 👍 =)

[2018-05-07 11:14] #129 closed

[2018-05-07 12:10] aimergenge commented on #41
What if I have multi entries and would like to lift up the component scoped style into each entry chunk

[2018-05-07 12:39] dougalg commented on #96
@evilebottnawi thanks for the feedback. I do appreciate that it is best practice to load primary CSS in the HTML, but as this plugin already does asynchronous injection of CSS it doesn't seem like much of a stretch to me. I will take another look at my application's structure and see what alternatives there are on my side

[2018-05-07 14:31] evilebottnawi commented on #62
@bebraw can we close this issue here?

[2018-05-07 18:32] #62 closed

[2018-05-07 23:31] evilebottnawi commented on #116
@ezzatron extract `theme/blue/main` and `theme/green/main` css to own bundle

[2018-05-08 04:07] ezzatron commented on #116
@evilebottnawi Thank you, I managed to get it working using multiple bundles!

The only (minor) issue I have now is the useless JS file that is produced by each of the CSS-only bundles, but I assume that's more of a general problem with Webpack bundles, rather than something caused by MCEP specifically.

For anyone in a similar situation, this is the magic sauce I needed:

[code]

Which produces t

[2018-05-08 04:10] ezzatron commented on #116
I also updated [ezzatron/webpack-4-test-sass-themes](https://github.com/ezzatron/webpack-4-test-sass-themes) with the working config.

[2018-05-08 04:40] whatisaphone opened #133 "Feature request: Transforming CSS after CSS is extracted"
Hi,

I am using this plugin in combination with CSS modules, and postcss with [postcss-autoreset](https://github.com/maximkoretskiy/postcss-autoreset), With the recommended loader chain, autoreset is applied to each imported CSS module, rather than once at the end. When combined with `composes`, this means that the autoreset rules can be applied out of order.

Stripped-down example of my issue:

[

[2018-05-08 09:26] evilebottnawi commented on #133
`postcss-autoreset` is not compatibility with css modules, it is out of scope this plugin, sorry. Also looks it is related more to `css-loader` + `postcss-loader`, we wan't remove `css-modules` from `css-loader` in near future in favor `postcss-loader` and plugin for `postcss-modules` (will be describe in docs how it can be done). Right now you can try to disable `css-modules` for `css-loader` and

[2018-05-08 09:28] evilebottnawi commented on #113
/cc @amir20 looks on https://github.com/webpack-contrib/mini-css-extract-plugin/issues/113#issuecomment-387309221 solution, it is works for you?

[2018-05-08 13:54] amir20 commented on #113
I’ll give it a try today.

Sent from my iPad

[2018-05-08 14:42] amir20 commented on #113
I think it worked (kinda). I validated by doing `ag --css ".player-comparison"` which is a css that I know is part of vue.

However, I said "kinda" because my javascript now isn't executing. 👎  I need to debug more to understand what's going on.

Here is the diff for the curious

[code]

[2018-05-08 14:50] evilebottnawi commented on #113
@amir20 can you create minimum reproducible test repo, it is help to solve your problem faster

[2018-05-08 14:57] amir20 commented on #113
Still working on it. I am not sure if `mini-css-extract` is the problem or something else I did.

[2018-05-08 15:05] amir20 commented on #113
Ok I have applied the changes to my old test repo at https://github.com/amir20/vue-mini-css/commit/375389e5ff297c3e2002d28b513d0484ea1cdd70

I think the problem is that all the javascript goes `styles-compiled.js`.  You can see that [here](https://github.com/amir20/vue-mini-css/blob/master/build/js/styles-compiled.js).  Is that to be expected? I am guessing the pattern `*.vue` will also compile th

[2018-05-08 15:14] evilebottnawi commented on #113
@amir20 sorry i am not familiar with vue and vue-loader, but i can ivnestigate what is wrong, https://github.com/amir20/vue-mini-css is minimum reproducible test repo?

[2018-05-08 15:36] amir20 commented on #113
Yup. I created that when I created this issue. I am pretty sure the pattern vue will also capture the output of all JavaScript files that vue components.

Sent via my iPhone

[2018-05-08 15:52] amir20 commented on #113
@evilebottnawi might be worth asking `vue-loader` or `vue-cli` folks in this issue? The reason people are starting to have this issue is because in the [migrations documentation](https://vue-loader.vuejs.org/migrating.html) for v15 of vue-loader, the suggested solution is to use `mini-css-extract`.  However, the still don't have a suggested solution and at the very top they say `vue-cli` will soon

[2018-05-08 15:59] evilebottnawi commented on #113
@amir20 vue-cli have issue around this problem?

[2018-05-08 16:15] amir20 commented on #113
I don’t think so. Since they haven’t implemented the new version yet, there isn’t anything that is “broken”?

[2018-05-09 01:52] wyntau opened #135 "Different import order leads to multiple vendor bundles"
## Condition

Suppose I have a project have two entry file `foo-entry.js` and `bar-entry.js`, both of them import `es6-promise` and `normalize.css`. Additionally `foo-entry` may also import other modules, e.g. `object-assign`.

Now I want to split both shared node_modules `es6-promise` and `normalize.css` to `shared-vendor.js` and `shared-vendor.css`(use mini-css-extract-plugin to extract out from

[2018-05-09 04:08] johnsoft commented on #133
I can't find any docs for combining webpack with postcss-modules. It looks like I should stick with my current approach for now while I wait for the new docs.

Thanks for the response!

[2018-05-09 08:15] lili21 commented on #118
can confirm.

`import './style.scss'`

the style will be removed when setting sideEffects `false`.

[2018-05-09 09:12] evilebottnawi commented on #135
@Wyntau Thanks for issue, we known this problem and already fixed this problem, just wait improve documentation https://github.com/webpack/webpack.js.org/issues/2096. Thanks! Feel free to feedback!

[2018-05-09 09:30] evilebottnawi commented on #135
@Wyntau yes, `[chunkhash]` for backward compatibility, use always `[contenthash]`, in `webpack@5` it is right way to create long term caching

[2018-05-09 09:31] Wyntau commented on #135
@evilebottnawi
I canged all `[chunkhash]` to `[contenthash]`, and only one `shared-vendor.pack.[contenthash].css` will generated, But still two `shared-vendor.pack.[contenthash].js` with same content.

![image](https://user-images.githubusercontent.com/2631733/39807282-7eca6a38-53ae-11e8-88fd-14ed925dd78c.png)

1. When I use mini-css-extract-plugin, the `bar-entry`'s import modules order will stil

[2018-05-09 10:13] evilebottnawi commented on #135
@Wyntau looks like problem with `splitChunks`, can you create minimum reproducible test repo? It is hard to solve based only on configuration

[2018-05-09 10:49] Wyntau commented on #135
@evilebottnawi
[reproduce.zip](https://github.com/webpack-contrib/mini-css-extract-plugin/files/1987476/reproduce.zip)

[2018-05-09 11:22] jairusd opened #137 "path not working (output location)"
Hi, I specified the path in the plugin MiniCssExtractPlugin options but it keeps getting generated in my default output path that i also specified in my webpack. Can anyone help me in this issue? :) thanks

[code]

[2018-05-09 11:23] #137 closed, assigned to nobody

[2018-05-09 11:26] jairusd commented on #137
from the docs i read the comment saying:  // Options similar to the same options in webpackOptions.output

did i misunderstand that? if so, how can i specify the location of the output?

[2018-05-09 12:06] evilebottnawi commented on #137
@jairusd
[code]

[2018-05-09 14:46] dmitrybelyakov opened #138 "Reduce or turn off logging"
Hi!

The plugin is a bit log-noisy. Is there a way to control or turn off logging?

[2018-05-09 14:50] montogeek commented on #138
Noisy how? Please share how does it look and it should look

[2018-05-09 15:07] dmitrybelyakov commented on #138
Noisy, as in:

<img width="738" alt="screen shot 2018-05-09 at 16 06 08" src="https://user-images.githubusercontent.com/178866/39822641-f94580ce-53a2-11e8-802b-706dac1b9e24.png">

[2018-05-10 01:00] jerry-i commented on #85
I just add npm script
[code]

[2018-05-10 15:30] GodOfGrandeur commented on #123
Just to second i've also got this issue, researching the problem now. Will update if I find anything.

[2018-05-10 19:04] pegiadise commented on #44
Is there a better alternative than overriding the `publicPath` which feels kinda hacky?
There must be a solution between not creating a `/styles` folder in production (thus dumping everything in root folder) and overriding the public path.

[2018-05-11 01:21] avivaWang opened #139 "mini-css-extract-plugin + write-file-webpack-plugin"
I'm using the two plugins(mini-css-extract-plugin + write-file-webpack-plugin ), When the css is change, I want mini-css-extract-plugin generate a css file and use write-file-webpack-plugin to write the new chunks to the disk.
but when local css is changing, there is no new css files write to disk. how to solve this problem?
below is my webpack-config.
`/**
 * @file
 * @author by aviva on 2018/3/1

[2018-05-11 06:01] grrowl opened #140 "this[NS] is not a function"
Logging at `mini-css-extract-plugin/dist/loader.js:147`, `NS` is `/Users/tom/Documents/projectName/node_modules/mini-css-extract-plugin/dist`. It then calls `this[NS](text)`, which fails as `this[NS]` is `undefined`.

Happens on `0.5.0` and `0.4.0` too. What gives?

[2018-05-11 06:17] silaike commented on #140
did you add `new MiniCssExtractPlugin()` in the plugins array?

[2018-05-11 09:04] marvinhagemeister commented on #140
Duplicate of #73

[2018-05-11 10:30] evilebottnawi commented on #139
@avivaWang please create minimum reproducible test repo, it is hard read code from issue without normal formatting

[2018-05-11 14:04] johnelliott commented on #90
@sokra just to clarify your suggestion, how would a user import the generated asset name into a bundle to generate a <link ... > tag in a template language or server-side react?

https://github.com/webpack-contrib/mini-css-extract-plugin#using-preloaded-or-inlined-css

The 'runtime code' aspect of this module really confuses me. I don't understand why there needs to be runtime code for CSS extract

[2018-05-11 14:20] johnelliott commented on #94
@montogeek we use the manifest file in our app when the server starts, we use node's fs.readFileSync to suck up the JSON and pass the mapping down into the express app to let react render pages with the right css paths on disk.

This is the pattern I hope we can get away from. It it just a workaround because we haven't figured out how to properly use webpack for this.

Ideally we'd import the styl

[2018-05-11 14:46] evilebottnawi commented on #105
@fillippeyton sorry i can't help your here, please create new issue with **minimum** reproducible test repo and what you have and what you expected and description. Why do I ask to do this? Because we have hundreds of requests (issues and PR) and it takes a lot of time, the more accurately you can formulate the problem and demonstrate it using a small configuration, the sooner your problem will be

[2018-05-12 13:31] heyalbert commented on #29
Some configuration as lewebsimple but newer webpack version (4.8.1). Sourcemap doesn't work at all. Bug? How does your solution looks like?

[2018-05-12 14:07] heyalbert opened #141 "SourceMap not working with Webpack 4.8.1"
Hey guys,

Sadly, sourcemap is not working at all. Webpack 4.8.1 doesn't generate a .map in combination with mini-css-extract-plugin and sass-loader. Any fix?

Plugin configuration:
[code]

Rules:
[code]

Output:
[code]

As you can see, a style.css.map is not generated.

Furthermore: I started a project to try out different configurations.
https://github.com/heyalbert/webpack-starterkit

[2018-05-12 14:10] evilebottnawi commented on #141
@heyalbert interesting, looks like bug, feel free to investigate and send PR :+1:

[2018-05-13 01:27] arthens commented on #114
Just ran into this problem too. As a workaround I ended up using `MiniCssExtractPlugin.loader` in development too (I'm not using HMR)

[2018-05-13 09:02] victordidenko commented on #44
@zhangolve I guess you've met complex of different issues.
1. According to https://github.com/webpack-contrib/sass-loader#problems-with-url url(...) should be relative, while you have absolute.
2. You didn't tell, where is your main css file located, maybe you don't even need to rewrite publicPath for it, if it is located inside /static folder.
3. Folder /static gives me an idea, that you probably

[2018-05-13 09:11] zhangolve commented on #44
thank you for the quick response and sorry for not fully telling my condition.
first my main css file is not located inside /static folder and secondly I am not use next.js.
maybe I should learn something about sass-loader.

[2018-05-13 09:25] victordidenko commented on #44
@zhangolve did you add your scss files to `noParse` section? I think if webpack will parse pathes inside url(...) and you will set `outputPath: 'static/'` in file-loader for your images, webpack will set correct pathes in css, no need to change publicPath in loader.

[2018-05-13 22:44] Medsestrun opened #142 "link=preload support"
Hi.
As I notices from https://github.com/webpack-contrib/mini-css-extract-plugin#using-preloaded-or-inlined-css href on link should work for ssr to prevent css files duplications, but it doesnt work for <link rel=preload href="">. It generates another <link rel=stylesheet href="">. Custom hack with empty style tag with data-href helps to remove duplicate, but I think this is not right way to handl

[2018-05-14 01:26] zhangolve commented on #44
1. I did't add my scss files to `noParse` section.
2. In my option,my question is webpack couldn't resolve my pictures according path inside url(...).And as you can see in my first comment about this issue.

`background-image: url("/mobile/img/logo-new.png");`

I want to require the file "root/static/mobile/img/logo-new.png"

But exactly I got the file path "root/mobile/img/logo-new.png " ,webpack

[2018-05-14 01:34] zhangolve commented on #44
After compare with my webpack 3 config ( webpack 3 + extract-text-webpack-plugin + sass-loader) ,I find I need to add root option to css-loader ,and that for me works.

here is my test rule.

                {
                    test: /\.scss$/,
                    use:[
                        {
                            loader: MiniCssExtractPlugin.loader
                        },{

[2018-05-14 10:34] berthertogen opened #143 "feat: allow the option filename to be a function"
Can we allow the filename and chunkFilename passed in trought the constructor to be functions instead of string only?

In our case it would make it easy to toggle the [hashcontent] for some bundles.
We would pass the option as followed:
`filename: (chunk)  =>  chunk.name === "NotHashedBundle" ? '[name].css' : '[name].[contenthash].css'`

Might be worth noting that the latest version of webpack als

[2018-05-14 10:37] evilebottnawi commented on #143
PR welcome :+1:

[2018-05-14 10:37] berthertogen commented on #143
Ok, I'm on it

[2018-05-14 10:59] evilebottnawi commented on #114
Yep, right now `mini-css-extract-plugin` are not support HMR, close in favor https://github.com/webpack-contrib/mini-css-extract-plugin/issues/34

[2018-05-14 10:59] #114 closed

[2018-05-14 11:03] ogarich89 opened #144 "Duplicate file with version in src"
When using SSR, adds the already inserted file again

![2018-05-14 13-54-11](https://user-images.githubusercontent.com/11867673/39993674-51f73516-577f-11e8-8d67-041926161489.png)

[2018-05-14 11:07] evilebottnawi commented on #144
@ogarich89 We already have issue about SSR https://github.com/webpack-contrib/mini-css-extract-plugin/issues/90, also we can't do nothing have only screenshot

[2018-05-14 11:07] #144 closed

[2018-05-14 11:08] evilebottnawi commented on #105
@fillippeyton can we close issue?

[2018-05-14 11:19] frlinw commented on #118
`sideEffects` is in package.json

My use of mini-css-extract-plugin is classic. I just want a single css file.
It works as expected but if I try to use `sideEffects`, the css file is not created...
I don't import css files in my javascript but maybe it's related to how vue-loader works, I really don't know.

[code]

[2018-05-14 11:29] #142 closed

[2018-05-14 12:15] arthens commented on #114
Should the docs be updated? The example provided under `Advanced configuration example` doesn't work without hot reloading either

[2018-05-14 15:26] oscarlgz commented on #124
Did you manage to solve the issue @nmonterroso? I'm running in to this issue as well. When switching between pages that resolve different chunks (and where classes use compose from css-loader), the styles will sometimes be applied in the incorrect order.

[2018-05-14 16:55] nmonterroso commented on #124
@oscarlgz I didn't solve the issue but sidestepped it by bundling all the css into a single file. See the [style-combine-demo](https://github.com/nmonterroso/css-chunk-issue-demos#style-combine-demo) in my sample project for my notes on that approach. Let me know if that helps!

[2018-05-14 22:09] johnelliott commented on #105
@fillippeyton my solution was to use the extract-loader and file-loader after the css-loader. From there I would conditionally Emily the file on the client or server code and have the output file name be the content hash. This would allow me to import the file name on disk in both server and client.

Then in the client when the webpack mode is development I would use the style-loader instead of th

[2018-05-15 02:47] lili21 opened #146 "Build Failed: dynamic import css by chunk"
I'm using `long term caching` config from [here](https://github.com/webpack/webpack/issues/1315#issuecomment-386267369).

by using that with this plugin and `dynamic import`, I got this error.

![image](https://user-images.githubusercontent.com/4456380/40033924-170e343c-582d-11e8-9b71-696129100fa8.png)

[reproduction repo](https://github.com/lili21/mcep-issue)

OS: mac OS 10.13.1
Node: 8.11.1
mini

[2018-05-15 16:38] octaharon opened #147 "Breaking JS entrypoint when extracting all css chunks into 1 file"
Package version: 0.4.0
Node version: 6.8.0

So I've updated to webpack 4 and instantly run into [extract-text-webpack-plugin incompatibility](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/701), and guys on stackoverflow insisted on switching in favor of this module.  My use case is almost exactly [as described in documentation](https://github.com/webpack-contrib/mini-css-ex

[2018-05-15 22:38] blakedietz commented on #147
I too was seeing an issue similar to this. Instead I was getting a third bundle created. For example if the bundle was named `bundle.js` I would see an output of `0.bundle.js, bundle.js, styles.css`.

[2018-05-15 22:48] evilebottnawi commented on #147
Feel free to investigate and send PR.
Don't use `extract-text-webpack-plugin@next` it is break long term cache, output very large bundle and can raise problem in runtime which very hard to find

[2018-05-16 04:11] longhornleads opened #148 "Pretty much doesn't work at all for sass"
Basically none of the examples work with the latest Webpack.  Any chance there is an example out there that works like the old plugin that actually worked?  I am looking for an example that I can actually build that will bundle all css and scss for now one file is fine.  As far as I can tell this plugin seems to have been forced into production before it is ready.  There are so many errors and not

[2018-05-16 07:33] octaharon commented on #147
Sorry, I've realized that a link to documentation was missing in my original post, edited. That's quite important for understanding the problem.

Perhaps the issue with plural output files belongs to webpack itself, since its driven by `optimization.splitChunks.cacheGroups`  config option, but the issue with "swallowing" the entrypoint of scripts is definitely coming from this plugin. If those are

[2018-05-16 18:15] zacharynevin commented on #148
@longhornleads Can you please provide more detail so the maintainers can help you? Just saying "it doesn't work" is a good way to get ignored.

[2018-05-17 02:15] huzedong2015 opened #150 "CSS file resource path is not correct"
**MCEP Config**

[code]

**Build directory**

- css
  - style.css
- fonts
  - xx.woff

**Abnormal**

1. style.css  font path is  css/fonts/xx.woff
2. If filename is set to "[name].css", it is normal

**Same problem**

Extract-text-webpack-plugin has also encountered this problem before.
Setting publicPath to solve

[code]

[2018-05-17 02:52] Bulala-liu commented on #81
Hi, my config of css rules is the same to yours, but the result showed only part of css files have been extracted.

[2018-05-17 05:04] fillippeyton commented on #105
Appreciate the effort looking into this @johnelliott ! I'll take a swing at that solution when I have some time.

[2018-05-17 06:43] lili21 commented on #85
I'm using [script-ext-html-webpack-plugin](https://github.com/numical/script-ext-html-webpack-plugin) inline the **style.js** file. another temporary fix.

[code]

[2018-05-17 09:12] Bulala-liu commented on #93
Hi, I also have found the problem.
So I add the config `"sideEffects": [
    "*.scss"
  ]` into package.json,
but still  there has three pages lost css.
this pages only import scss file like this:
`import './index.scss';
`
I have no idea...

[2018-05-17 10:13] TomS- opened #151 "Don't output empty JS files"
I have seen people use the Extract plugin and name the file the same to prevent a useless .js file, however, naming the file the same in this instance gives the error:
`Conflict: Multiple assets emit to the same filename main.js`

I only want to take a CSS file and run it though autoprefix and minify, I don't need it to output a JS file.

[2018-05-17 10:28] evilebottnawi commented on #151
@TomS- can you create minimum reproducible test repo?

[2018-05-17 10:34] TomS- commented on #151
@evilebottnawi Yup, I'll set it up this evening

[2018-05-17 14:07] dcousineau commented on #147
I don't have a public repo but I finally traced my problem with production builds in webpack-4 to this issue.

In development mode my optimization stanza is:
[code]

While in production mode I have
[code]

Production properly spits out the correct singular bundled CSS file, however my entrypoint chunk no longer executes.

[2018-05-17 14:33] lili21 commented on #146
hello ?

[2018-05-17 14:49] dcousineau commented on #147
In attempting to reproduce a minimal problem, it appears if you don't include the outputted `styles.js` bundle generated via the cacheGroup the application won't execute at all.

[2018-05-17 15:05] dcousineau commented on #147
Please see https://github.com/dcousineau/mini-css-extract-plugin-reproduction for a demonstration of how, even though the styles.js is effectively empty it prevents the entrypoint from executing.

[2018-05-17 18:42] octaharon commented on #147
Good job with locating the repo, man! I support the idea of avoiding generating extra js files when we extract css only, that's somewhat not semantical and user-friendly at all. That configuration, as it says in the documentation, should behave pretty much the same as the extract-text-plugin in this case. Which is, by the way, works perfectly for me so far in couple with optimize-css-assets-plugin

[2018-05-17 20:38] jbedard opened #152 "Error type not propagated"
The webpack script loading error handling propagates the `Error.type`: https://github.com/webpack/webpack/blob/v4.8.3/lib/web/JsonpMainTemplatePlugin.js#L187-L192

Would be nice if the same was done for the css `<link>` load errors: https://github.com/webpack-contrib/mini-css-extract-plugin/blob/v0.4.0/src/index.js#L303-L309

[2018-05-17 21:55] smartthingstutor commented on #152
??????

[2018-05-18 08:04] hfhanfei commented on #150
I also have the same problem. ExtractTextPlugin can set up publicPath and MiniCssExtractPlugin.

[2018-05-18 09:56] TomS- commented on #151
https://github.com/TomS-/minicss Sorry for the delay

[2018-05-19 00:30] Wyntau commented on #135
hi @evilebottnawi , do you have any idea why will two vendor files with the same content be generated?

[2018-05-20 10:00] EddyVinck commented on #69
I updated to Webpack ^4.8.3 and my build compiled again.

[2018-05-20 10:54] ankitsaroha opened #153 "Module Parse Failed"
I am using webpack 4.4.1 and trying to include CSS in a react file. The following is my webpack config code:

[code]

But I am getting the following error:

[code]

Please someone help with this.

[2018-05-20 11:12] EddyVinck opened #154 "Advanced example is not working"
I tried to follow the advanced example, but the ``` devMode ? 'style-loader' : MiniCssExtractPlugin.loader, ``` part always seems to use ```style-loader```.

My scripts
[code]

Am I missing something?

This is my config:
[code]

[2018-05-21 01:07] huzedong2015 commented on #150
@hfhanfei
The feeling is not very convenient, but it can solve the problem.
[code]

[2018-05-21 02:33] lili21 commented on #146
@evilebottnawi

[2018-05-21 03:39] Bulala-liu commented on #118
Hi, I also has the problem.
I add
`"sideEffects": [
    "*.scss"
]`
into package.json, but there still has some css files left out in  dist .
my production config of css rules:
`{
                    test: /\.css$/,
                    use: [   'MiniCssExtractPlugin.loader',  'css-loader',  'postcss-loader' ]
                }, {
                    test: /\.s[ac]ss$/,
                    use: [

[2018-05-21 08:31] paulius005 opened #156 "Cannot read property 'split' of undefined"
I seem to be getting `Cannot read property 'split' of undefined` on ubuntu 14.04 on node 8

Here is the config:
[code]

Here is the output:
[code]

Do you see anything wrong with the config?

Between not being able to use https://github.com/webpack-contrib/extract-text-webpack-plugin and this error, it seems that upgrading to webpack 4 is not happening if one wants to take out their css into separ

[2018-05-21 10:07] evilebottnawi commented on #153
@ankitsaroha looks like you have something invalid in config, but i can't see what, can you create minimum reproducible test repo?

[2018-05-21 10:09] evilebottnawi commented on #154
@EddyVinck What not workings? `mini-css-extract-plugin` doesn't works in HMR mode right now

[2018-05-21 10:13] evilebottnawi commented on #146
@lili21 update webpack to latest version. You version is not support `[contenthash]` (https://github.com/webpack/webpack/releases/tag/v4.3.0)

[2018-05-21 10:15] evilebottnawi commented on #146
Problem in your config `https://github.com/lili21/mcep-issue/blob/master/webpack.prod.js#L34`,
`m.userRequest` can be undefined, looks you should use `request` instead `userRequest`, btw thanks, i will investigate this

[2018-05-21 10:19] evilebottnawi commented on #156
@paulius005 can you create minimum reproducible test repo?

[2018-05-21 10:47] lili21 commented on #146
tried `request`. same error.

[2018-05-21 10:54] evilebottnawi commented on #146
@lili21 can you output `console.log(m)` https://github.com/lili21/mcep-issue/blob/master/webpack.prod.js#L35 (output can be large, nothing terrible
)

[2018-05-21 14:58] lili21 commented on #146
[code]

looks like `m.request` have been modified after `NamedChunksPlugin`.

[code]

[2018-05-21 15:06] krso92 commented on #80
Hey guys, I got same error here. I am on latest `webpack` and `mini-css-extract-plugin`. used @gwenf code to config and I still have same err:

[code]

[2018-05-21 15:10] evilebottnawi commented on #146
@lili21 looks like bug when you use async loading `css` module don't have `request`, `userRequest` and `rawRequest` properties :confused:

Need implement here https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/index.js#L49, i will fix it in near future

[2018-05-21 16:39] TomS- commented on #151
@Tiendq I don't want Webpack to output a JS file for CSS. It seems strange to me for it to do that. At the moment I'm getting the CSS file and a JS file. I'm coming from Gulp so maybe it's just I don't understand Webpack.

[2018-05-22 00:39] Tiendq commented on #151
@TomS- I don't want it too :)

[2018-05-22 03:13] huzedong2015 commented on #150
publicPath uses the default value (""),The following configuration of the CSS file resource path starts from `css/`, so the compiled CSS file resource path will have problems, requiring additional configuration publicPath.
[code]
If the publicPath is set to an absolute path, or if the CSS file is placed in the root directory, no additional processing is required.but I do not want to deal with it.

[2018-05-22 03:37] pause13th commented on #154
@evilebottnawi he meant the ternary operator for `devMode ? 'style-loader' : MiniCssExtractPlugin.loader,` is not working, basically it checks what loader to use depending which development mode its in.

Been trying to make this work but to no avail, currently commenting out manually, hope someone could help this out :)

[2018-05-22 05:20] tailgo opened #158 "How do I inline the SFC style by using dynamic import while I use mini-css-extract-plugin to extract the global style file?"
I use mini-css-extract-plugin to extract the gloabl style file, and I dynamic import SFC as the same time.

I want that the style in SFC should be inline with the output js file.

But if I use mini-css-extract-plugin, all style in SFC would be extracted.

There is the demo repos:  [https://github.com/tailgo/NeedHelpDemo/tree/master/vue-loader](https://github.com/tailgo/NeedHelpDemo/tree/master/vue

[2018-05-22 07:18] pokkur commented on #154
@EddyVinck I would appreciate it if you could give me instruction on how to fix it?

[2018-05-22 07:57] #158 closed

[2018-05-22 08:10] EddyVinck commented on #154
@pause13th hit the nail on the head. The example should use different loaders for production and development but  it always picks the style loader.

I managed to work around this by having two different configs but that's not really the issue here. The issue is that there is an example in the readme that doesn't work.

[2018-05-22 09:33] hxlniada commented on #44
@victordidenko can't work for me 😢

[2018-05-22 09:43] victordidenko commented on #44
@hxlniada does extract-text-webpack-plugin works as expected in your case? What are you trying to achieve? Can you add some code examples?

[2018-05-22 10:39] evilebottnawi commented on #140
@marvinhagemeister duplicate, thanks!

[2018-05-22 10:39] #140 closed

[2018-05-22 10:40] evilebottnawi commented on #148
@longhornleads close due no additional information, feel free update you template and recreate/reopen issue

[2018-05-22 10:40] #148 closed

[2018-05-22 10:43] evilebottnawi commented on #108
I can understand you, please provide more information what you have and what you expected and then reopen/recreate issue. Thanks!

[2018-05-22 10:43] #108 closed

[2018-05-22 10:44] evilebottnawi commented on #103
@CPatchane problem still exists?

[2018-05-22 10:46] evilebottnawi commented on #152
PR welcome

[2018-05-22 10:47] evilebottnawi commented on #156
@paulius005 you missing `css-loader` in your configuration, `mini-css-extract-plugin` only for `extract` css

[2018-05-22 10:47] #156 closed

[2018-05-22 11:14] CPatchane commented on #103
I didn't had time to create a repo with this bug but I found this issue on `svg-sprite-loader` https://github.com/kisenka/svg-sprite-loader/issues/271. I think it could be related.

[2018-05-22 11:19] evilebottnawi commented on #103
Close in favor https://github.com/kisenka/svg-sprite-loader/issues/271, feel free to feedback

[2018-05-22 11:19] #103 closed

[2018-05-22 12:03] hxlniada commented on #44
@evilebottnawi
yes i have read your answer, these are my config:
`
  // webpack.prod.js
    mode: 'production',
    output: {
        filename: 'js/[name].[chunkhash:7].js',
        publicPath: 'https://s1-8.bdimg.com/'
    },
    module: {
        rules: [{
            test: /\.scss$/,
            use: [
                {
                    loader: MiniCssExtractPlugin.loader,

[2018-05-22 12:08] hxlniada commented on #44
@victordidenko haven't try it yet. is it not the recommended way to use extract-text-webpack-plugin with webapck@4.0 ?

[2018-05-22 12:16] evilebottnawi commented on #44
@hxlniada for `style-loader` set `publicPath`

[2018-05-22 12:17] victordidenko commented on #44
@hxlniada no, this plugin is not working with webpack4, as far as I know, mini-css-extract-plugin is it's descendant. But I found this issue because extract-text-webpack-plugin was working this way with webpack3.
This option, `publicPath`, aimed to change _urls to resources inside CSS_. It has nothing to do with CSS files' URLs, as far as I understand.

[2018-05-22 12:29] hxlniada commented on #44
@evilebottnawi how to implement this with MiniCssExtractPlugin? thank you.

[2018-05-22 12:40] evilebottnawi commented on #44
@hxlniada
[code]

Wait feedback 24 hours and lock issue to avoid QA/not related problems.
Thanks!

[2018-05-22 14:22] victordidenko commented on #44
https://webpack.js.org/guides/public-path/

Let's say, you have structure:
[code]

Inside your css you have links to font and logo:

[code]

When you build application using webpack, it see all dependencies, and put right new names-links for them, relatively to `publicPath`.

But if you want to move your webpack-generated CSS file to folder `css/` instead of root (where it is located), you use smt

[2018-05-22 14:38] evilebottnawi commented on #44
@victordidenko thanks for good clarify

Little note:

It is `file-loader` or `url-loader` (depends on the configuration)

[2018-05-23 01:54] Tiendq commented on #154
Actually it caused by a bug with Webpack `mode` configuration. I have created a repo to clarify the issue and way to fix here: [mini-css-extract-plugin-advanced-example](https://github.com/Tiendq/mini-css-extract-plugin-advanced-example)

The Advanced example of this plugin needs to be updated too, will make a PR soon :)

[2018-05-23 04:40] raphaelsoul commented on #73
some error throw from `vue-loader` when handling scss rules. Advise from @jason0415 works. Thanks

[2018-05-23 05:53] code-chris commented on #156
@evilebottnawi That are really bad news... I've got the same exception.

In my project we're loading css and scss files with the `raw-loader` instead of the `css-loader`. The reason for this is, that not all images, fonts and other resources can be resolved from webpack due to dynamic bindings in html. (Since there's no option in the `css-loader` to avoid resolving of those files) This would resul

[2018-05-23 12:05] coltonw commented on #147
I would like to point out that this problem is doubly bad for javascript/css libraries trying to use mini-css-extract-plugin.  Users of the library will have to not only import the library code and css, but also this generated style.js file or the library simply won't work.

[2018-05-23 16:56] ydennisy opened #160 "Does this make use of CSS Modules?"
Hello,
It would be great if this plugin made use of CSS modules, to keep local/global scope for applications.
Is this possible?

[2018-05-23 17:06] pldg commented on #141
I confirm that source maps will not be generated if `OptimizeCSSAssetsPlugin` is enable.

[2018-05-23 17:32] evilebottnawi commented on #160
@ydennisy how it is related to extracting? Do you have problem or issue with this? Please use QA or gitter for question, it is bug tracker. Feel free to feedback or create issue if something don't works with css modules. Thanks!

[2018-05-23 17:32] #160 closed

[2018-05-23 17:33] evilebottnawi commented on #141
Looks like bug in `OptimizeCSSAssetsPlugin`, somebody create issue?

[2018-05-23 17:52] ColinWhitmarsh opened #161 "font-face definitions removed when optimized"
This issue comes from combining `mini-css-extract-plugin` with `optimize-css-assets-webpack-plugin`.

__Issue__: `font-face` defintions removed from top level css file.
__Suspected Cause__: `optimize-css-assets-webpack-plugin` can't recognize cascading references between parent and child css files output by `mini-css-extract-plugin`

__Suggestion__: Update `mini-css-extract-plugin` Readme section

[2018-05-23 18:30] track0x1 commented on #85
I'm also seeing this issue. Does anyone have a solution? This seems unsolved.

[2018-05-23 18:32] lukepolo commented on #85
It is unsolved, but I believe https://github.com/webpack/webpack/issues/7300 is the real culprit and has put in the webpack 4.x milestone.

[2018-05-23 18:38] ColinWhitmarsh commented on #161
@evilebottnawi Since the README suggestions using `optimize-css-assets-webpack-plugin`, it may be helpful for others switching from `extract-text-webpack-plugin` to `mini-css-extract-plugin` to realize that `optimize-css-assets-webpack-plugin` may behave differently and remove things that were not being removed before. Mentioning safe mode may be enough. Thanks for your response.

[2018-05-23 18:53] evilebottnawi commented on #161
@ColinWhitmarsh better create issue about `safe` mode for `mini-css-extract-plugin`, minification is not related to css extracting

[2018-05-24 14:17] SassNinja opened #162 "extract mediaquery feature"
In the course of a meeting with Google I've got the recommendation to split the CSS by media queries into separate files.

I'm trying to find a webpack solution to this for some days but without any success so far.
I've found postcss plugins such as [css-mqpacker](https://github.com/hail2u/node-css-mqpacker) or webpack plugins such as [css-magic-split-webpack-plugin](https://www.npmjs.com/package/

[2018-05-24 14:28] evilebottnawi commented on #162
@SassNinja idea is good, i think it is possible solve using `splitChunks`, need try, feel free to search solution and we documented this.

Idea: we should slit our build chunk on chunk contains only media queries and then extract from this chunk css. I would help with this, but at the moment there is no time.

Maybe perhaps we need more and we can send PR to `webpack`.

Any splitting should be don

[2018-05-24 15:36] evilebottnawi commented on #162
Looks like we already do something for `@import` https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/index.js#L382

[2018-05-24 16:35] SassNinja commented on #162
@evilebottnawi nice finding 👍

But I have to ask

What exactly do you mean?
Transforming the `@media` blocks into `import url('example...`?

Yup probably needs a major rewrite.
I've tested it without success. The problem is line 8 because `result.opts.to` is undefined when using it with webpack what breaks everything.
https://github.com/Ghostavio/postcss-extract-media/blob/master/index.js#L8

Seem

[2018-05-24 16:48] evilebottnawi commented on #162
@SassNinja we need split our one css on multiple css - main contain css code other based on media, feel free to experiments and ask question

[2018-05-25 07:58] pause13th commented on #154
@Tiendq Nice, I try implementing the fixes, but still fail miserably :P i'll probably wait a little more lol

in case anyone run into this problem like me
https://stackoverflow.com/questions/11928013/node-env-is-not-recognized-as-an-internal-or-external-command-operable-comman#11928210

[2018-05-25 09:02] SassNinja commented on #162
@evilebottnawi I've now the impression it's impossible with webpack itself (or rather splitChunks) due to the way it handles chunks.
The problem is it always requires some kind of `import` within the code.

Your example with `@import url('example-tablet.css') screen and (max-width: 40em)` requires there's already an `example-tablet.css` which doesn't exist.
So anything with `import` can't be used

[2018-05-25 10:27] Tiendq commented on #154
@pause13th How could it still fail? :)

[2018-05-25 11:09] evilebottnawi commented on #162
@SassNinja yep, `splitChunks` doesn't work for this because `css` in not module system as `js`. Feel free to rewrite plugin and add example here and docs :+1:

[2018-05-25 17:14] prateekbh commented on #73
is this a thing where I cannot use this plugin in a childCompiler????
details here: https://github.com/prateekbh/babel-esm-plugin/issues/4

[2018-05-25 22:06] prateekbh commented on #73
for what its worth, even HtmlWebpackPlugin executes a childCompiler: https://github.com/jantimon/html-webpack-plugin/blob/2763474432eeee1b4e2f7e54af88e5a5f5e028fc/lib/compiler.js#L75

[2018-05-25 23:49] prateekbh commented on #73
Yep, tried with a simple child compiler and it fails

[code]

[2018-05-27 09:28] zackljackson commented on #34
I’ve solved this with a built in solution. Working on releasing it.
https://github.com/faceyspacey/extract-css-chunks-webpack-plugin/issues/60#issuecomment-392317314

[2018-05-27 09:28] zackljackson commented on #68
https://github.com/faceyspacey/extract-css-chunks-webpack-plugin/issues/60#issuecomment-392317314

[2018-05-29 20:43] ankitsaroha commented on #153
@evilebottnawi Please refer to this repo
https://github.com/ankitsaroha/React_SSR_Setup
Thanks!

[2018-05-29 21:38] hbobenicio commented on #141
@evilebottnawi

I've created this issue there:
https://github.com/NMFR/optimize-css-assets-webpack-plugin/issues/53

[2018-05-29 22:28] DimychOcean commented on #90
My experiments with SSR have shown that you can skip the "requireEnsure" hook on the server side. And I came to this solution: override method "getCssChunkObject" in MiniCssExtractPlugin class.

[code]
And then in server webpack config used class ServerMiniCssExtractPlugin.
My rule for CSS in config for server:
[code]
It's work for me.

[2018-05-29 22:37] johnelliott commented on #90
I just skipped this module entirely and I’m now using the css-loader and extract-loader.

[2018-05-30 12:19] hbobenicio commented on #141
Got it working! Just realized that the defaults are `{}` and it's passed to `cssnano`. You need to setup the `map` property on it. Just did:

[code]

and it worked for me. Created also a PR for better docs at their README.md

Anyway. I think this is not related to this project and this issue can be closed.
Maybe some docs could be improved here to, like replacing the suggested
[code]
to
[code]

Ca

[2018-05-30 17:56] yamass commented on #29
@lewebsimple Could you please reopen this issue? Using `devtool: 'source-map'` might be ok for production builds but not for development (much too slow). This needs to get fixed.

I personally use `devtool: 'cheap-module-source-map'` as a workaround, but it is still much slower than `cheap-module-eval-source-map`.

[2018-05-30 21:46] pldg commented on #141
Still buggy, [incorrect filename reference](https://github.com/NMFR/optimize-css-assets-webpack-plugin/issues/53#issuecomment-393329686)

[2018-05-31 14:19] Ixonal commented on #99
Isn't that more a job for the aurelia webpack plugin? I would think that plugin would locate the css, and this plugin would just take that css and chunk it into a .css file.

[2018-06-01 01:05] nicgordon opened #163 "Remove "extracted by mini-css-extract-plugin" comments from output"
Is there a way to suppress the comment `// extracted by mini-css-extract-plugin` from my output? I have 2KB worth of them in my bundle!

[2018-06-01 13:34] rootical opened #164 "How to generate separate css files based on entries from sass?"
Dear all,

Could you please help to understand how can I generate separate files based on entry?

My config is:

[code]

So basically I just want to endup with two css files laying under .temp folder: one.css and two.css.

I tried to use based on entry option from the docs but it doesn't seem to work in my case.

Thank you!

[2018-06-01 13:48] evilebottnawi commented on #164
@rootical using `splitChunks`, look on examples here https://github.com/webpack-contrib/mini-css-extract-plugin/issues/45

[2018-06-01 13:48] #164 closed

[2018-06-01 18:45] TheWashiba opened #165 "Option to remove newline at the EOF"
Is there an option to remove newline at the EOF? It seems as this plugin always add the newline to the file.

[2018-06-01 18:47] evilebottnawi commented on #165
@TheWashiba where we add `EOF`?

[2018-06-01 18:50] TheWashiba commented on #165
I mean the newline char at the end of extracted file, even if I minify the CSS, the extracted "file.css" has a newline character. @evilebottnawi

[2018-06-01 18:52] evilebottnawi commented on #165
@TheWashiba i can't find where we add newline in plugin

[2018-06-01 19:03] TheWashiba commented on #165
@evilebottnawi does your extracted *.css file have a newline at the end of file? I'm using sass-loader and css-loader with minimize: true option, can't find any other place that would be adding the newline character, have you ever minified your css and the file extracted was one liner?

[2018-06-01 19:11] evilebottnawi commented on #165
@TheWashiba I did not pay attention to the last character (EOL), need investigate who do it, go ahead, i don't have time on this right now

[2018-06-01 19:20] TheWashiba commented on #165
I think I found the reason, in `src/index.js`, are lines 398 and 419 the ones that append the `\n` to the extracted file? @evilebottnawi

[2018-06-01 19:42] evilebottnawi commented on #165
@TheWashiba are you testing? It is not QA service.

[2018-06-02 01:05] MWalid opened #166 "TypeError: Cannot match against 'undefined' or 'null'."
Getting this error in `mini-css-extract-plugin/dist/index.js:26:9`.
Here is my `webpack.config.js` file contents:

[code]

**npm -v = 3.8.6
node -v = v6.1.0
OS = macOS High Sierra 10.13.4**

[2018-06-02 01:20] MWalid commented on #166
Just updated webpack to the latest version, and it works!

[2018-06-02 17:48] heyflo commented on #123
I have the same issue. The sourcemaps for the SCSS files are lost.

[2018-06-04 03:36] zackljackson commented on #34
Hey guys, Im going to open a PR for HMR support, I've currently got it working on my local machine.  <3

[2018-06-04 06:27] lili21 commented on #118
[code]

[2018-06-04 09:10] Diokuz commented on #98
@evilebottnawi @sokra any news on this issue?)

[2018-06-04 09:41] evilebottnawi commented on #166
@MWalid Looks you have old version webpack, what doesn't support some feature needed for `mini-css-extract-plugin`

[2018-06-04 09:41] #166 closed

[2018-06-04 09:41] evilebottnawi commented on #98
@Diokuz PR welcome

[2018-06-04 09:43] evilebottnawi commented on #73
@EduardoBorsa please read comments above, before write new post, you don't have `mini-css-extract-plugin` plugin in plugins option

[2018-06-04 11:43] sokra commented on #146
Modules don't need to have `request` or `userRequest`. You can use `identifier()`.

[2018-06-04 14:22] lili21 commented on #146
then maybe someone should update [the comment](https://github.com/webpack/webpack/issues/1315#issuecomment-386267369)? it looks like the official way to fix the relative issue.

[2018-06-04 14:33] evilebottnawi commented on #146
@lili21 feel free to post here right config and i will update

[2018-06-05 12:30] rzcoder commented on #147
Can't update to webpack 4 cus this bug

[2018-06-05 14:55] amir20 commented on #113
I just tried it. It looks like it [might have worked](https://github.com/amir20/vue-mini-css/commit/c663d7368cc88d3eb220337462590d69d38cc73f#diff-cc0fede936df45eca5b97658ea0395c0L1).

I'll try it on my actual project this week and update back.

[2018-06-05 18:16] anthonyhastings commented on #34
Sounds great @zackljackson! This feature is my only block from moving away from `ExtractTextPlugin` to the best of my knowledge.

[2018-06-05 18:42] rmuchall opened #168 "Too much console output information"
Hi there,

mini-css-extract-plugin seems to generate a lot of output in my console whenever compilation occurs. This makes it difficult to see if any errors or warning have occurred. Is there any way to reduce the level of output?

Note: I'm using vue-loader and ts-loader but I'm assuming the console output is coming from mini-css-extract-plugin

Thanks!
EDIT: I found this similar issue that provi

[2018-06-05 19:15] evilebottnawi commented on #168
Use `stats` for enable/disable logs

[2018-06-05 21:20] ClaytonHunt commented on #44
I can't seem to get this to rewrite the urls correctly in webpack 4 anymore. in my config I have:
[code]

I want the urls in my scss to be changed to ``` url(/assets/barlow-v1-latin-regular.woff) ``` but everything is unchanged and from website root ``` url('./web-theme/fonts/Barlow/barlow-v1-latin-regular.woff') ``` is turning into ``` http://lvh.me:3000/web-theme/fonts/Barlow/barlow-v1-latin-reg

[2018-06-06 08:12] Tk-archer commented on #113
@alexander-heimbuch  thx, it is actually worked !

[2018-06-06 15:59] mantismamita opened #170 "Extraction and minification breaks grid-template-areas"
Before minification the following code works and displays a css grid complete with appropriate grid areas:
[code]

after building and extracting/minifying the css. I have the following output:

[code]

Without the line returns the grid-template-areas property value is invalid and so the grid-layout no longer works.

[2018-06-06 16:02] evilebottnawi commented on #170
@mantismamita we don't minify styles in this plugin, looks you minification plugin break grid, maybe you use `autoprefixer`. Thanks!

[2018-06-06 16:02] #170 closed

[2018-06-06 16:11] mantismamita commented on #170
Ok thanks, I'll check my post-css plugins.

[2018-06-07 04:44] paulmasek commented on #151
+1 Mainly because it'll probably fix https://github.com/Va1/browser-sync-webpack-plugin/issues/69

[2018-06-07 13:46] maciej-gurban commented on #80
0. Make sure your configuration matches the one in README
1. Remove your `node_modules`
2. Update webpack version in `package.json`
3. Run npm install

Updating from `webpack@4.2.0` to `webpack@4.11.1` fixed it for me

[2018-06-08 08:35] 383366204 opened #171 "How to remove unused selectors from css ?"
I used PurifyCSS Plugin in webpack v3 ,but PurifyCSS Plugin should be used with the extract-text-webpack-plugin.
And I saw this in extract-text-webpack-plugin's documentation ->"Since webpack v4 the extract-text-webpack-plugin should not be used for css. Use mini-css-extract-plugin instead."

How to remove unused selectors from css in webpack v4?(sorry my English is not good)

[2018-06-08 09:14] #171 closed

[2018-06-08 17:13] southernyankee113 opened #172 "Overflow"

[2018-06-08 17:20] #172 closed

[2018-06-09 15:44] Diokuz commented on #98
@evilebottnawi unfortunately I have no time to explore webpack code to find out why `compilation.rebuildModule` doesnt works properly in 4th version  :(
No hope to fix that without me?

[2018-06-09 17:39] evilebottnawi commented on #98
@Diokuz issue in my todo, but i have big todo :smile:

[2018-06-09 23:20] Deathangel908 opened #173 "Vue + minicss = ReferenceError: window is not defined"
Can't get `MiniCssExtractPlugin` working with Vue single component files.
Archlinux  node v10.3.0
[code]

steps to reproduce:
 - `git clone  https://github.com/Deathangel908/vue-webpack-minimal && cd vue-webpack-minimal `
 - `npm install`
 - `npm run build`

[2018-06-10 06:47] Deathangel908 commented on #173
Oh I shouldn't use style-loader...
[code]

[2018-06-10 06:47] #173 closed

[2018-06-10 08:36] ankitsaroha commented on #153
@evilebottnawi did you have time to take a look? Any kind of help would be appreciated.

[2018-06-11 12:50] hbobenicio commented on #141
@pldg is it only about the CSS extract bundle filename? You could set it wht mini-css-extract-plugin as follows:

[code]

I've created a PR on your test repo. Could you please take a look and check it there is any other concerns about the `inline: false` workaround?

[2018-06-11 15:36] imwtr opened #174 "Allow an excludeChunks configuration ?"
Now I have a problem with `common` chunk, setting this chunk in `html-webpack-plugin` chunks options will inject `common.js` and `common.css` to the html file. Yet the page will layout wrong when `common.css`  exists, it seems unuseful.
So it would be greate if this plugin allows this chunk-css-extract control ~
`html-webpack-plugin` provides an `excludeChunks` option, but it affects both.

[2018-06-11 20:44] dtothefp commented on #112
actually fixed here https://github.com/mzgoddard/hard-source-webpack-plugin/pull/346

[2018-06-11 21:25] hbobenicio commented on #141
Yes... I see now your point, @pldg . You're totally correct, this **is still buggy**. Sorry for my blidness! And thanks for taking the time to explaining it.

[2018-06-11 22:08] mattvagni opened #175 "Remove peerDependency on Webpack"
I'm currently using `mini-css-extract-plugin` within an NPM dependency and am running into issues due to it specifying Webpack as a peerDependency. NPM unfortunately hoists it to the root where the Webpack version may be different per project.

I was wondering how come I don't have this issue with `style-loader` and other popular loaders and noticed that they don't seem to specify a peer on Webpac

[2018-06-12 07:40] zzzgit opened #176 "how can i combine all the css of all chunks into a file?"
I'm using code splitting

After compiled by webpack, there will be a CSS file for every chunk

Is there a way to combine all of them into one file?

[2018-06-13 09:53] hieuhlc opened #178 "Some modules are not processed"
I'm using latest version of mini-css-extract-plugin and webpack. I did an experiment with webpack production config wrapped by [speed-measure-webpack-plugin](https://github.com/stephencookdev/speed-measure-webpack-plugin) and got result that made me curious.

![screen_shot_2018-06-13_at_16_44_13](https://user-images.githubusercontent.com/4828178/41343887-f6e55208-6f29-11e8-8937-f181d445a18f.png)

[2018-06-13 19:38] GiancarlosIO commented on #151
+1

[2018-06-14 02:05] Fuji-sunny commented on #67
Is there any update with this issue?

[2018-06-14 02:26] mobilesite opened #179 "I'm using min-cc-extract-plugin with webpack 4, but it seems doesn't work. Could you please give me some help?"
I'm using min-cc-extract-plugin with webpack 4, but it seems doesn't work. Could you please give me some help? My config is:

[code]

[2018-06-14 10:13] fvigotti opened #180 "css cachegroups doesn't seems to work , included sample-demo repository"
sample minimal-demo repository :  https://github.com/fvigotti/webpack-errordemo

the problem is that when I add this (
[code]
into cacheGroups , no errors gets logged during compilation, the output html is generated with imports ( except for css ) and neither css and javascript works anymore in the compiled output..

I've used the code from the official readme page... is this a problem of mine ? m

[2018-06-14 12:37] fvigotti commented on #180
closing this issue, found the problem, the style chunk was not included in HtmlWebpackPlugin chunks , going also to update the repository referenced in the issue with the fix

[2018-06-14 12:37] #180 closed

[2018-06-14 14:00] Adidi opened #181 "import css file from scss file does not load the css into the bundle"
I am using main file main.scss with all sort of import styling, one import imports css file from node_modules:
`@import "~react-grid-layout/css/styles.css";`
 when i use MiniCssExtractPlugin it does not put this css file into the final bundle

**Loaders dynamic code:**
[code]
**Webpack Config:**
[code]

Thank you for any help

[2018-06-14 21:43] JohnnyFun commented on #176
Is this what you're after?
https://github.com/webpack-contrib/mini-css-extract-plugin#extracting-all-css-in-a-single-file

[2018-06-15 08:32] happylindz commented on #176
Is that a way to extract css in a single file without creating a new `styles.js` js file?

[2018-06-15 10:05] smile78356 opened #182 "the path of img is wrong in css file . Does the mini-css-extract-plugin support ‘publicPath’?"

[2018-06-15 10:07] evilebottnawi commented on #182
Close in favor https://github.com/webpack-contrib/mini-css-extract-plugin/issues/44

[2018-06-15 10:07] #182 closed

[2018-06-15 10:08] evilebottnawi commented on #179
@mobilesite it is not QA service, please use `gitter` or `slack` for this, if you want help, please create minimum reproducible test repo and repo issue

[2018-06-15 10:08] #179 closed

[2018-06-15 10:09] evilebottnawi commented on #178
@hieuhlc please create issue in https://github.com/stephencookdev/speed-measure-webpack-plugin, we use standard webpack api

[2018-06-15 10:09] #178 closed

[2018-06-15 10:10] evilebottnawi commented on #176
Documented in docs

[2018-06-15 10:10] #176 closed

[2018-06-15 10:12] evilebottnawi commented on #175
All `loader`s and `plugin`s should use `webpack` in `peerDependencies` to avoid problems with compatibility with difference version. In near future `style-loader/css-loader` will receive update with `peerDeeps`. Also `webpack` should be on top of your `mode_modules` (just add `webpack` to your `package.json`).

[2018-06-15 10:12] #175 closed

[2018-06-15 10:14] evilebottnawi commented on #174
@imwtr please create minimum reproducible test repo and provide more infromation what you have and what you expect

[2018-06-15 10:15] evilebottnawi commented on #181
@Adidi not related to `mini-css-extract-plugin`

[2018-06-15 10:15] #181 closed

[2018-06-15 10:15] evilebottnawi commented on #153
@ankitsaroha right now, no, feel free to investigate

[2018-06-15 10:16] #139 closed

[2018-06-15 10:18] evilebottnawi commented on #120
@elhariri feel free to feedback if you some questions

[2018-06-15 10:18] #120 closed

[2018-06-15 10:21] Adidi commented on #181
So what it is related ?
Same code works with ExtractText plugin

[2018-06-15 10:22] evilebottnawi commented on #151
Weppack is `js` bundle, i can not imagine why this might be necessary, please provide use case

[2018-06-15 10:41] happylindz opened #183 "Is that a way to extract css in a single file without creating a new styles.js js file"
I just find the document saying extracting all css in a single file.
[https://github.com/webpack-contrib/mini-css-extract-plugin#extracting-all-css-in-a-single-file](https://github.com/webpack-contrib/mini-css-extract-plugin#extracting-all-css-in-a-single-file)

Is that a way to extract css in a single file without creating a new styles.js js file?

[2018-06-15 10:52] evilebottnawi commented on #183
Duplicate https://github.com/webpack-contrib/mini-css-extract-plugin/issues/85, PR welcome

[2018-06-15 10:52] #183 closed

[2018-06-15 12:17] pravdomil commented on #74
@ferdinando-ferreira can you please reopen the issue? because I missing `emitFile` option in this package

[2018-06-15 21:53] Adidi commented on #181
@evilebottnawi

It always funny the condescending attitude of some programmers in a popular open source that presumes everybody noobs but them
It might be bug in `mini-css-extract-plugin` and you just don't want to see it.

This is not true but you are obviously not a person that wants to learn anything.
Good Luck

[2018-06-15 21:58] evilebottnawi commented on #181
@Adidi You do not provide either full configuration or minimum reproducible repository and ask for help, i can't help you here, because i can't reproduce your problem. I help everyone as I can, and unfortunately questions more than my time. And do not be aggressive.

[2018-06-16 07:34] glen-84 commented on #143
Duplicate of #67?

[2018-06-16 07:45] glen-84 commented on #67
@Fuji-sunny See #145.

[2018-06-16 14:07] imwtr commented on #174
oh, i have just solved it by setting `optimization.splitChunks.cacheGroups.default` to false
thx

[2018-06-16 14:07] #174 closed

[2018-06-16 21:34] thewebsitedev commented on #151
Same issue. I have a PHP application but I am managing assets with Webpack. With Webpack 4 & MiniCssExtractPlugin, generating CSS files is a pain at the moment. I need to directly load CSS file.

Part of my config:
[code]

Files generated are: `admin.css` & `admin.js`.

I don't need `admin.js` file. It's useless in my case.

[2018-06-17 04:13] LitileXueZha commented on #73
![image](https://user-images.githubusercontent.com/22041474/41504628-41bd03ca-7227-11e8-8fb9-35c596a1aeaa.png)

As you can see, i log the this[NS].It seems to be runed 2 times, and code catch error secondly.
In this case, i have added MIniCss to plugins array.

[2018-06-18 12:04] f3l1x commented on #173
@Deathangel908 Why we shouldn't use style-loader? Thanks for an explanation.

[2018-06-18 15:17] bregenspan commented on #151
The cause of this is probably https://github.com/webpack/webpack/issues/7300, which has been added to the Webpack 4.x milestone.

[2018-06-18 15:41] kud opened #184 "Order trouble when importing CSS files from a css file"
I've got for instance this:

- `index.js`:

[code]

- `index.css`:

[code]

I'll got a unordered `index.css` at the end.

---

But if I do this:

- `index.js`:

[code]

It will be ok.

Do you have any idea why?

tl;dr: Order isn't kept when importing from css files, contrary to js files.

[2018-06-18 17:45] mobilesite commented on #179
Well, I've worked around it by myself. It was the `"sideEffects": false` option in the package.json which caused the problem. After removing it, everything is OK. Thank you all the same!

[2018-06-18 18:07] madhavarshney commented on #173
@f3l1x - From the README of style-loader:

From the README of mini-css-extract-plugin:

MiniCSSExtractPlugin extracts CSS into separate files and adds the assets to webpack's asset map.  Style-Loader, on the other hand, embeds the CSS as a string into the JS bundle itself and then, at runtime, injects it into the DOM with a `style` tag.  These methods conflict, hence the error.

[2018-06-18 19:28] f3l1x commented on #173
Thank you. Of course, I'm stupid.

[2018-06-18 19:31] maykefreitas commented on #184
I'm having same problem :/

[2018-06-19 06:11] xiaofan9 commented on #44
@ClaytonHunt 你的意思是，
file-loader -> publicPath，MiniCssExtractPlugin -> publicPath 这两者参数多要设置？
还是只需要设置file-loader 上设定publicPath的参数？
我目前只是修改了MiniCssExtractPlugin -> publicPath 这个参数，背景图引入路径已经被纠正！

[2018-06-19 07:33] spixooze commented on #123
same issue here

[2018-06-19 09:49] glook commented on #126
retuned back to ```extract-text-webpack-plugin@next```. Now it works fine!

[2018-06-19 09:50] evilebottnawi commented on #44
Please don't spam here, use `publichPath` option for `mini-css-extract-plugin` loader, if it is not help double check you `publichPath` on other loader, thanks!

[2018-06-19 10:28] evilebottnawi commented on #44
@ClaytonHunt not for you, just notice about issue like "I have some problem" (without configuration or minimum reproducible test repo)

[2018-06-19 14:42] xiaofan9 commented on #44
@evilebottnawi I am sorry, I repeat the editor is afraid I am not fully expressed, I will pay attention next time.

[2018-06-19 14:46] xiaofan9 commented on #44
@ClaytonHunt Using only publicPath on file-loader, I don't know if you will encounter the problem that the src in img can't find the path?

[2018-06-20 01:36] davorpeic commented on #123
Been trying to find a solution to this one for days, only main sass file is referenced. If I find some solution will let you know

[2018-06-20 09:21] evilebottnawi commented on #123
Somebody can create minimum reproducible test repo?

[2018-06-20 12:36] davorpeic commented on #123
Ok, I can try doing it today

[2018-06-20 15:00] davorpeic commented on #123
Ok, while recreating our repo to minimal reproducible case I got my sass to generate correct sourcemap pointing to imported sass files. So I assumed something is different. We had few warnings from node-sass as we were importing .css files directly from node_modules libraries, I temporarely removed that _plugins.scss file that handled those imports, and then I got my sourcemap to show correctly, a

[2018-06-20 15:28] mach-kernel commented on #118
I am still broken with use of `sideEffects` set to `false` or `[ "*.css", "*.scss" ]`

[2018-06-21 03:55] haniX2010 opened #185 "How to use less-loader in mini-css-extract-plugin"
I can find the sample like below for css.
const MiniCssExtractPlugin = require("mini-css-extract-plugin");
module.exports = {
  plugins: [
    new MiniCssExtractPlugin({
      // Options similar to the same options in webpackOptions.output
      // both options are optional
      filename: "[name].css",
      chunkFilename: "[id].css"
    })
  ],
  module: {
    rules: [
      {
        test: /\.c

[2018-06-21 12:47] sv-uml opened #186 "Compatibility with AngularCompilerPlugin"
I have an Angular 6 project where I want to use the mini-css-extract-plugin. Here is the relevant part of the webpack configuration:

    module: {
        rules: [
            {
                test: /(?:\.ngfactory\.js|\.ngstyle\.js|\.ts)$/,
                loader: "@ngtools/webpack"
            },
            { test: /\.html$/, loader: "raw-loader" },
            {
                test: /\.(png

[2018-06-21 13:04] sv-uml commented on #186
UPDATE: It seems that this error is occurring when an Angular component has "styleUrls" property set to an array of at least one style sheet URL.

[2018-06-21 13:10] sv-uml commented on #186
It seems that this issue occurs specifically when "skipCodeGeneration" is set to false and an Angular component has its "styleUrls" property set to an array of style sheet URLs.

[2018-06-21 13:18] evilebottnawi commented on #186
@sv-uml what version `webpack` your use?

[2018-06-21 13:28] sv-uml commented on #186
It's webpack 4.12.0. All packages are currently at the latest version.