[2020-02-26 10:17] kingller commented on #504
Now I use [css-async-process-webpack-plugin](https://www.npmjs.com/package/css-async-process-webpack-plugin) to solve this issue.

[2020-02-26 10:17] #504 closed

[2020-02-26 10:24] evilebottnawi commented on #504
It was solved in the near future, https://github.com/webpack-contrib/mini-css-extract-plugin/pull/495

[2020-02-27 01:10] kingller commented on #504
OK. Thanks very much.

[2020-02-27 11:52] numannaufal commented on #417
same issue here. any updates?

[2020-02-29 16:38] fivethreeo commented on #487
getModuleIndex2 is deprecated but still exists, this is a problem with groupsIterable being a empty array

[2020-03-01 08:50] fivethreeo commented on #487
Seems like HotUpdateChunk has no ChunkGroups to me. Can we just skip some checks if it is a HotUpdateChunk. Not sure the ChunkGroups matter in a hot update.

[2020-03-01 21:17] Madoshakalaka commented on #493
I also have the same issue

[2020-03-02 06:53] gartz opened #506 "this._identifier.split error, can't read property"
- Operating System: MacOS
- Node Version: v12.13.1
- NPM Version: 6.12.1
- webpack Version: 4.41.6
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior
To not throw errors when `this._identifier` is not a string (might be `null`)

### Actual Behavior

[code]

### Code

it's huge, but basically when enabled SSR rendering for the CSS loaders

### How Do We Reproduce?

Add loaders:
* css-l

[2020-03-02 10:02] evilebottnawi commented on #506
Please create reproducible test repo

[2020-03-02 14:30] infime commented on #487
@fivethreeo I would be happy to test any fix you are able to come up with. :smile:

[2020-03-02 15:08] fivethreeo commented on #487
Error seems to be gone in webpack@beta.13 but there are new errors about ordering

[2020-03-02 15:35] fivethreeo commented on #487
Strange, unable to reproduce bug now, even in beta.11

[2020-03-02 15:47] infime commented on #487
I am fairly certain I saw the exact same issue with hmr but quickly went
back to v4.

On Mon, Mar 2, 2020, 10:36 Øyvind Saltvik <notifications@github.com> wrote:

[2020-03-02 16:19] fivethreeo commented on #487
Me too, quite sure I saw it

[2020-03-02 20:35] fivethreeo commented on #487
https://github.com/fivethreeo/webpack-mini-css-extract-plugin-hmr-error/runs/480649121?check_suite_focus=true

But, working fine here, see the run above

[2020-03-03 05:32] gartz commented on #506
I'm using the react-create-app, if I enable the `onlyLocals` from `css-loader` it gives that error mentioned, when I disable it, seems to work, but I'm not sure yet if the builded file is valid.

[2020-03-03 10:48] evilebottnawi commented on #506
@gartz Maybe you can provide steps to reproduce it using CRA?

[2020-03-03 14:15] nicooprat commented on #250
Tried to add `ignoreOrder: true` but I'm getting some `Cannot read property 'createChildCompiler' of undefined` errors, has anyone encountered the same issue? Looks like it's coming from the `thread-loader` plugin but I couldn't find any solution there.

[2020-03-03 18:38] infime commented on #487
Still seeing this with webpack@5.0.0-beta.13 and webpack-dev-server It occurs when changing css and expecting a hot reload:

[code]
    at Hook.CALL_DELEGATE [as _call] (/home/u/dev/proj/frontend/.yarn/cache/tapable-npm-2.0.0-beta.9-f864df88fb-2.zip/node_modules/tapable/lib/Hook.js:14:14)
    at cont (/home/u/dev/proj/frontend/.yarn/cache/webpack-npm-5.0.0-beta.13-3ca4e42afa-2.zip/node_modules/web

[2020-03-04 10:21] sokra commented on #487
This should be fixed in webpack/webpack

[2020-03-04 14:01] khades commented on #341
I did some research.

In case of dynamic imports while calling that function https://github.com/webpack-contrib/mini-css-extract-plugin/blob/1ffc393a2e377fe0cc341cfcbc5396e07a8e4077/src/index.js#L411
we are getting modules that are not used in that chunk. So their id, generated on line
https://github.com/webpack-contrib/mini-css-extract-plugin/blob/1ffc393a2e377fe0cc341cfcbc5396e07a8e4077/src/inde

[2020-03-05 02:29] fivethreeo commented on #487
Is this using my example? If not can you post your webpack config?

[2020-03-06 14:52] CyberCookie commented on #75
webpack v4.41.5
mini-css-extract-plugin v0.8.2

Still the same wrong behavior...

[2020-03-06 15:05] evilebottnawi commented on #75
Please provide reproducible test repo if your faced with issue and open a new issue, thanks

[2020-03-06 15:05] #75 closed

[2020-03-06 17:50] fivethreeo commented on #487
I tried with webpack-dev-server too, no such error here.

https://github.com/fivethreeo/webpack-mini-css-extract-plugin-hmr-error/runs/490838699?check_suite_focus=true

Check out my example and see if it runs locally for you.

git clone https://github.com/fivethreeo/webpack-mini-css-extract-plugin-hmr-error.git
cd webpack-mini-css-extract-plugin-hmr-error
NODE_ENV=development yarn install
yarn run

[2020-03-08 03:17] snitin315 opened #507 "Readme: deps badge is broken"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- mini-css-extract-plugin Version:

### Expected Behavior / Situation

The badge should not be broken.

![Screenshot from 2020-03-08 08-44-01](https://user-images.githubusercontent.com/46647141/76155953-57014880-6119-11ea-8fe6-a66c426ab62c.png)

![Screenshot from 2020-03-08 08-47-07](https://user-images.githubusercontent.com/466

[2020-03-10 08:36] evilebottnawi commented on #507
Make sure that the provider gives you access to the web resource, everything works well

[2020-03-10 08:36] #507 closed

[2020-03-10 12:01] mykt0ngc0 commented on #137
Here's a [workaround](https://github.com/webpack-contrib/mini-css-extract-plugin/issues/137#issuecomment-387717213) by @evilebottnawi :

[2020-03-10 12:13] mykt0ngc0 commented on #403
These are the workarounds: 👇

1. https://github.com/webpack-contrib/mini-css-extract-plugin/issues/403#issuecomment-529142424 by @TheBoroer
2. https://github.com/webpack-contrib/mini-css-extract-plugin/issues/403#issuecomment-537272340 by @alessiofachechi

[2020-03-10 14:28] minpuff commented on #39
I received the same message, but I don't quite understand what it means. Can you explain it for me?

[2020-03-10 19:05] germanf commented on #493
Same here

[2020-03-11 07:14] matzeeable commented on #52
Stumbled over the same problem but I go one step further because my script imports also `.scss` and `.less` files from vendors:

[code]

[2020-03-11 11:47] joewongex commented on #493
Same here

[2020-03-12 03:33] notomorow commented on #493
+1

[2020-03-12 18:23] zlk89 commented on #454
@evilebottnawi any update? We are getting this issue again

[2020-03-13 08:52] evilebottnawi commented on #454
@zlk89 no right now, but will be fixed in near future

[2020-03-14 23:48] hiraditya commented on #493
I'm having the same issue.
Do you have both "mini-css-extract-plugin" and "extract-text-webpack-plugin" installed?

[2020-03-15 00:09] hiraditya commented on #493
I read somewhere this maybe because of multiple installations of `webpack`.
https://github.com/angular/angular-cli/issues/13298#issuecomment-449867407
see if that is the case.
[code]

[2020-03-15 01:51] hiraditya commented on #493
I have only 1 instance of webpack installed but still getting the error.
[code]

[2020-03-15 02:57] hiraditya commented on #493
I had two issues in my source code;
- both mini-css-extract-plugin and extract-text-webpack-plugin were installed. So i removed the extract-text-webpack-plugin but the error was still there.
- After that i changed the loader from `use: [MiniCssExtractPlugin.loader, 'css-loader']` to `use: ['style-loader', 'css-loader'], ` This fixed it finally.

Not sure if the first one was still an issue but goo

[2020-03-16 08:22] YES-Lee commented on #382
I found this problem in such case:

Parent.js

[code]

Child.js

[code]

Page.js

[code]

and then I solved this problem with:

Page.js

[code]

when `Child` component was nested in `Parent` component, it mast be imported before `Parent` component.

[2020-03-16 21:34] mmikitka commented on #493
I only found success with v0.8.0 of mini-css-extract-plugin, when used with vue-cli-service (v0.9.0, v0.8.2, and v0.8.1 resulted in the same CssDependency error message).

I pinned the version via the following package.json entry:
[code]

[2020-03-17 11:42] infime commented on #487
@fivethreeo I pulled your example repo and I am able to reproduce by starting the dev server and then making a change to test.scss

[2020-03-17 13:57] fivethreeo commented on #487
Ok, reinstalled node modules and can confirm now.

[2020-03-17 16:22] fivethreeo commented on #487
https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/index.js#L414

In this line the destructuring does not yield a ChunkGroup even though the set is not empty.

This chunkGroup is only needed to fall back if we are below webpack 4.

of in

https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/index.js#L416

We change to

[code]

We get more interesting e

[2020-03-18 01:36] devongovett commented on #102
@sokra The behavior here is quite problematic for libraries that wish to support tree shaking unused CSS. Imagine a package with multiple components. Importing one of the components should include only the CSS for that component, not the entire package.

[code]

my-great-button has an index.js file with the following:

[code]

Importing Button should not include the CSS for FancyButton as well, bu

[2020-03-18 19:47] bschmeck opened #512 "Non-deterministic contenthash generation"
We run a Rails app that is deployed to multiple webservers.  During our deploy, we build packs on each machine from the same deployed code.  We have very recently encountered an issue where this process has resulted in packs with different `contenthash` fingerprints in their filename.  There are only 2 CSS files in the chunk, and it seems to be an issue of the order in which those modules are hash

[2020-03-19 08:26] fivethreeo commented on #505
#487 Got the same problem, any idea to the cause?

[2020-03-19 09:13] fivethreeo commented on #487
Looking at razzle, I see they just use mini-css-extract-plugin when building production css. Just style-loader is used in development with hmr.

[2020-03-19 10:04] evilebottnawi commented on #512
We known about non-deterministic contenthash problems due source maps, please create reproducible test repo we need investigate, maybe you faced with a new problem

[2020-03-19 12:10] Cody2333 opened #513 "{opacity: 50%} is transpiled to {opacity: 1%}"
- Operating System: MacOS 10.15.2
- Node Version: v12.16.1
- NPM Version:v6.13.4
- webpack Version:v4.41.5
- mini-css-extract-plugin Version:v0.9.0

### Expected Behavior
correctly build css files.

### Actual Behavior
[code]
is transpiled into
[code]

### How Do We Reproduce?

using `npx create-react-app` to init a project
edit App.css
[code]
runing `yarn build`

build/static/css/xxx.css got `{op

[2020-03-19 12:28] evilebottnawi commented on #513
We don't touch your CSS, it is bug css minimizer

[2020-03-19 12:28] #513 closed

[2020-03-19 12:29] evilebottnawi commented on #513
Bug in `optimize-css-assets-webpack-plugin`, maybe in cssnano

[2020-03-19 14:12] jamesho2877 commented on #156
Me too, with `onlyLocals : true` enabled to kindly support `css modules`

[2020-03-19 17:09] jamesho2877 commented on #205
Have anyone try [extract-css-chunks-webpack-plugin](https://github.com/faceyspacey/extract-css-chunks-webpack-plugin) instead? I tried and it worked in my case as I need to extract CSS from js bundle which used `css-modules` under the hood.
I do not have SSR in case you wonder but I do generating bundle for browser use + `css-modules` so `onlyLocals` would not work quite well in my case. Don't kno

[2020-03-20 09:10] khades commented on #505
more likely this #341

[2020-03-20 14:20] StNekroman commented on #186
the same bug (in mini-css-extract-plugin) while running aot build.
In dev mode (jit compiler) it works fine

[2020-03-21 21:26] tusharshuklaa commented on #341
Is there any workaround for this, I'm also facing this issue.

[2020-03-21 23:32] fivethreeo commented on #341
Just dont use this with HMR, just use in a production build. So skip this loader and plugin in dev and use style-loader in dev.

[2020-03-22 06:21] BiosBoy opened #515 "HMR updates CSS chunk without new data included (e.g. new chunk === old data)."
First of all thanks guys for such a great plugin! I've tried a lot of solutions along with `extract-css-chunks-webpack-plugin`, but without any luck.

### Environment
- Operating System: macOS Catalina
- Node Version: 12.16.0
- NPM Version: 6.13.4
- webpack Version: 4.41.6
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior
Should update data inside regenerated chunks once their files

[2020-03-22 11:35] BiosBoy commented on #515
Well, I've found the issue by myself.

Actually `webpack`/`mini-css-extract-plugin` generates new CSS chunk with updated data inside. BUT! For some reason, it doesn't replace the previous (outdated) chunk inside the actual HTML. Instead, **the old chunk is going to replace itself** just with new timestamp on the tail...

Any ideas guys?

[2020-03-22 12:16] BiosBoy commented on #515
Finally, I found an issue. I've changed:
[code]

to

[code]

...and now it seems to work properly.

[2020-03-22 12:16] #515 closed

[2020-03-22 13:18] gaurav5430 commented on #196
Did you figure it out? Are you using it with style loader ?

[2020-03-22 13:19] gaurav5430 opened #516 "Usage with style loader - ambiguous docs"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
The documentation says:

The first part:

seems to suggest that this plugin should not be used in development builds, only in production builds and that too without style-loader. Is that understanding correct?

The second part:
`especially if you want to have HMR in development`
seems to

[2020-03-22 22:56] fivethreeo commented on #341
Feel free to contact me for support 😀

[2020-03-23 02:51] elchicofrommo opened #517 "Help with order of operations inside MiniCSSExtractPlugin.apply"
Hey team, I'm looking to hack up the apply function to allow me to output all the dependent CSS/SCSS into a single file for each OrginalSource for the entry point. I'm pretty close to my solution but I'm stuck with the naming of the file. The problem as I see it is that when the fileNameTemplate function is called I don't actually have the the sources ready because the render function hasn't been

[2020-03-23 07:27] khades commented on #341
only by modifying mini-css-extract-plugin itself. Before line

https://github.com/webpack-contrib/mini-css-extract-plugin/blob/1ffc393a2e377fe0cc341cfcbc5396e07a8e4077/src/index.js#L498

add code
[code]

[2020-03-23 22:10] elchicofrommo opened #518 "Output one file for each source css file in an entry"
- Operating System:
- Node Version: >6.9.0
- NPM Version:
- webpack Version: > 5
- mini-css-extract-plugin Version: 0.9.0

### Feature Proposal
I don't know if this would even be useful for another engineer, but I found I wanted to output all the css required in an entry point as individual files instead of a single merged file. I've done the work locally to make that function so I wanted to ask i

[2020-03-24 04:05] TotooriaHyperion opened #519 "Don't work with css-modules"
- Operating System: macOS Mojave 10.14.6
- Node Version: 12.13.1
- NPM Version: 6.14.2
- webpack Version: 4.42.0
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior

Should work with css-module

### Actual Behavior

If any css file includes a css-module export, then the HMR breaks.
a.css
[code]
b.css
[code]
Those style without css-module will work. scss file is the same behaviour with

[2020-03-24 06:14] ranjanngc commented on #493
Fixed this issue, I was missing plugin (see set plugins sections below)
[code]

[2020-03-24 10:12] evilebottnawi commented on #519
Please create reproducible test repo

[2020-03-24 10:14] evilebottnawi commented on #518
I don't understand problem, please clarify, you can achieve that using configuration

[2020-03-24 15:10] elchicofrommo commented on #518
That would be great but I haven’t yet figured out how to do that. What configurations cause this to happen?

[2020-03-24 17:33] elchicofrommo commented on #518
I made a mini project [https://github.com/elchicofrommo/minicssextract_e1.git](url) with two scss files, one entry file and trying to get output css file for each source scss file. I've tried multiple combos of optimization settings and nothing I do will generate a file for portfolio.scss and surveyStyle.scss

[2020-03-25 01:56] TotooriaHyperion commented on #519
reproduce: https://github.com/TotooriaHyperion/mini-css-extract-plugin-bug

[2020-03-25 02:07] TotooriaHyperion commented on #519
If style inside :local() block is empty, there would not be a css module and then hmr works.
But if there is a css-module actually exist, the hmr breaks:
![image](https://user-images.githubusercontent.com/16434801/77494308-648c3180-6e80-11ea-994a-e18ee3d20776.png)

[2020-03-25 02:09] TotooriaHyperion commented on #519
Looks like we need a similar behavior like https://github.com/webpack-contrib/style-loader/pull/298

[2020-03-25 02:15] elchicofrommo commented on #518
I think I figured out how to do what I'm was looking for with a combination of other loaders. Basically using file-loader, extract-loader, css-loader, sass-loader I can extract them all to files and get hot reload of the css. I spent so much time on it  :(    At least I got a good perspective of the guts of MiniCssExtractPlugin. Question for you since you already responded. How would i go about mi

[2020-03-25 11:36] evilebottnawi commented on #519
It is bug, it is feature, css-modules doesn't support HMR

[2020-03-25 11:39] evilebottnawi commented on #518
@elchicofrommo I don’t understand at all what you want to do, the link provided does not work, please state everything point by point, you don’t need to write a lot of text in the mix from questions and reasoning, I can’t understand you

[2020-03-25 11:42] evilebottnawi commented on #518
- extracting https://github.com/webpack-contrib/mini-css-extract-plugin#extracting-css-based-on-entry, you can write any `test` value, based on you ideas
- minimizing - https://github.com/webpack-contrib/mini-css-extract-plugin#minimizing-for-production

[2020-03-25 14:53] elchicofrommo commented on #518
The link was you could clone the repo and look. It is here https://github.com/elchicofrommo/minicssextract_e1 . You can see in the project I have two scss files and one js files. I want to extract two css files but what I want does not seem possible with this plug in. What I read is you can only get one css file for each js file.

[2020-03-25 15:11] evilebottnawi commented on #518
You need pass right configuration to `test` option for `splitChunks`, I will look at that in near future and provide example

[2020-03-26 02:32] sophiebits commented on #94
It looks as though it's possible to solve this using a variant of what https://github.com/webpack-contrib/worker-loader does – running the entire webpack compiler as a "child" of the main one to produce a bundle that you can reference. I think it's likely possible to make a general purpose version of this but haven't had the time.

[2020-03-26 15:36] alexandrukis commented on #505
This happens because your entry point shares its name with the cache group

[code]

Try changing your `cacheGroups` definition to this, see if it works:

[code]

[2020-03-26 16:32] duanbaosheng commented on #85
can  you  show  the method ? thank you

[2020-03-26 16:41] duanbaosheng commented on #85
can you show the method ? thank you

[2020-03-26 20:48] shortpoet commented on #493
Not sure if I'll have to use the plugin eventually.  Reading through similar issues I tried running build command in powershell and it just worked.  Guessing it resolves the casing properly.  This issue for me is in using bash shell for windows which I would like to be able to continue using if anyone has a fix for that.

[2020-04-01 04:11] EnjoyChan commented on #471
any solution?

[2020-04-01 15:34] ernestostifano opened #521 "Hoist href urls construction logic to localVars in runtime"
- Operating System: macOS Catalina (10.15.3)
- Node Version: 13.12.0
- NPM Version: 6.14.4
- webpack Version: 4.42.1
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior / Situation

See ***Modification Proposal*** below.

### Actual Behavior / Situation

Currently, the runtime `href` urls construction logic is placed inside the `requireEnsure` function (using `compilation.mainTemplate.

[2020-04-04 10:22] joseprio opened #522 "Add a configuration option to map class name to module exports in ES module mode"
First of all, thanks for fixing #424!

### Feature Proposal
At the moment, a dictionary object is exported in the generated JS module that maps the old classname with the generated one. Unfortunately, this prevents mangling those keys, as it's not guaranteed that they change during runtime (although it's reasonable to assume they won't).
We can solve this by exporting each of those classnames as a

[2020-04-06 09:57] evilebottnawi commented on #522
Duplicate, https://github.com/webpack-contrib/css-loader/issues/1029

[2020-04-06 09:57] #522 closed

[2020-04-07 00:16] ckot commented on #493
I've been able so far, to have all of my apps use the same webpack rules, so I'm importing the same webpack.dev, webpack.prod, and webpack.common into all of my apps webpack.config.js files, so I was puzzled when only **one** of my apps broke with this error.

I discovered that the apps were using different versions of both webpack and webpack-cli as I merely, at different times, did `yarn workspa

[2020-04-07 02:32] frhandlee opened #523 "moduleFilename doesn't work when i using runtimeChunk"
- Operating System: macos
- Node Version: 10.15.3
- NPM Version: 6.10.0
- webpack Version:4.42.1
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior
moduleFilename can work

### Actual Behavior
moduleFilename can't work when i open runtimeChunk

### Code

[code]

### How Do We Reproduce?

it's  will certainly appear  when  open runtimeChunk，and it's ok in 'extract-text-webpack-plugin'

[2020-04-07 09:02] evilebottnawi commented on #523
runtimeChunk and moduleFilename is difference, please create reproducible test repo

[2020-04-08 06:42] prateekbh commented on #212
Hi! This plugin still seems to insert the dynamically loaded chunks in head

https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/index.js#L379

Is there a way that these dynamically loaded styles can be put in some other place? e.g. end of body?

[2020-04-09 21:39] tarponjargon commented on #113
nwrightau's solution worked for me

[2020-04-10 17:29] StNekroman commented on #52
Very bad bug.
It's impossible to fetch all styles to one file.

[2020-04-12 09:12] allocenx commented on #487
So, is there any fix for this yet? I can't get this work at all, on beta 13 of the webpack 5. Is there a workaround until a fix is out??

[2020-04-13 22:21] fivethreeo commented on #487
No fix yet, but just don't use this with hmr in dev. Just use the style loader instead when developing and just use this plugin when building the production build.

[2020-04-14 15:43] temple commented on #52
¿@StNekroman have you tried the formula suggested in the PR #60 , which is already **merged**?
It works for me, combining in one file shared styles among different entry points dependency graphs, no matter if are vendors or local app ones.

[2020-04-15 06:51] StNekroman commented on #52
@temple nevermind, it was my issue - comment updated.

[2020-04-17 19:52] HerrZatacke opened #525 "Is "enable HMR only in development" really necessary?"
Version of Webpack used: `4.42.0`
Version of the plugin: `mini-css-extract-plugin: 0.9.0`
the use-case that fails: **Unclear Documentation**

As stated in the documentation:
the `hmr` option should only be `true` in development mode.
https://github.com/webpack-contrib/mini-css-extract-plugin/blob/1ffc393a2e377fe0cc341cfcbc5396e07a8e4077/README.md#L348

This comment recommends to

https://github.co

[2020-04-18 13:10] evilebottnawi commented on #525
Because it ads a lot of runtime code which is not needed in production mode, feel free to send a PR to docs if you want to improve it

[2020-04-18 13:10] #525 closed

[2020-04-18 13:12] evilebottnawi commented on #525
We remove that option in next release and enable HMR by default when you have HotModuleReplacmentPlugin

[2020-04-23 05:18] Jessidhia commented on #523
By using debug `console.error`s, I can confirm that the `moduleFilename` function doesn't get invoked at all: the `chunkFilename` function is invoked instead. However, making `chunkFilename` a function causes the error in https://github.com/webpack-contrib/mini-css-extract-plugin/issues/417 instead:

[code]

[2020-04-24 08:38] patriksletmo commented on #40
I discovered a need of this functionality in one of my projects, so I decided to open a PR that implements this functionality (#526). Along with this PR I have also prepared changes to [webpack-subresource-integrity](https://github.com/waysact/webpack-subresource-integrity) that makes use of this new functionality to implement the support @jscheid referenced in the original post.

Feel free to sub

[2020-04-26 20:58] mbj36 commented on #358
[code]

This doesn't work for me. Any help ?

[2020-04-30 02:20] yingzhe commented on #512
Left a comment here: https://github.com/webpack-contrib/mini-css-extract-plugin/pull/482
I think the problem is that when generating the `contenthash` generation is based on the order of modules inserted into `chunk.modulesIterable`, but when rendering content asset, the modules are first sorted by `index2`. If `contenthash` generation includes `index2`, maybe that would solve the issue?

[2020-04-30 03:15] eugenegantz commented on #471
I have same problem when "module:@babel/preset-env" option useBuiltIns = "usage".
Changing to useBuiltIns = "entry" solved this problem.
Probably it could help you.

[2020-05-01 10:32] Mister-Hope commented on #85
emmm, 2 years passed 😅

[2020-05-05 19:53] noslouch opened #527 "Does not create a CSS file per JS file which contains CSS"
- Operating System: macOS 10.14.6
- Node Version: 12.16.0
- NPM Version: 6.13.4
- webpack Version: 4.43.0
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior

This doesn't seem to be the case. I would expect one CSS file for each JS file that imports CSS. Instead I'm seeing a single combined CSS file.

### Actual Behavior

It creates a _single_ CSS file containing all the CSS it encoun

[2020-05-06 10:35] evilebottnawi commented on #527
Duplicate, known issue, we will fix it in webpack@5

[2020-05-06 10:36] #527 closed

[2020-05-07 17:31] Viking0607 opened #528 "Support with Vue components"
Hello everybody! I have a config webpack.
[code]

As you can see, I have two entry points, the first of which collects Vue components that sometimes have styles. In the second case, scss is collected. Can I implement styles in vue components so that they don't fit in separate files?

[2020-05-07 17:55] evilebottnawi commented on #528
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please open an issue in vue repo, not related to this plugin. You can use `stackoverflow` or `gitter` for questions,

[2020-05-07 17:55] #528 closed

[2020-05-08 08:40] ElvisWang27 opened #529 "Sourcemap doesn't work with devtool option contain "eval""
- Operating System:
- Node Version: 10.15.2
- NPM Version: 6.4.1
- webpack Version: 4.41.6
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior

Use the devtool options with "eval" such as "cheap-module-eval-source-map", the extract css file can map to the really css or sass file.
![image](https://user-images.githubusercontent.com/12270447/81387951-24d88b00-914a-11ea-9d1a-a3e5aee402fa.p

[2020-05-12 14:39] stulzer commented on #457
I can also confirm, when upgrading from `0.4.0` to `0.4.5`. A `manifest.json` file that usually have 100+ lines, now have ~17 lines.

[2020-05-13 10:08] barak007 opened #530 "Allow css loaders to specify dependencies on other css files"
- Operating System: All
- Node Version: 12
- NPM Version: All
- webpack Version: 4
- mini-css-extract-plugin Version: 0.9.0

### Feature Proposal

Allow css loaders to specify dependencies on other css files only for extract sorting purposes.
Right now I consider the behavior a bug since every other loader can use imports to any file.

### Feature Use Case
I made a small project to demonstrate the

[2020-05-16 05:54] lhz516 commented on #487
Exact same issue here. Let share some debug experience. Hopefully it can give the author some insights to fix.

WhenI changed something and saving the stylesheet. It triggered `renderContentAsset` twice. The first time is normal - `chunk.groupsIterable` is a `Set` with one element; but the second time `chunk.groupsIterable` is an empty `Set` which causes the uncaught error

![image](https://user-i

[2020-05-18 06:37] kamilic commented on #487
still same issues in `webpack@5.0.0-beta.15`

[2020-05-18 11:45] barak007 commented on #530
Hi @sokra we are trying to move from our webpack plugin to a more simplified loader that works with other webpack echo system, and will be forward compatible with webpack@5. any chance that you can take a look?

[2020-05-19 15:51] aysiscore commented on #288
@sabarasaba's answer solves this. My error was also `ReferenceError: document is not defined` and removing `style-loader` solves it.

[2020-05-19 17:25] ElvisWang27 commented on #529
Hi @sokra , has any solution?

[2020-05-19 21:58] Hypnosphi commented on #250
@sokra do you know any practical way to do that? As pointed out above, alphabetical order doesn't always work:

[code]

[code]

[code]

Here, all the imports are sorted alphabetically, but `a.entry.js` and `b.entry.js` have different order of CSS files

[2020-05-20 10:52] BoWang816 commented on #493
If you use webpack-merge to merge the cooperation, MiniCssExtractPlugin is used in the loader, but the MiniCssExtractPlugin is not used in the same file as MiniCssExtractPlugin, the error will occur,!!!

You need to be **in the same file** Use MiniCssExtractPlugin in both the loader and plugin.

like this:
![image](https://user-images.githubusercontent.com/26587649/82438026-fbfdb180-9aca-11ea-92bc

[2020-05-21 11:18] ogonkov commented on #493
I beleive that problem is not related to wrong configuration (see configs example in first post)

[2020-05-22 10:34] Rulexec commented on #444
It is [possible](https://github.com/Rulexec/mini-css-extract-plugin/commit/024cf63dcaab62f03a7f70367fe8392a3acde28d#diff-1fdf421c05c1140f6d71444ea2b27638R240) to collect _moduleId => chunkIds map_ at compile time, pass it to runtime chunk and use from HMR.

[2020-05-23 09:40] julpat commented on #250
Still waitting for this 😇 🙏

Solving this warnings by disable them globaly is wrong. **The messages are useful** when you have nested use of same components and then the order is important!

[code]
So the solution here is "lazy" loading (getting this from Webpack doc (?) not sure now)
[code]

[2020-05-27 21:35] coreyworrell opened #532 "Is it normal to see assets output twice with this plugin?"
- Operating System: Alpine Linux (Docker)
- Node Version: 14.2.0
- NPM Version: 6.14.4
- webpack Version: 4.43.0
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior

Normal compilation output of assets listed once

### Actual Behavior

Seeing assets listed twice. Not sure why the svgs and woff files (and .gitkeep) are listed again.

### Code

https://gist.github.com/coreyworrell/5df654

[2020-06-04 01:36] kavience commented on #341
@khades Thx, dude, you are greate

[2020-06-04 07:59] orosznyet commented on #303
@danwild Thank you so much. I was trying to import icomoon style and first I thought there might be some issue with `style-loader`. It turns out the font imports were the problem (woff, ttf, otf).

This error is pretty misleading and meaningless though, a file path would've been useful:
[code]

[2020-06-05 13:50] webpack-bot opened #534 "module.resource is not available for css files"
# Bug report

**What is the current behavior?**

`module.resource` is `undefined`

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

Using:
- MiniCssExtractPlugin.loader
- postcss-loader
- css-loader
- sass-loader

**What is the expected behavior?**
`module.resource` should be the path of the css file.

**Other relevant information:**
webpack version:  4.43.0
No

[2020-06-09 17:18] scrajesh opened #536 "Webpack 5.beta.17 DEP_WEBPACK_MAIN_TEMPLATE_HASH_FOR_CHUNK and more warnings"
- Operating System:
- Node Version: v10.16.0
- NPM Version: 6.14.3
- webpack Version: 5.0.0-beta.17
- mini-css-extract-plugin Version: 0.9

### Expected Behavior

Get a valid Webpack build without errors/warnings

### Actual Behavior

[code]

### Code

[code]

### How Do We Reproduce?
Use:
webpack@5.0.0-beta.17
webpack-cli@4.0.0-beta.8

[2020-06-09 17:27] evilebottnawi commented on #536
Close in favor https://github.com/webpack-contrib/mini-css-extract-plugin/issues/330

[2020-06-09 17:27] #536 closed

[2020-06-09 17:27] evilebottnawi commented on #536
It is just deprecation, ignore them right now, webpack@5 is still in beta

[2020-06-11 12:30] lirdi commented on #3
any update on this? I also get the error.
Below is my dependencies of my react project:
[code]

[2020-06-12 13:43] evilebottnawi commented on #521
Can you provide real use case?

[2020-06-13 01:33] wangxianfa commented on #449
I had the same issue with mini-css-extract-plugin@0.9.0

[2020-06-13 09:30] wangxianfa commented on #523
i had the same issue. when add runtimeChunk in webpack.optimization，moduleFilename cant work. remove runtimeChunk, moduleFilename work again.

[2020-06-13 17:29] madChill commented on #288
Solve this! just let "style-loader" first of all.

[2020-06-14 03:39] im-singh commented on #288
Removing "style-loader" also work for me. thank you.

[2020-06-16 02:10] ZiaUrR3hman commented on #176
Guys you need provide CSS entry point or import CSS in JS file that is already added to entry point...

[code]

[2020-06-18 13:45] vjpr opened #542 "Bump `webpack-sources` to support `webpack@5`"
In a recent commit support for `webpack@5` was added.

https://github.com/webpack-contrib/mini-css-extract-plugin/commit/903a56ea3fa08e173cd548d23089d0cee25bafea

I think `webpack-sources` might need updating to from `1.4` to `2.0.0-beta.8`.

- Operating System: macOS
- Node Version: 14
- NPM Version: 6.14.4 (using pnpm@5)
- webpack Version: 5.0.0-beta.18
- mini-css-extract-plugin Version: 0.9.0

[2020-06-18 13:58] evilebottnawi commented on #542
No, it can't be upgraded right now, also we have compatibility between `1` and `2` to support webpack@4 and webpack@5, it will be bumped after drop webpack@4, we can't do it right now, sorry

[2020-06-18 13:58] #542 closed

[2020-06-18 21:49] wintercounter commented on #176
Neither for me, I end having dosens of CSS files.

[2020-06-20 19:27] iceycc opened #543 "Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):"
Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
ModuleBuildError: Module build failed (from ./node_modules/postcss-loader/src/index.js):
Error: Loading PostCSS Plugin failed: Package exports for 'xxxxxx/node_modules/kleur' do not define a valid './colors' target

[2020-06-20 19:55] gengshaojing commented on #543
What is your Node.js version?

Anything between >= 13.0 and < 13.7 had an earlier version of exports map support that has since been removed and deprecated.

[2020-06-21 07:15] #543 closed

[2020-06-21 08:52] saravanan10393 opened #544 "Lots of deprecation warnings in webpack-5-beta-16"
- Operating System: MacOs
- Node Version: 12
- NPM Version: 6
- webpack Version: 5.0-beta-16
- mini-css-extract-plugin Version: ^0.9

### Expected Behavior
Support for webpack-5 without any warnings

### Actual Behavior
There are lots of deprecation warnings bloating up my terminal

### Code

[code]

[code]

[code]

[code]

[2020-06-21 20:06] phxism commented on #29
[Solution to no CSS source map file generated under production mode in Webpack 4](https://www.webfoobar.com/node/109) it might help

[2020-06-22 01:22] slightlyfaulty commented on #487
Still same issue in `webpack@5.0.0-beta.18`.

This is a show-stopper bug completely preventing HMR with MiniCssExtractPlugin in Webpack 5. Please give this some attention 🙏

[2020-06-22 10:07] evilebottnawi commented on #544
Duplicate https://github.com/webpack-contrib/mini-css-extract-plugin/issues/330

[2020-06-22 10:07] #544 closed

[2020-06-24 13:13] tomrav commented on #530
Hi @evilebottnawi, we'd really appreciate it if you could take a look at this issue, it would help us greatly downstream.

[2020-06-24 13:25] evilebottnawi commented on #530
@tomrav @barak007 css-loader and mini-css-extract-plugin in my roadmap on the next month, sorry a lot of work, but I don't forget about it, if you really need this right now, you can send a PoC, if it is will be good written we will merge this ASAP

[2020-06-24 13:59] tomrav commented on #530
Thank you for replying so quickly, I'm not sure we're familiar enough with the required internals to implement this ourselves, perhaps with some guidance we could. Otherwise once you get around to this issue we'd love to help out.

[2020-06-25 10:16] nfourtythree commented on #493
I am seeing this error as well. Can't seem to get to the bottom of it although I do know that it is likely down to the way I am using the webpack configs.

I have created a repository that is a replication of the setup I am using.

Essentially I was trying to create a way where you could run `webpack` in the individual directories and also at the top level. Either way, it would build the files, ea

[2020-06-25 17:37] rpearce commented on #202
Is this still an issue? Are there any ways around it without switching to `style-loader`?

[2020-06-30 07:30] vankop commented on #487
@evilebottnawi I will take a look on this, any blockers?

[2020-06-30 11:12] evilebottnawi commented on #487
@vankop go ahead, no blokers

[2020-07-02 15:58] vamshia03 commented on #466
Hello @aaarichter, how did you fix this error? I received the same kind of error but it was for terser-webpack-plugin.

[2020-07-11 04:24] ProTip commented on #29
@SirKlaus you saved my day by helping wrap up a final loose end!

I used `include: [/\.css$/]` to generate only CSS source map files but otherwise this solution works great so far.

[2020-07-14 11:37] tstibbs opened #548 "Specifying maxSize parameter causes incorrect ordering of CSS files"
- Operating System: Ubuntu 16.04.2 LTS
- Node Version: v12.14.1
- NPM Version: 6.14.5
- webpack Version: 4.43.0
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior

You should be able to set `optimization.splitChunks.maxSize` to limit the size of chunks.

### Actual Behavior

Setting `optimization.splitChunks.maxSize` messes up the order that css is loaded on the page.

### Code

Havin

[2020-07-16 13:07] jLouzado commented on #493
- Had a mono-repo where individual packages had `^0.8.0` whereas the base package.json has `^0.5.0` and got this error
- upgrading the base-version to 0.8 seems to have solved the problem

Not sure if it was more important that they all be the same version or that it's not 0.9.

[2020-07-17 15:22] gabrielf7 opened #549 "Module build failed (from ./node_modules/css-loader/dist/cjs.js): CssSyntaxError"
I'm integrating the CSS from index.css and pure.css into the dist folder in just one styles.css file

However, when I use the mini-css-extract-plugin it returns that ERROR below.

Do I need to configure the cjs.js file?

(I am learning to configure webpack.config.js and chose to use a framework called Pure.css)

Hash: c6cdf7f06d380e10998f
Version: webpack 4.43.0
Time: 4594ms
Built at: 2020-07-17 1

[2020-07-17 15:35] evilebottnawi commented on #549
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-07-17 15:35] #549 closed

[2020-07-17 15:35] evilebottnawi commented on #549
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-07-17 15:36] evilebottnawi commented on #549
You should not use `style-loader` and `mini-css-extract-plugin` together, please look at docs

[2020-07-17 17:01] gabrielf7 opened #550 "Module build failed (from ./node_modules/css-loader/dist/cjs.js): CssSyntaxError"
I'm integrating the CSS from index.css and pure.css into the dist folder in just one styles.css file

However, when I use the mini-css-extract-plugin it returns that ERROR below.

Do I need to configure the cjs.js file?

(I am learning to configure webpack.config.js and chose to use a framework called Pure.css)

- Operating System: Windows 8.1
- Node Version: 12.18.2
- NPM Version: 6.14.6
- webpac

[2020-07-17 17:03] #550 closed

[2020-07-17 17:06] gabrielf7 opened #551 "Module build failed (from ./node_modules/css-loader/dist/cjs.js): CssSyntaxError"
I'm integrating the CSS from index.css and pure.css into the dist folder in just one styles.css file

However, when I use the mini-css-extract-plugin it returns that ERROR below.

Do I need to configure the cjs.js file?

(I am learning to configure webpack.config.js and chose to use a framework called Pure.css)

- Operating System: Windows 8.1
- Node Version: 12.18.2
- NPM Version: 6.14.6
- webpac

[2020-07-17 17:17] #551 closed

[2020-07-23 12:17] evilebottnawi opened #555 "Order problem"
- Operating System: Ubuntu 16.04.5 LTS
- Node Version: v10.19.0
- NPM Version: 6.13.4
- webpack Version: 4.42.1
- css-loader Version: 3.4.1 (used in latest CRA https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/package.json)

### Expected Behavior

After dynamically importing component, which composes css class, that an already present component also composes, the exis

[2020-07-25 04:27] vis97c commented on #382
Add the {enforce:true} option to the "style" cacheGroup, i was having that same issue with vue inlined scss styles, they were being processed and compiled to css and even appearing in the chunk list, but all i was getting were the normal imports until i added the option i mentioned. Hope it helps you.

[2020-07-26 20:36] tswaters opened #556 "v4.0.0 of css-module has broken ability to use mini-css-extract-plugin with css modules."
- Operating System: Windows 10
- Node Version: 14.3.0
- NPM Version: 6.14.5
- webpack Version: 4.43.0
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior

Continue to get named exports.

### Actual Behavior

No named exports!

### Code

[code]

[code]

[code]

After uncommenting `MiniCssExtractPlugin.loader` and `new MiniCssExtractPlugin()` in plugins section, the export no longer come

[2020-07-27 12:13] evilebottnawi commented on #556
It was written in the original issue https://github.com/webpack-contrib/css-loader/issues/1029, `namedExport` is not fully competed, no need new issues, it was implemented in near future

[2020-07-27 12:13] #556 closed

[2020-07-27 23:38] tswaters commented on #556
Apologies, I didn't see that.

Might I suggest unmarking v4.0.0 as `latest` if it's not working 100% with the ecosystem?

I lost a good couple hours last night between `npm i css-loader` and the creation of this ticket.

[2020-07-28 03:44] dschinkel commented on #493
Same I don't know what's up with 9.0 but 8.0 works fine and I do not get that error in mine now.

[2020-07-28 11:42] evilebottnawi commented on #556
@tswaters sometimes using search is not bad idea :smile:

[2020-07-29 15:12] gpoitch commented on #556
Came to find/file a similar issue.  Seems like this issue should be reopened because mini-extract needs work to support this and https://github.com/webpack-contrib/css-loader/issues/1029 can be closed because that end was completed.  Thanks for the work on this!

[2020-07-29 15:22] evilebottnawi commented on #556
@gpoitch we keep this issue in `css-loader` because it can potential change output, don't worry it will be implemented in near future

[2020-07-30 11:01] pavan-shipmnts commented on #382
i'm ignorning my CI is not.

[2020-07-30 17:25] Septdir commented on #330
I would really like to use `mini-css-extract-plugin` with webpack 5

However, it looks like it won't work before  webpack 5release.
So far I have found an alternative.

`extract-css-chunks-webpack-plugin`

[2020-07-31 13:35] nstuyvesant opened #558 "Issue with css-loader 4.1.1"
- Operating System: macOS
- Node Version: 14.7.0
- NPM Version: 6.14.7
- webpack Version: 4.44.1
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior

This will work:
[code]

### Actual Behavior

[code]

### Code

See above

### How Do We Reproduce?

Install css-loader@4.1.1 and use Webpack configuration provided above.

[2020-07-31 13:43] evilebottnawi commented on #558
`type: 'icss',` is not implemented and it should be on `css-loader`, you can find an issue in `css-loader` repo

[2020-07-31 13:43] evilebottnawi commented on #558
Ref: https://github.com/webpack-contrib/css-loader/issues/1134

[2020-07-31 13:43] #558 closed

[2020-07-31 14:32] nstuyvesant commented on #558
It also errors if I comment out that particular item.

[2020-07-31 14:33] evilebottnawi commented on #558
Because it is not implemented yet

[2020-08-02 04:19] watcher00090 commented on #358
Hi, I'm having this issue too, even without using the MiniCssExtractPlugin. Maybe it's related to Elixir (I'm using that in this project)?

webpack.config.js

====================================================

const path = require('path');
const glob = require('glob');
const HardSourceWebpackPlugin = require('hard-source-webpack-plugin');
//const MiniCssExtractPlugin = require('mini-css-extract

[2020-08-02 05:09] watcher00090 commented on #358
====================================================
====================================================
====================================================
====================================================
====================================================

Solved it by changing the 'use' section of the 'module' variable in my webpack.config.js to

use: [
            'style-loader',

[2020-08-02 19:35] DmitriyOrlov53 opened #559 "Critical error"
- OS: Fedora 32 Workstation
- NodeJS: 14.7
- Webpack: 4.44.1

Hello. In the course of my experiments I encountered a very interesting error.

I wanted to combine pug (jade) with css modules. To do this, I configured webpack as follows.

[code]
Compilation on the development server is successful. But after subtracting the line below into the index.pug file, a critical error is thrown.

[code]

If t

[2020-08-02 19:37] DmitriyOrlov53 commented on #559
Is there a solution to this problem?

[2020-08-02 22:06] osvaldovega commented on #487
- Operating System: MacOS Catalina
- Node Version: v13.140
- NPM Version: v6.14.15
- webpack Version: v5.0.0-beta.22
- mini-css-extract-plugin Version: v0.9.0

I have the same problem with Webpack `5-beta.22`, probably you guys already know this but look like the problem, is related the HMR for (CSS|SCSS) files using the `mini-css-extract-plugin`, if I use the following configuration for CSS files

[2020-08-03 10:55] evilebottnawi commented on #559
Update deps to latest and please the issue template in future

[2020-08-03 10:55] #559 closed

[2020-08-05 06:38] abhchand opened #560 "`Uncaught TypeError` when using multiple files per `entry` on Webpack v5"
- Operating System: Mac Os Mojave (10.14.2)
- Node Version: `10.16.01`
- NPM Version: (Yarn) `1.21.1`
- webpack Version: `5.0.0-beta.23`
- mini-css-extract-plugin Version: `0.9.0`

### Expected Behavior

With v5, Webpack now supports specifying **multiple files** per entry as well as the **`dependOn`** key ([see docs here](https://webpack.js.org/configuration/entry-context/#dependencies)).

Exampl

[2020-08-05 08:41] sokra commented on #560
Looks like a missing semicolon. For backward compat reasons webpack should better put a semicolon here because we can't rely on ASI

[2020-08-05 15:10] abhchand commented on #560
@sokra - Appreciate your quick responses!

You suggested that "webpack should" put a semicolon here. For my own understanding: does that mean this is something that needs to be fixed in the core webpack library? Or is it something that can be addressed here?

[2020-08-05 15:43] abhchand commented on #560
Never mind, read the code and answered my own question :)

I opened https://github.com/webpack-contrib/mini-css-extract-plugin/pull/561 and confirmed locally that it fixes the issue I was experiencing above.

Thanks again!

[2020-08-05 21:21] sallf opened #562 "Control import order when importing with multiple rules"
- Operating System: macOS 10.15.5 (Catalina)
- Node Version: 12.16.2
- NPM Version: 6.14.4
- webpack Version: 4.41.5
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior / Situation
When using mini-css-extract-plugin to import both esModules and non-module css, it would be great to be able to control the order of the css in the output file. I would prefer the output file to have all the

[2020-08-06 10:32] evilebottnawi commented on #562
Duplicate of #555 Duplicate #98 and other duplication, please use search before post the issue

[2020-08-06 10:32] #562 closed

[2020-08-06 14:56] sallf commented on #562
@evilebottnawi thanks for taking a look. I could be wrong, but I don't think this is a duplicate. In my head, this is a different use case.

The two issues you referenced are about the import order of multiple css-modules compared to themselves. What I'm looking for is the ability to write to the output file the entire css-module chunk AFTER the non-css-module chunk.

Maybe I'm missing something b

[2020-08-06 15:02] evilebottnawi commented on #562
Please clarify

[2020-08-06 17:30] sallf commented on #562
@evilebottnawi I think the config file in the original post provides the most clarity, and to try and simplify further, in both of these webpack configs...

[code]
and (order reversed)
[code]
... the output css file will be ...

[code]

My hope is to have a way for non-module css to be above the css-modules, since the former is all boilerplate and vendors and should be easy to override with equal

[2020-08-06 17:34] evilebottnawi commented on #562
I still can't understand the problem? Why do you need this? Order of rules should not affect on something, you can event simplify you config with latest `css-loader@4` release, just rename `file.modules.css` to `file.module.css` and module will be applied automatically https://github.com/webpack-contrib/css-loader#auto

[2020-08-06 20:50] sallf commented on #562
@evilebottnawi  Right, order of rules has no effect on output. So using `auto`, this could be simplified into a single rule.

[code]

The issue is still the same. The output css file first has "module-css", followed by "non-module" css.

### Why
I have a React app. In any component I use global (non-module) css along with component specific (module) css. If I have a component that looks like this:

[2020-08-07 10:01] evilebottnawi commented on #494
Do not duplicate issue

[2020-08-07 10:01] #494 closed

[2020-08-07 10:38] evilebottnawi commented on #562
Yes, you have invalid order of css modules, it should be fixed on app side, maybe you can create simple case with repo and I will provide examples how you can solve it

[2020-08-07 11:50] scottdotjs commented on #494
No need for the snarky comment. By the way, I filed this issue six months ago and it was ignored until I found and reported the same issue on the other plugin.

[2020-08-07 12:13] evilebottnawi commented on #494
No snarky comment, I just don't understand what you don't understand, I can't improve docs while I don't understand what do you don't understand :smile:

[2020-08-07 17:12] sallf commented on #562
@evilebottnawi well that was exhausting, but I figured out what was going on in my setup and "order" is the right answer.

In my React SPA I import the full app into a root index file which looks something like this:

[code]

Since `App` contains all of my components, which contain all of my css-module imports (`import styles from './index.css'`), importing in this order effectively imports all cs

[2020-08-08 21:30] EvgSur commented on #471
so did you cope with this issue?

[2020-08-09 13:41] ShimshonMarketing66 opened #563 "ERROR in Cannot read property 'toLowerCase' of undefined"
since I updated to angular 10

![Screenshot_1](https://user-images.githubusercontent.com/32569701/89733570-f7f48680-da5e-11ea-80b2-56ebc04a70e8.png)

[2020-08-10 11:24] evilebottnawi commented on #563
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-08-10 11:24] #563 closed

[2020-08-10 14:25] #560 closed

[2020-08-10 15:47] evilebottnawi commented on #529
Yes, it is limitation, `cheap-module-source-map` doesn't work with CSS, you need to use `source-map`, we need documented it

[2020-08-10 15:49] evilebottnawi commented on #532
Bug on `OptimizeCssAssetsPlugin`, we recommend to use https://github.com/webpack-contrib/css-minimizer-webpack-plugin, it is official with cache and parallel, if it is not help - feel free to feedback and please create minimum reproducible test repo thanks

[2020-08-10 15:49] #532 closed

[2020-08-10 15:53] evilebottnawi commented on #493
This bug happens only when you forgot to use plugin, unfortunately we can't fix it on our side, we already show it in our docs, but some developers still don't read them :disappointed: Anyway if you faced with this issue and you have loader and plugin feel free to feedback, I will help you

[2020-08-10 15:53] #493 closed

[2020-08-10 15:56] evilebottnawi commented on #517
Sorry for delay,

It is not good idea

I want to close issue because it is questions (you can use stackoverflow for this), anyway I want to help, please provide real example what do you want achieve, I don't think you need own plugin for this

[2020-08-10 15:56] #517 closed

[2020-08-10 16:00] evilebottnawi commented on #490
Bug on css-loader side https://github.com/webpack-contrib/css-loader/issues/622 because postcss generate relative source maps, not absolute, so we can't contexity them in the right now, anyway it is fixed in postcss@8 (I help release will be near future - next week) and we will fix it, close in favor https://github.com/webpack-contrib/css-loader/issues/622

[2020-08-10 16:00] #490 closed

[2020-08-10 16:00] evilebottnawi commented on #490
Just note - postcss-loader has the same bug

[2020-08-12 03:08] tarnishablec opened #565 "add url information in MiniCssExtractPlugin.loader output"
- Operating System: windows 10
- Node Version: 12.14.1
- NPM Version: 6.13.4
- webpack Version: 4.44.1
- mini-css-extract-plugin Version: 0.9.0

### Feature Proposal
MiniCssExtractPlugin generate a `<link>`  element with `href` in html template

Can MiniCssExtractPlugin.loader output that href url just like `file-loader` did

so next loader can deal with that url

[code]

### Feature Use Case

I n

[2020-08-12 05:35] aebrewes commented on #487
I have to ask. Is there any way to fix it in the mini-css-extract plugin or do we have to wait for webpack?

[2020-08-12 10:36] evilebottnawi commented on #487
fix will be in near future

[2020-08-12 10:39] evilebottnawi commented on #565
Out of scope of mini-css-extract-plugin

[2020-08-12 10:39] #565 closed

[2020-08-12 10:40] evilebottnawi commented on #565
You need to do it manually on application code side, we just extract CSS

[2020-08-12 11:12] tarnishablec commented on #565
Technically it is right, but inject large size raw css content to `shadowroot` will cause performance problem when the component was used many times in document.

[2020-08-12 11:23] evilebottnawi commented on #565
You can create own loader to do this, we just extract files, anyway can you provide simple example, I will think how it can be implemented from our side

[2020-08-13 12:02] morewry commented on #493
Except that people reporting this issue, such as myself, are using the plugin.

I've had this problem repeatedly while remembering to use the plugin. There is another issue, something very touchy in the package about the correspondence between the loader and plugin.

[2020-08-13 12:13] evilebottnawi commented on #493
@morewry can you create reproducible test repo?

[2020-08-13 13:19] nfourtythree commented on #493
@evilebottnawi if you check my comment: https://github.com/webpack-contrib/mini-css-extract-plugin/issues/493#issuecomment-649448739

That has a repo you can check out and replicate the issue I am having

[2020-08-13 15:42] #357 closed

[2020-08-13 15:44] evilebottnawi commented on #389
Close in favor https://github.com/webpack-contrib/mini-css-extract-plugin/issues/234

[2020-08-13 15:44] #389 closed

[2020-08-13 15:47] evilebottnawi commented on #417
Close in favor https://github.com/webpack-contrib/mini-css-extract-plugin/issues/67

[2020-08-13 15:47] #417 closed

[2020-08-13 15:51] evilebottnawi commented on #505
Answer above, it was error in webpack@5 by default, we can't fix it on our side, sorry

[2020-08-13 15:51] #505 closed

[2020-08-14 12:14] evilebottnawi commented on #493
@nfourtythree You reproducible test repo doesn't work:
[code]

But i found you use `decache`, avoid it, it potential break many things

[2020-08-14 12:58] nfourtythree commented on #493
Hmm strange, will take a look and make sure it shows the correct error.

Your point about decache might be true but I have everything working and things only break when I update the mini css extract plugin.

[2020-08-14 14:33] nfourtythree commented on #493
@evilebottnawi I have just tried this again and the repo does produce the error.

[Here is a screen recording for you to watch](https://x.n43.me/12uJJwj0) and below is a stack trace.

[code]

As mentioned before I have it working in my project if I have `0.7.0` installed.

[2020-08-17 12:19] evilebottnawi commented on #493
@nfourtythree can you update reproducible test repo, because it doesn't work

[2020-08-17 12:58] evilebottnawi commented on #493
@nfourtythree thanks, I will return to this in near future

[2020-08-17 15:15] evilebottnawi commented on #493
@nfourtythree you use global installed `webpack-cli`, please provide version

[2020-08-17 15:26] evilebottnawi commented on #493
Still have error after `cd src/asset2/ && webpack`:
[code]

I don't have your environment, `BASE_PATH` is `undefined`

[2020-08-17 15:36] evilebottnawi commented on #493
Reproduced, remove `decache`, because you use `MiniCssExtractPlugin.loader`, it is store value to `loader` in `require.cache`, but you remove it late, you can read from docs:

But you use it not for `testing` purpose. Other solution is usning:
[code]

My recommendation is not remove `require.cache`, it is bad practice and reduce your build time

[2020-08-17 19:54] conioX commented on #341
any news about this? how to fix this issue?

[2020-08-18 17:01] evilebottnawi commented on #341
Found a problem

[2020-08-18 17:10] evilebottnawi commented on #341
Original:
[code]

Need to changed to:
[code]

Why? Because `app.js` from `splitChunks` conflicts with `app.js` endpoint

[code]

Anyway you will have empty chunk due https://github.com/webpack-contrib/mini-css-extract-plugin/issues/85 and https://github.com/webpack/webpack/issues/11088, we will fix it on webpack@5 side, maybe backport on plugin side in near future

I think we can also improve erro

[2020-08-18 17:16] evilebottnawi commented on #341
Let's close in favor https://github.com/webpack-contrib/mini-css-extract-plugin/issues/257, anyway if somebody still have the problem and solution from https://github.com/webpack-contrib/mini-css-extract-plugin/issues/341#issuecomment-675603278 not help you please open a new issue with reproducible test repo, I am very sorry for the long delay in the reply and please forgive us. Also I will try to

[2020-08-18 17:16] #341 closed

[2020-08-18 17:16] evilebottnawi commented on #257
Somebody still the problem? If yes can you try https://github.com/webpack-contrib/mini-css-extract-plugin/issues/341#issuecomment-675603278, I want to improve error reporting and close this issue.

[2020-08-19 15:28] evilebottnawi commented on #403
It is not bug, it is misleading, `publicPath` setup publicPath inside `CSS` (for `url`/etc), not for extracted file in runtime generated code, here example how you can achieve original request https://github.com/webpack-contrib/mini-css-extract-plugin/issues/403#issuecomment-537272340, I will update docs

[2020-08-19 15:33] evilebottnawi commented on #73
Sorry for delay.

Here two cases:
- bug on `html-webpack-plugin` (please updaete it to `v4`)
- https://github.com/webpack-contrib/mini-css-extract-plugin/issues/73#issuecomment-380510188

All related issues to `storybook` please open in `storybook` repo, anyway if you still have the problem please open the new issue with reproducible test repo

[2020-08-19 15:33] #73 closed

[2020-08-19 15:42] evilebottnawi commented on #367
Can be achieved by https://github.com/webpack-contrib/mini-css-extract-plugin/pull/373/, using relative paths is not safe in some cases, so we don't want to provide this options out of box

[2020-08-19 15:42] #367 closed

[2020-08-19 15:43] evilebottnawi commented on #506
Close in favor https://github.com/webpack-contrib/mini-css-extract-plugin/issues/205

[2020-08-19 15:43] #506 closed

[2020-08-24 14:23] danburzo commented on #205
Found this bug while working on upgrading webpack-related dependencies to their latest versions.

With these versions:

[code]

And this config:

[code]

I got the error everybody else is getting. To fix it, I had to configure `css-loader` with `esModule: false`:

[code]

Hope this helps someone struggling with the error.

[2020-08-25 09:00] Gorett opened #567 "Empty styles after migration to webpack 4."
Hi, there. I'm trying to update webpack version from 3-rd to 4-th. I've faced with strange issue. When I try to use `esModule: true,` option imported style modules are undefined. If this option is false I've received empty object. I think it, somehow, can be connected with postcss usage in the project. But I'm not sure. Maybe someone can help me with that.
Here is dev webpack config for client sid

[2020-08-25 09:04] Gorett commented on #567
here is server side part.
[code]

[2020-08-25 09:39] evilebottnawi commented on #567
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Because you need to use `import` or `require('something').default`.

Please avoid copy/pasting configurations, it is

[2020-08-25 09:39] #567 closed

[2020-08-25 19:12] aaarichter commented on #44
hopefully @evilebottnawi

[2020-08-25 22:36] mjmnagy opened #568 "Didn't get a result from child compiler"
I am trying to write a `vue` component library that will work in `nuxt` and `vue`.

The issue i was originally having was `document is not defined` when using `Extract CSS`. from reading, i understand the `css-loader` webpack settings need to be adjusted to use a different module (one that isnt using `document`).

I have downloaded(npm) the new webpack module(https://webpack.js.org/plugins/mini-cs

[2020-08-26 10:26] evilebottnawi commented on #568
Please open an issue in `vue` repo and do not ignore the issue template, without this information I can help, you need help, please fill out the issue template and I will reopen

[2020-08-26 10:26] #568 closed

[2020-08-26 19:12] mjmnagy commented on #568
https://github.com/mjmnagy/vue-error-2020-08-26

[2020-08-27 02:37] LeachZhou commented on #173
I used MiniCssExtractPlugin and configured this , but it has this problem, what should I do?
[code]

[code]

[2020-08-27 02:40] LeachZhou opened #574 "mini-css-extract-plugin Callback was already called."
I used mini-css-extract-plugin and configured this , but it has this problem, what should I do?

[code]

[code]

[2020-08-27 11:36] evilebottnawi commented on #574
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

You forget to add the plugin

[2020-08-27 11:36] #574 closed

[2020-08-27 12:14] evilebottnawi commented on #568
@mjmnagy vue-cli support css out of box, you don't need this, now you have twice added loader and plugin

[2020-08-27 16:20] evilebottnawi commented on #487
@vankop Can you test https://github.com/webpack-contrib/mini-css-extract-plugin/releases/tag/v0.11.0?

[2020-08-27 16:25] mjmnagy commented on #568
Are you saying this error is due to me "twice added loader and plugin"

[2020-08-27 16:27] evilebottnawi commented on #568
yes

[2020-08-27 18:31] slightlyfaulty commented on #487
I tried out the update, but seeing a different error now. Hope it helps.

[code]

Using the latest `webpack@5.0.0-beta.28`

[2020-08-27 19:08] mjmnagy commented on #568
I see it actually in the `vue-cli` documents now(so i must be doing circles).

![image](https://user-images.githubusercontent.com/13066887/91484218-24354300-e866-11ea-809a-c5a62b0e82d5.png)

How can i tell the plugin to make it SSR ready? It is checking the `<link>` tags on the server side and fails?

[2020-08-28 02:06] LeachZhou opened #577 "mini-css-extract-plugin Callback was already called."
- Operating System: Mac Mojave 10.14.3
- Node Version: v10.13.0
- NPM Version: 6.4.1
- webpack Version: 4.8.3
- mini-css-extract-plugin Version: 0.10.0

### Expected Behavior

html-loader attrs: ['img:src', 'link:href'] can be used with MiniCssExtractPlugin.loader without error

### Actual Behavior

An error occurred when html-loader attrs: ['img:src', 'link:href']  and MiniCssExtractPlugin.loader

[2020-08-28 10:09] odyright commented on #288
i confirm **Removing "style-loader" also work for me. thank you.**

[2020-08-28 11:21] evilebottnawi commented on #487
@slightlyfaulty Big thanks for testing, WIP on compatibility more

[2020-08-28 11:22] evilebottnawi commented on #487
@slightlyfaulty it is weird what we have HMR tests and nothing is broken, maybe you can provide simple reproducible test repo?

[2020-08-28 11:23] evilebottnawi commented on #568
@mjmnagy Please use stackoverflow or gitter for question, maybe better ask this in `vue-cli` repo

[2020-08-28 11:55] evilebottnawi commented on #577
@LeachZhou Update `webpack`, `css-loader` and `mini-css-extract-plugin` to latest version. If it is not help, please create reproducible test repo

[2020-08-28 11:55] #577 closed

[2020-08-28 12:50] Levdbas commented on #487
@slightlyfaulty , are you using weback-dev-middleware as well? Might have something to do with that. I've ran into the same issue after updating my initial test repository: https://github.com/Levdbas/webpack-mini-css-extract-plugin-hmr-error from https://github.com/webpack-contrib/mini-css-extract-plugin/issues/487#issuecomment-569782241_ . @evilebottnawi minimal test repo is updated.

[2020-08-28 13:21] evilebottnawi commented on #487
@Levdbas thanks, I will look at this in near future

[2020-08-28 13:29] slightlyfaulty commented on #487
@Levdbas Yes that must be it. I wasn't aware webpack HMR was possible without it.

[2020-08-28 14:25] slightlyfaulty commented on #487
@evilebottnawi [slightlyfaulty/webpack-mcep-repro-487](https://github.com/slightlyfaulty/webpack-mcep-repro-487)

1) `yarn start`
2) Change `src/index.css`

[2020-08-29 02:56] LeachZhou commented on #577
@evilebottnawi I tried to update to the latest version, but I still got an error

[code]

[code]

[2020-08-29 08:17] LeachZhou commented on #577
@evilebottnawi
https://github.com/LeachZhou/loading2

### How to reproduce
1. command line
[code]
[code]

[2020-08-29 11:41] evilebottnawi commented on #577
Update dependencies please https://github.com/LeachZhou/loading2/blob/master/package.json

[2020-08-31 01:48] LeachZhou commented on #577
already updated

[2020-08-31 11:07] ylemkimon commented on #330
I can confirm no warnings or errors are produced with `webpack@>=5.0.0-beta.23` and `mini-css-extract-plugin@^0.11.0`. (#477, #571, #573)

[2020-08-31 11:20] evilebottnawi commented on #330
Yes, fixing HMR is on our roadmap (current or next week), maybe we found time faster for this

[2020-08-31 21:25] KirillYoYo commented on #156
Try to set `"css-loader": "^3.2.0",`
https://github.com/webpack-contrib/css-loader/issues/1002

[2020-08-31 21:27] KirillYoYo commented on #205
Try to set "css-loader": "^3.2.0",
webpack-contrib/css-loader#1002

[2020-09-01 14:43] aexvir commented on #577
I'm having the same issue 🤔️

[code]

[2020-09-02 00:43] grahamsutton commented on #151
Just another idea, in case you know which directory you want to remove the useless JS file from and your webpack command is aliased as an npm run command then you can just issue a wildcard delete for anything that ends with a `.js` extension in that directory. Not a perfect solution, but satisfactory.

Example:

In `package.json`

[code]

then

[code]

[2020-09-02 05:32] LeachZhou commented on #577
@evilebottnawi help us check this issue，please

[2020-09-02 10:07] evilebottnawi commented on #577
@LeachZhou Please run `npm outdate` and update **all** deps, you provide broken example, a lot of dependencies are missed in `package.json`, same strange things in configuration like `UglifyJsPlugin` and `TerserPlugin`, you don't need two plugins for minify JS, `optimize-css-assets-webpack-plugin` replaced by https://github.com/webpack-contrib/css-minimizer-webpack-plugin, you don't need `webpack.

[2020-09-02 10:08] evilebottnawi commented on #577
Duplicate https://github.com/webpack-contrib/mini-css-extract-plugin/issues/489

[2020-09-02 10:35] evilebottnawi commented on #489
no problems on webpack@5 :confused:

[2020-09-02 11:28] evilebottnawi commented on #489
Yep, bug on `html-webpack-plugin` https://github.com/jantimon/html-webpack-plugin/blob/master/lib/child-compiler.js#L105

need to change on

[code]

[2020-09-02 11:39] evilebottnawi commented on #489
/cc @jantimon Why we don't use `!!`? Without it webpack run nested child compilation again, you can see what we use `!!` here too to avoid it https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/loader.js#L101

[2020-09-02 13:03] jantimon commented on #489
With !! we will not able to make use of configured loaders

[2020-09-02 15:32] caihaihong opened #578 "Unnecessarily exports module of css keyframes"
- Operating System:Windows x64
- Node Version:v12.13.1
- NPM Version:6.12.1
- webpack Version:"^4.44.1",
- mini-css-extract-plugin Version:"^0.11.0"

### Expected Behavior

It's unnecessarily to  exports module  of css keyframes

### Actual Behavior

exports module  of  css keyframes

### Code

[code]

[code]

[code]

[code]

[code]

![avatar](http://tattooonline.oss-cn-shenzhen.aliyuncs.com/ss/1.

[2020-09-02 15:48] evilebottnawi commented on #578
Not related to `mini-css-extract-plugin`, you need to fix it here https://github.com/caihaihong/test/blob/master/webpack.prod.js#L95, use `chunks: "async",`

[2020-09-02 15:48] #578 closed

[2020-09-02 16:08] caihaihong commented on #578
[code]
I have done. However,it still like that.
Would you please run the demo?Please
`git@github.com:caihaihong/test.git`
![avatar](http://tattooonline.oss-cn-shenzhen.aliyuncs.com/ss/4.jpg)

[2020-09-02 16:11] evilebottnawi commented on #578
webpack@5 fixes this problem, we can't solve it for webpack@4, ETA webpack@5 is `10.10.2020`

[2020-09-02 22:06] EvHaus opened #579 "Webpack 5.0.0-beta.29 DEP_WEBPACK_COMPILATION_ASSETS error"
- Operating System: MacOS
- Node Version: 10.17.0
- NPM Version: 6.14.8
- webpack Version: 5.0.0-beta.29
- mini-css-extract-plugin Version: 0.11.0

### Expected Behavior

No errors in the webpack output.

### Actual Behavior

[code]

### Code

[code]

### How Do We Reproduce?

After upgrading from webpack 4.44.1 to 5.0.0-beta.29, I'm seeing these warnings from the webpack builds. The build still s

[2020-09-02 22:10] EvHaus commented on #579
Nevermind. This seems to be coming from `stylus-relative-loader` and not `mini-css-extract-plugin`.

[2020-09-02 22:10] #579 closed

[2020-09-03 07:14] ogonkov commented on #205
Happen to me for mini-css-extract-plugin@0.11.0

**webpack.config.js**

<details>

    const MiniCssExtractPlugin = require('mini-css-extract-plugin');

    module.exports = {
        mode: 'development',
        devtool: false,

        module: {
            rules: [
                {
                    test: /\.css$/,
                    use: [
                        {

[2020-09-03 07:18] KirillYoYo commented on #205
Check your `css-loader` version - you can get this error if `css-loader` more than `3.2.0`

[2020-09-03 07:21] ogonkov commented on #205
css-loader@4.2.2

error didn't happen when `exportOnlyLocals` is `false`

[2020-09-03 07:45] ogonkov commented on #489
I have filed another bug in `html-webpack-plugin` repo. I hope we can find solution.

[2020-09-03 11:07] evilebottnawi commented on #205
@ogonkov Can you create reproducible test repo?

[2020-09-03 11:23] evilebottnawi commented on #489
@jantimon something wrong in design `html-webpack-plugin`, it should use `!!` and pitch loader to modify something from webpack, otherwise you create recursive child compilations

[2020-09-03 12:35] evilebottnawi commented on #489
@jantimon

pitch phase do not break SSR

Yes, it is exclude pre loader and normal loader, but because you will use `pitch` it will run loader anyway because you will pass them in a string `require`/`import`, you can look how mini-css-extract-plugin work

[2020-09-03 15:42] evilebottnawi commented on #283
@TakCastel because removing duplicates is out of scope this plugin, if you will use browsers you will have same behavior, you can use https://github.com/webpack-contrib/css-minimizer-webpack-plugin to avoid this

[2020-09-04 10:45] evolve2k commented on #205
@evilebottnawi could the test repo from https://github.com/webpack-contrib/mini-css-extract-plugin/issues/205#issuecomment-565140717 be enough for you to test with?

[2020-09-04 14:04] caihaihong commented on #578
thanks a lot.

[2020-09-07 10:24] webpack-bot opened #582 "Concatenating multiple css files breaks js file"
# Bug report

**What is the current behavior?**
I am trying to extract multiple css files from js files and concatenate it into one css file. I use this documentation https://webpack.js.org/plugins/mini-css-extract-plugin/#extracting-all-css-in-a-single-file. The css files extracted and concatenated well, but after it, js files from which it extracted breaks, i.e. it stops executing at all.

**If

[2020-09-09 11:18] Abdull commented on #320
Another example:

[code]

[2020-09-10 06:59] ogonkov commented on #205
Here you go https://gist.github.com/ogonkov/d4060500cf3d5b8b78e61fac9b8befe9

[2020-09-10 10:29] jrwpatterson opened #584 "Cannot find module 'mini-css-extract-plugin/src/CssDependency'"
- Operating System:  MacOs
- Node Version:12.18.3
- NPM Version:6.14.6
- webpack Version: 5.0-beta.29
- mini-css-extract-plugin Version: 0.11.1

### Expected Behavior

No Warnings

### Actual Behavior
Since upgrading from 0.11.0 to 0.11.1

My console is getting spammed with [webpack.cache.PackFileCacheStrategy] Restoring failed for ResolverCachePlugin ... Error: Cannot find module 'mini-css-extrac

[2020-09-10 10:42] leaves4j commented on #584
https://github.com/webpack-contrib/mini-css-extract-plugin/blob/15657065a392b375edcb3876d726ea1a59c4b0b6/src/CssDependency.js#L44

[2020-09-10 10:48] evilebottnawi commented on #584
Please create reproducible test repo

[2020-09-10 14:35] evilebottnawi commented on #584
@leeonfield Each fix should have test(s)

[2020-09-10 15:16] leeonfield commented on #584
[reproduce repo](https://github.com/leeonfield/issue-test-repo/tree/master/mini-css-extract-plugin-issues-584)

[2020-09-10 15:17] leeonfield commented on #584
sorry about that, here is the[reproducible test repo](https://github.com/leeonfield/issue-test-repo/tree/master/mini-css-extract-plugin-issues-584)

[2020-09-10 17:36] ik9999 commented on #582
Try this solution:
https://github.com/webpack-contrib/mini-css-extract-plugin/issues/408#issuecomment-589649120

[2020-09-10 21:24] jrwpatterson commented on #584
Cheers @leeonfield I was asleep when you did that!

[2020-09-11 07:27] felixcatto commented on #582
Big thanks for this link. Unfortunately solution that you mentioned doesn't work for me. It works if i have one js file, but the goal is to extract css from *multiple* js files. When i added another file i get a error
![Selection_001](https://user-images.githubusercontent.com/6022888/92880722-5d051880-f41f-11ea-8ee4-17f5f00a09db.png)

But another solution from this comment is work for me - https:/

[2020-09-12 09:24] khanakia opened #587 "Getting Error with LESS files compilation.deleteAsset is not a function after upgradation"
- Operating System: OSX Catalina
- Node Version: v14.6.0
- NPM Version: 6.14.7
- webpack Version: 5.0.0-beta.24
- mini-css-extract-plugin Version: ^0.11.1

### Expected Behavior

Should compile without error

### Actual Behavior

[code]

### Code

[code]

[2020-09-12 12:45] evilebottnawi commented on #587
Update `beta` to latest version - `5.0.0-beta.30`

[2020-09-12 12:45] #587 closed

[2020-09-12 14:20] evilebottnawi commented on #584
Fixed in master, release will be soon

[2020-09-12 14:20] #584 closed

[2020-09-12 15:16] evilebottnawi commented on #205
@ogonkov thanks, bug, to be honestly you should not use `mini-css-extract-plugin` with `exportOnlyLocals`/`onlyLocals`, it doesn't make any sense, because you don't have `CSS` in this case, `exportOnlyLocals` only generate locals

[2020-09-12 15:21] ogonkov commented on #205
I guess it should emit some warning in that case

[2020-09-12 15:42] evilebottnawi commented on #205
@ogonkov yep, I think about it, but it is hard to know what previously loader exports (when you use `exportOnlyLocals` `css-loader` emits object with locals, but when you don't use this options `css-loader` emits array of css modules), also you can use any loader (even don't use `css-loader`), but I have idea, we will avoid create modules without identifier

[2020-09-16 09:01] likezero opened #589 "report error message"
https://github.com/webpack-contrib/mini-css-extract-plugin/blob/bb09d757e5355b7015a3e463bc1030056c23e1c2/src/index.js#L360

when link load error, please record `event.message`

var err = new Error("Loading CSS chunk " + chunkId + " failed.\\n(" + request + "), msg:" + event.message);'

[2020-09-16 10:56] evilebottnawi commented on #589
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-09-16 10:56] #589 closed

[2020-09-16 10:57] evilebottnawi commented on #589
Why you need this

[2020-09-17 23:17] DalimTeam commented on #487
Nothing changes? Still not working.
`(node:8118) [DEP_WEBPACK_MODULE_NEED_REBUILD] DeprecationWarning: Module.needRebuild is deprecated in favor of Module.needBuild
✖ ｢wdm｣: HookWebpackError: Cannot read property 'getModuleIndex2' of undefined`

[2020-09-17 23:57] fivethreeo commented on #487
This isssue changed from a missing getModuleIndex2 on undefined to a missing getModulePostOrderIndex on undefined, so nothing changed. So the error occurs before.

[2020-09-21 10:43] wedbew opened #591 "How to properly configure chainWebpack in Vuepress with MiniCssExtractPlugin"
I am struggling with configuring webpack (chainWebpack) in config.js file in Vuepress. After starting a development server the web page is blank and the console looks like on the screen below. The funniest thing is that my styles are added properly to the application which you can see on the next screen - and it is even working with hot reloading. What I wanted to achieve is to create a separate f

[2020-09-21 12:36] evilebottnawi commented on #591
Please use stackoverflow for questions

[2020-09-21 12:36] #591 closed

[2020-09-22 07:03] zhenhen commented on #489
@evilebottnawi, I think this is still a problem of MCEP. Simply say, MCEP do not support *child compilation*.

HWP use child compilation to parse html and its dependencies, and MCEP didn't add the CssDependency (& factory) to `childCompilation.dependencyFactories`. Of course, when a html has a css dependency, then the problem.

Maybe, change the hook of `thisCompilation` to `compilation` will solv

[2020-09-22 10:18] evilebottnawi commented on #489
@zhenhen yes, but in theory other nested child compilations can be used, there are problem in `html-webpack-plugin` and invalid architecture in some places, but I think we solve it in the future

[2020-09-24 22:46] arcanis commented on #156
I'm not sure why @KirillYoYo's comment was marked as spam, but downgrading the `css-loader` version did fix the crash in my case.

[2020-09-24 23:00] evilebottnawi commented on #156
@arcanis Can you create reproducible test repo and open new issue?

[2020-09-24 23:00] evilebottnawi commented on #156
@arcanis Do you use `onlyLocals` or `exportOnlyLocals`?

[2020-09-25 10:37] linguamatics-albert commented on #156
Dunno if it matters in this case but as an additional input I got the same error after doing a npm install css-loader. This downloaded the version "css-loader": "^4.3.0" and made this error to start appearing.

The way how I fixed is just reverting css-loder to it's previous version (I believe installed by node_modules/@vue/cli-service as a package dependency?), that in my case is "version": "1.0.

[2020-09-25 16:59] fremail commented on #205
I use this webpack config and get the same error
[code]

I tried to use exportOnlyLocals: true and false, but it didn't help.

The only solution is to downgrade css-loader to v3 (3.6.0)

[2020-09-25 17:01] evilebottnawi commented on #205
@fremail Please create reproducible test repo

[2020-09-25 19:49] hellatan commented on #205
@fremail see if my repo works for your situation - https://github.com/hellatan/webpack-mini-css-bug

[2020-09-28 01:53] qipoy commented on #131
yeah i have the same issue

i use next 9.5 and antd latest

[2020-09-28 12:11] evilebottnawi commented on #205
@hellatan update deps and the same problem https://github.com/webpack-contrib/mini-css-extract-plugin/issues/205#issuecomment-691504763

[2020-09-28 12:28] IgnusG commented on #489
I can confirm that changing `thisCompilation` to `compilation` fixed the error when compiling svelte generated css from 2 different entry points.

[2020-09-28 12:44] evilebottnawi commented on #489
@IgnusG can you provide minimum reproducible test repo?

[2020-09-28 12:48] IgnusG commented on #489
I’ll try and reduce the build code and create a playground repo. Will probably take me some time

[2020-09-28 14:03] IgnusG commented on #489
Unfortunately spoke too soon. Changing the hook indeed fixes the compilation and all files are properly emitted but the identifier inside the requiring file gets changed from the original `.js` file (which generates the css) into a `.css` file instead (the emitted file) 😔

[2020-09-28 19:50] fremail commented on #205
@evilebottnawi the reproducible repo https://github.com/fremail/mini-css-bug
I use Storybook with React and decided to keep them to show the full image. See readme there for details

[2020-09-29 14:11] IgnusG commented on #489
I've narrowed the problem down to `spawn-loader` creating new "entry chunks" dynamically. The wrong css name reference was because it uses the first file name from `compilation ... value.chunks[0].files[0]` as the result.

I've modified this behaviour to always use the last one (excluding source maps) - honestly have no idea what implications that has - but now (together with changing `thisCompila

[2020-09-30 13:32] jsking216 commented on #131
Were you able to solve this?  Having the same problem with a next 9.5 app.

[2020-10-01 17:31] FabianHippmann opened #596 "'[name].[hash].css' causes hash to be compiled as a variable"
- Operating System:
Ubuntu 20.04
- Node Version:
v12.18.4
- NPM Version:
6.14.6
- webpack Version:
 5.0.0-rc.0

- mini-css-extract-plugin Version:
0.6.0

### Expected Behavior
Compiling a production build with webpack 5 should work as expected. This

### Actual Behavior
When using webpack 5 to compile a bundle - the terser option in webpack 5 seems to mess up the `[name].[hash].css` option and cre

[2020-10-02 04:16] qipoy commented on #131
i am sory for late response.
i solve this with both import withCSS and withLESS

`module.exports = withBundleAnalyzer(
  withCSS(
    withLess({})
 )) `

[2020-10-02 13:19] evilebottnawi commented on #596
Fixed in master, release will be today

[2020-10-02 13:19] #596 closed

[2020-10-02 13:22] evilebottnawi commented on #596
Please try https://github.com/webpack-contrib/mini-css-extract-plugin/releases/tag/v0.11.3, feel free to feedback

[2020-10-02 13:32] evilebottnawi commented on #487
Please try https://github.com/webpack-contrib/mini-css-extract-plugin/releases/tag/v0.11.3, if you faced with issue(s)/problems, please open new issue with simple reproducible test repo, thanks for using webpack

[2020-10-02 13:32] #487 closed

[2020-10-02 13:32] evilebottnawi commented on #330
https://github.com/webpack-contrib/mini-css-extract-plugin/releases/tag/v0.11.3

[2020-10-02 13:32] #330 closed

[2020-10-02 14:18] evilebottnawi commented on #512
Solved for webpack@5 with and without source maps, for webpack@4 solved only without source maps (architecture problems), sorry for delay

[2020-10-02 14:18] #512 closed

[2020-10-02 17:02] evilebottnawi commented on #85
Partial fixed https://github.com/webpack/webpack/issues/7300#issuecomment-702840962 (for webpack@5), but need to be improved more on webpack side, closed here, nothing to do more

[2020-10-02 17:02] #85 closed

[2020-10-02 17:08] danieliser commented on #85
@evilebottnawi technically not true, those of us who can't upgrade until our dependencies have done so are still stuck without a solution.

At least answer the question I last posed on how to complete the workarounds

At least with that I could probably make a webpack4 compatible plugin to fix the issues until we can safely migrate to v5.

[2020-10-05 00:33] MaxmaxmaximusAWS opened #598 "[BUG] clientLogLevel "none" not working"
[code]

![image](https://user-images.githubusercontent.com/69426460/95030899-6b132580-06bb-11eb-83e8-227df04d65be.png)

![image](https://user-images.githubusercontent.com/69426460/95030909-78c8ab00-06bb-11eb-9a06-ebe4a8f15347.png)

Solution:
-
you should use the special hmr logger and not use your own. hmr logger respects settings

[2020-10-05 00:57] MaxmaxmaximusAWS commented on #598
temp solution for chrome:

![image](https://user-images.githubusercontent.com/69426460/95031453-c7c40f80-06be-11eb-86b0-07d1e5e4d2e2.png)

![image](https://user-images.githubusercontent.com/69426460/95031464-d3173b00-06be-11eb-952a-10194fb3dc62.png)

[2020-10-05 09:19] evilebottnawi commented on #598
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-10-05 09:19] #598 closed

[2020-10-06 08:27] samal-rasmussen commented on #39
Its described in the documentation:
https://webpack.js.org/configuration/stats/#statsentrypoints
https://webpack.js.org/configuration/stats/#statschildren

[2020-10-07 10:04] MarcelGerber opened #600 "`webpackVersion` check doesn't work if multiple versions of webpack are in use"
- Operating System: Windows 10
- Node Version: 12.13.1
- NPM Version: 6.14.8
- webpack Version: 5.0.0-rc.3 _and_ 4.44.1
- mini-css-extract-plugin Version: 0.11.3

### My Setup
In my setup, the project itself is using Webpack 5 (RC) (https://github.com/owid/owid-grapher/pull/621), but we're also using Storybook which is using Webpack 4.

### Expected Behavior

When running `yarn build-storybook`, `

[2020-10-07 10:40] evilebottnawi commented on #600
Maybe we can duck typing

[2020-10-07 12:23] evilebottnawi commented on #600
Anyway it should not happens, because other plugins use the same logic, something wrong with your env/setup

[2020-10-07 12:25] evilebottnawi commented on #600
Found, update webpack to latest rc, `defaultSizeTypes` exists only in `rc.3`

[2020-10-07 15:01] MarcelGerber commented on #600
I am also facing this issue with `rc.4`.

[2020-10-07 15:02] evilebottnawi commented on #600
@MarcelGerber Please create reproducible test repo, terser should failed too here

[2020-10-07 16:10] MarcelGerber commented on #600
Hi @evilebottnawi, I've set up a demo project at https://github.com/MarcelGerber/webpack-demo.

In it, `yarn webpack serve` works fine, whereas `yarn storybook` fails with the error message.

[2020-10-07 17:39] evilebottnawi commented on #600
Thanks I will look at this tomorrow

[2020-10-07 18:15] sokra commented on #600
For this to work plugin must avoid to import "webpack" at all. For that we maybe need to expose `webpack` as property of the `Compiler`...

[2020-10-08 23:48] calebTree commented on #489
When I use style-loader I get "ReferenceError: document is not defined".
When I use MiniCssExtractPlugin I get "Error: Callback was already called.

[2020-10-09 11:22] evilebottnawi commented on #485
Fixed https://github.com/webpack-contrib/mini-css-extract-plugin/pull/602, release will be today

[2020-10-09 11:22] #485 closed

[2020-10-09 11:23] evilebottnawi commented on #67
Fixed https://github.com/webpack-contrib/mini-css-extract-plugin/pull/602, `chunkFilename` as `Function` available on for webpack@5, webpack@5 release will be `2020-10-10`

[2020-10-09 11:24] evilebottnawi commented on #67
`moduleFilename` was removed in favor `filename/chunkFilename`

[2020-10-09 11:24] #67 closed

[2020-10-09 11:26] evilebottnawi commented on #449
`moduleFilename` was removed in favor `filename`/`chunkFilename`, if you will have problems with new version (1.0.0, release will be today), please open a new issue

[2020-10-09 11:26] #449 closed

[2020-10-09 11:26] evilebottnawi commented on #523
`moduleFilename` was removed in favor `filename`/`chunkFilename`, if you will have problems with new version (1.0.0, release will be today), please open a new issue

[2020-10-09 11:26] #523 closed

[2020-10-09 14:02] #259 closed

[2020-10-09 14:02] #403 closed

[2020-10-09 16:17] #516 closed

[2020-10-09 16:24] evilebottnawi commented on #205
@fremail sorry for delay, update `mini-css-extract-plugin` to `1.0.0` version

[2020-10-09 18:24] evilebottnawi commented on #427
I think we can use multiple imports/entrypoints to achieve this, I will update docs in near future, but you can try it, should work

[2020-10-10 15:15] evilebottnawi commented on #562
@sallf big sorry for delay, we need option(s) to allow specify order, if you put your example here https://github.com/webpack-contrib/mini-css-extract-plugin/issues/555 we will add to test it, we are working on it

[2020-10-10 20:42] fremail commented on #205
@evilebottnawi yeah, css-loader@4 with mini-css-extract-plugin@1 and style-loader@2 works fine. Thank you!

[2020-10-10 23:11] MarcelGerber commented on #600
Yep, I think so too.
When importing webpack, Node package hoisting may result in the plugin importing another version of webpack than what is actually used in that run.

[2020-10-11 13:28] thasmo opened #610 "chunk loading issue when using a runtime chunk"
- Operating System: Windows `10.0.19041`
- Node Version: `12.18.3`
- NPM Version: `6.14.8`
- webpack Version: `5.0.0`
- mini-css-extract-plugin Version: `1.0.0`

### Expected Behavior
Chunk should be loaded, but the chunk file doesn't exist.

### Actual Behavior
[code]

### Code

It seems the hash for the runtime chunk is lost somewhere. (`runtime.undefined.css`)

**runtime.js**
[code]

### How Do

[2020-10-11 15:46] evilebottnawi commented on #610
Please create reproducible test repo

[2020-10-11 21:47] thasmo commented on #610
Tried to simplify the setup as much as possible; mind that I'm using a utility/tool to generate the webpack config.
https://github.com/thasmo/mini-css-extract-plugin-test

[code]

[code]

Notice the `runtime.undefine.css`. Also, this is without a frontend to actually test the bundle in a browser - but maybe it's enough to find the issue.

[2020-10-11 21:49] thasmo commented on #610
Also; the `666` looks suspicious. 🤔

[2020-10-11 21:59] evilebottnawi commented on #610
Thanks I will look at this tomorrow, I think it is bug on our side

[2020-10-12 10:27] fwh1990 opened #611 "Any plan to upgrade @types"
I'm migrating webpack from 4 to 5, and facing a problem that `@types/mini-css-extract-plugin` is reference type from `@types/webpack`, it's incompatible with latest webpack.

More incompatible packages I'm using are listed below:
* @types/mini-css-extract-plugin
* @types/compression-webpack-plugin
* @types/optimize-css-assets-webpack-plugin
* @types/terser-webpack-plugin

[2020-10-12 10:33] evilebottnawi commented on #611
No, `@types/mini-css-extract-plugin` is not out repo, so we can't update it

[2020-10-12 10:33] #611 closed

[2020-10-12 10:36] fwh1990 commented on #611
Well, I will not complete migrating until you do that. Thank you for your help.

[2020-10-12 12:47] sokra commented on #610
I think I have a fix for that locally.

[2020-10-12 19:50] blephy commented on #205
I'm also getting this error when using webpack 5. In the latest version 4 of webpack, everything was going nicely :/ :

css-loader: 4.3.0
mini-css-extract-plugin: 1.0.0
webpack: 5.0.0

my rule :

[code]

Stack trace :

[code]

[2020-10-13 10:18] HualiangLI opened #613 "export 'default' (imported as 'content') was not found"
- Operating System: macOS 10.15.6
- Node Version: v10.14.2
- NPM Version: 6.4.1
- webpack Version: 5.0.0
- css-loader Version: 4.3.0

# Expected Behavior
Styles can be applied and no errors occurs.

# Actual Behavior
Styles cannot be applied, warnings are printed in terminal and errors is printed in browser's console when webpack is building in dev mode.

# Code

`webpack.config.js`
[code]

`App.j

[2020-10-13 10:40] evilebottnawi commented on #613
Please don't 'style-loader' and `mini-css-extract-loader` together, use
[code]

[2020-10-13 10:40] #613 closed

[2020-10-13 11:24] shameleo opened #615 "Cache group settings are sometimes ignored"
- Operating System: Win 10
- Node Version: 12.18.3
- NPM Version: 6.14.7
- webpack Version: 5.0.0
- mini-css-extract-plugin Version: 1.0.0

### Expected Behavior
Output files: `index.js`, `index.css`, `shared.js`, **`shared.css`**

### Actual Behavior
Output files: `index.js`, `index.css`, `shared.js`.
Css from `src/shared/test.css` expected to be in `dist/shared.css`, but goes to `dist/index.css`

[2020-10-13 11:26] evilebottnawi commented on #615
No modules - no chunks

[2020-10-13 11:54] shameleo commented on #615
You mean `cacheGroup` option? So if I use it instead of `test()` function I'm getting `index.js` and `shared.css`. If I combine it with `test()` function (which seems to be invalid) it outputs `index.js` and `index.css`

[2020-10-13 12:01] evilebottnawi commented on #615
yes, now you have `shared.css`

[2020-10-13 12:15] shameleo commented on #615
Yes, now I have `src/shared/test.css` + `src/index.css` => `dist/shared.css`.
But what I want is  `src/index.css` => `dist/index.css` and `src/shared/test.css` => `dist/shared.css`

[2020-10-13 12:18] evilebottnawi commented on #615
You need to specify group for `src/index.css`, you don't have `enforce: true` for this, so nothing to create

[2020-10-13 12:18] #615 closed

[2020-10-13 12:59] shameleo commented on #615
@evilebottnawi, no rush, file names could mislead you. `dist/index.css` must contain **all** css from `index.js` (except files from "shared" cache group), not only from 'src/index.css'. `index.js` is **entry**, so I expect css which did't match "shared" cache group end up there. And it is, unless I force extracting all css in "shared" according to your advice.

[2020-10-13 13:02] evilebottnawi commented on #615
You `test` and `type` together, sorry splitting is a part of webpack, there is nothing to here with this, but you need two groups if you want to extract into 2 files

[2020-10-13 15:09] zenopopovici opened #617 "Negative lookups don't work for `assetNameRegExp`"
- Operating System: MacOs 10.15.7
- Node Version: 12.19.p
- NPM Version: 6.14.8
- webpack Version: 4.44.2
- mini-css-extract-plugin Version: 1.0.0

### Expected Behavior

The plugin should ignore `style.css`, `global.css`, `post-33.css` files.

### Actual Behavior
It will process all of them.

### Code

[code]

### How Do We Reproduce?

Run the above config.

[2020-10-13 15:18] evilebottnawi commented on #617
Not related to this plugin, please open an issue in `OptimizeCSSAssetsPlugin`, anyway I recommend to migrate on https://github.com/webpack-contrib/css-minimizer-webpack-plugin

[2020-10-13 15:18] #617 closed

[2020-10-14 11:38] wangmeng1991 opened #618 "export 'default' (imported as 'mod') was not found"
- Operating System: macOS 10.15.7
- Node Version: v14.13.1
- NPM Version: 6.14.8
- webpack Version:  5.1.0
- mini-css-extract-plugin Version: 1.0.0

### Expected Behavior

 no warnings printed in termina

### Actual Behavior

 warnings printed in termina when webpack is building in production mode

### Code

[code]

[code]

### Result
When  building in production mode :
[code]
When I downgrade min

[2020-10-14 11:42] evilebottnawi commented on #618
Please open an issue in `vue` repo, it is breaking change and described in `CHANGELOG`

[2020-10-14 11:42] #618 closed

[2020-10-14 11:43] evilebottnawi commented on #618
You should not use `import something from './style.css'` if you don't use locals

[2020-10-14 13:02] zenopopovici commented on #617
@evilebottnawi My mistake, that was the place where I wanted to report it in the first place. I guess I had multiple tabs open. Sorry for the trouble.

🤩 Also thanks for the tip, I didn't know about it. I think I'll migrate right away as I see it has working sourcemaps support.

[2020-10-15 08:43] Yijx opened #619 "export 'default' (imported as 'aaa') was not found in './bbb.less'"
Operating System: windows
Node Version: v12.19.0
NPM Version: 6.14.8
webpack Version: 5.1.0
mini-css-extract-plugin Version: 1.0.0

I have same question as #618 and #613 . I am update webpack4 to 5
when I use react and write this code:
`
 import aaa from './bbb.less';
`
webpack5 warning me :  export 'default' (imported as 'aaa') was not found in './bbb.less'.
I 'm sorry but I don't quite understan

[2020-10-15 12:01] evilebottnawi commented on #619
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please read changelog, you don't need to use default import

[2020-10-15 12:01] #619 closed

[2020-10-15 12:02] evilebottnawi commented on #619
Just use `import './style.css'`/`import './style.less'`/`import './style.sass'`

[2020-10-15 12:11] evilebottnawi commented on #370
https://github.com/webpack-contrib/mini-css-extract-plugin/pull/609

[2020-10-15 12:11] #370 closed

[2020-10-15 12:12] evilebottnawi commented on #492
You can fix it using https://github.com/webpack-contrib/mini-css-extract-plugin/pull/609, I think we can close it, because it is not good default behavior, but if you provide more information we can improve it out of box

[2020-10-15 12:12] #492 closed

[2020-10-15 12:23] darkangel081195 commented on #205
Exactly facing the same issue when moving to webpack 5 and i have the same configuration as u above. Were u able to find a solution.

[2020-10-15 12:25] evilebottnawi commented on #205
@darkangel081195 you report is not help to help you or solve the problem

[2020-10-15 15:07] darkangel081195 commented on #205
Can u please let me know, what should be provided to get some guidance on the above error. I have recently updated to css-loader 5.0.0 from version 1.0.1, My version for mini-css is 0.1.0

        {
            test: /\.(css|scss|map)$/,
            oneOf: Prod ? [{
                use: [
                    MiniCssExtractPlugin.loader,
                    'css-loader',
                    'postcs

[2020-10-15 15:12] evilebottnawi commented on #205
@darkangel081195 Can you create reproducible test repo

[2020-10-15 19:26] barak007 commented on #555
When trying to solve this issue maybe take a look at #530

Also the real problem is that css order should not depended only on import order because it can create cases that you cant satisfy all constraints.

x.js imports a.css then b.css
y.js imports b.css then a.css
z.js imports x.js and y.js

[2020-10-15 20:37] deicidemilan opened #620 "mini-css-extract-plugin don't wotr with webpack5"
Hello,

I have issue with "mini-css-extract-plugin": "^1.0.0" and "webpack": "^5.1.1".
When I run "npm run build"  I don't get .css files (.js are created) but with  "mini-css-extract-plugin": "^0.8.0" it's work perfect.
And with "npm run build  -- --mode development" I got .css in both situation.

So my code is:

package.json
`{
  "name": "",
  "version": "1.0.0",
  "description": "",
  "main": "

[2020-10-15 21:56] theKashey commented on #492
`insert` option is capable to mitigate this problem 👍

[2020-10-15 22:55] birdofpreyru opened #621 "normalize-url@1.9.1 dependency is not compatible with Webpack@5 out of the box"
- Operating System: Ubuntu
- Node Version: 12.19.0
- NPM Version: 6.14.8
- webpack Version: 5.1.2
- mini-css-extract-plugin Version: 1.0.0

### Actual Behavior

I am in the progress of upgrading my React toolset to Webpack@5. Running a compilation of some codebase I got the following error message
[code]

I did not have a chance to dig deeper into it yet, and probably update the ticket with more i

[2020-10-16 02:05] littlepoolshark commented on #36
Finally, I had make a good understood of the difference between them with this awesome answer!!

[2020-10-16 07:19] blephy commented on #205
@evilebottnawi I put a link to a reproductible repository

[2020-10-16 09:51] lllopo opened #622 "Weird warnings with v1.0.0 and Webpack 5"
- Operating System: Windows 10
- Node Version: 14.9.0
- NPM Version: 6.14.8
- webpack Version: any above 5.0.0
- mini-css-extract-plugin Version: 1.0.0

### Expected Behavior

Clean build, without warnings, which happens with version 0.12.0, but doesn't happen with 1.0.0

### Actual Behavior

While 0.12.0 builds ok, verision 1.0.0 (without touching anything else in the setup) rises the following w

[2020-10-16 11:04] evilebottnawi commented on #622
Please read the changelog, use `import './style.css';`

[2020-10-16 11:04] #622 closed

[2020-10-16 11:09] evilebottnawi commented on #621
Do not use `optimize-css-assets-webpack-plugin` migrate on https://github.com/webpack-contrib/css-minimizer-webpack-plugin

[2020-10-16 11:09] evilebottnawi commented on #621
But no problems here, if you need to help please create reproducible test repo

[2020-10-16 11:10] evilebottnawi commented on #621
In future please use all fields in the issue, we can't help you without this information

[2020-10-16 11:31] evilebottnawi commented on #620
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Update webpack to `5.1.2`

[2020-10-16 11:31] #620 closed

[2020-10-16 11:37] deicidemilan commented on #620
With "webpack": "^5.1.2", "mini-css-extract-plugin": "^1.0.0" works now perfect.

Tnx for answer

[2020-10-16 11:47] evilebottnawi commented on #205
@blephy Can you describe how we can reproducible it?

[2020-10-16 11:50] birdofpreyru commented on #621
@evilebottnawi Huge thanks for the remark about migration to css-minimizer!

Regarding this ticket, the problem is that to use this (`mini-css-extract-plugin`) with Webpack@5, at least in some corner-cases one needs to add `resolve.fallback.url: require.resolve('url')` to his Webpack config, and install `url` package as the dependency. It solves the issue for me, but this looks like an avoidable i

[2020-10-16 11:58] evilebottnawi commented on #621
Oh, yes, I see

[2020-10-16 13:24] lllopo commented on #622
@evilebottnawi I did. The thing is that the warning is raised on Vue components that have only inline template styles (`<style lang="scss">...</style>`, some scoped some not, but no imports) and even one that has no style definitions at all.

[2020-10-16 13:26] evilebottnawi commented on #622
@lllopo I think better to open an issue in vue repo, anyway if you create reproducible test repo I can look at this

[2020-10-16 13:29] lllopo commented on #622
@evilebottnawi ok, thanks. A bit busy, but will let you know when I have a test for this. I think it's mini-css related as it works fine with 0.12.0 ... anyway - we talk more when I have the test setup.

[2020-10-16 13:32] evilebottnawi commented on #622
@lllopo yep, feel free to ping me

[2020-10-16 14:50] blephy commented on #205
@evilebottnawi

[code]

make a .env file at the root folder with this content :

[code]

Run production build with webpack (config/webpack/app.prod.ts) :

[code]

[2020-10-16 20:13] amir20 opened #625 "Getting warnings for `export 'default' (imported as 'mod') was not found`"
- Operating System: Mac Os 10.15.x
- Node Version: 14.13.1
- NPM Version: yarn 1.22.5
- webpack Version: weback 5.1.2
- mini-css-extract-plugin Version: 1.0.0

I am seeing multiple warnings that look like

[code]

### Code

https://gist.github.com/amir20/753be944314fbe5a9f8d58bf0c326dc1

### How Do We Reproduce?

https://github.com/amir20/dozzle/tree/webpack5

`yarn && yarn build`

[2020-10-17 07:45] lllopo commented on #622
@evilebottnawi Hi, there you go :

[https://codesandbox.io/s/webpack-5-with-mini-css-extract-100-warnings-c028j](https://codesandbox.io/s/webpack-5-with-mini-css-extract-100-warnings-c028j)

It is very rough, but the warnings are there in the terminal when you re-build the thing.

[2020-10-17 14:12] evilebottnawi commented on #622
@lllopo bug in `VueLoaderPlugin`

[2020-10-17 14:34] evilebottnawi commented on #625
Please open an issue in `vue` plugin

[2020-10-17 14:34] #625 closed

[2020-10-17 14:43] lllopo commented on #622
@evilebottnawi Ok, I'll report it. Thanks a lot.

[2020-10-17 15:07] amir20 commented on #625
I can do that. But the stacktrace suggests the problem is with this plugin. Did I miss something?

[2020-10-17 15:20] evilebottnawi commented on #625
Here `?vue`, it is syntax for `vue` loader

[2020-10-19 14:31] omarjov opened #626 "Common styles not added to all bundles on entry points code split"
- Operating System: macOS Catalina
- Node Version: v10.16.0
- NPM Version: 6.11.3
- webpack Version: 4.44.2
- mini-css-extract-plugin Version: 1.0.0

### Expected Behavior
I expect that common styles are included in every entry point css bundle where it's included.
Done according to this docs https://webpack.js.org/plugins/mini-css-extract-plugin/#extracting-css-based-on-entry

### Actual Behavior

[2020-10-19 14:50] evilebottnawi commented on #205
@blephy bug with configuration, sorry your repository is very big, I do not have time to investigate what is wrong, because others need help too, also you have problems:
- Do not use `default` import for `mini-css-extract-plugin`
- Your configuration repeat many default options, avoid it, if you want to easy migration in future
- Your code is not ready for `outputModule`, do not use it right now

[2020-10-19 16:17] #205 closed

[2020-10-19 16:18] evilebottnawi commented on #205
Same fix in main branch, I will do release today, but if you faced with the issue again, feel free to open a new issue with reproducible test repo

[2020-10-19 16:21] cap-Bernardito commented on #626
Unfortunately I am can not to reproduce the problem.
Please provide a minimally reproducible test repository.
When you provide the test repo I will reopen this issue.

[2020-10-19 16:21] #626 closed

[2020-10-19 16:40] #621 closed

[2020-10-19 17:04] evilebottnawi commented on #413
The `attributes` option was implemented and released (`1.1.0`), no `onload`, because it is unsafe and out of scope, you can emulate this logic using `data` attributes

[2020-10-19 17:04] #413 closed

[2020-10-19 17:12] evilebottnawi commented on #94
You can achieve the `insert` option in `v1.1.0`, rely on filename is not good idea, but feel free to feedback, maybe I a missing some edge cases

[2020-10-19 17:12] #94 closed

[2020-10-20 04:34] pinkiebala opened #628 ""Extracting CSS based on entry" example doesn't work"
- Operating System: ubuntu20.04
- Node Version: 12.16.1
- NPM Version: 6.13.4
- webpack Version: 4.36.1
- mini-css-extract-plugin Version: 1.1.0

### Expected Behavior

[Extracting CSS based on entry example](https://github.com/webpack-contrib/mini-css-extract-plugin#extracting-css-based-on-entry) should work.

In the reproduce repo,
CSS of `comp1.css` should merge into `app1.css`.
CSS of `comp2.c

[2020-10-20 11:41] omarjov commented on #626
Okey, here we go
https://github.com/omarjov/webpack-extract-css-issue

We have 2 entries - `foo` & `bar` and 1 common component `Card`
`foo` entry uses `@loadable` and two components inside are imported with `webpackChunkName` comment,
running `webpack` we get 4 css files:
1. foo.css
2. bar.css
3. FooRouteA.css
4. FooRouteB.css

I expect that we should get only 2 css files -
1. foo.css - that cont

[2020-10-20 11:43] omarjov commented on #626
I am expecting that webpack chunks are all imported to the entry point css file. Many thanks!

[2020-10-20 11:48] wintercounter commented on #610
Any updates on this? I also have the same issue, please see the above mentioned issue. I don't know if it helps, what I noticed if I don't give `name` to my `cacheGroup`, compilation will succeed without merging CSS.

[2020-10-20 12:52] evilebottnawi commented on #610
No, https://blog.sindresorhus.com/issue-bumping-e3b9740e2a0

[2020-10-20 13:40] wintercounter commented on #610
Come on, I also provided extra info on the issue, does it make any difference if I remove my first sentence?!

[2020-10-20 13:44] evilebottnawi commented on #610
@wintercounter just create example of the problem, it will help to check your problem is the same + we will add tests to avoid future regressions

[2020-10-20 16:01] evilebottnawi commented on #610
Thanks

[2020-10-20 16:56] cap-Bernardito commented on #628
There is an error in the documentation, we will fix it.

You can achieve the desired effect using the example below:

[code]

[2020-10-20 16:57] owap opened #631 "Webpack 5 - TypeError: The 'compilation' argument must be an instance of Compilation"
- **Operating System**: OSX Catalina 10.15.6
- **Node Version**: 14.11.0
- **NPM Version**: 6.14.8
- **webpack Version**: 5.1.3
- **mini-css-extract-plugin Version**: 1.1.1

### Expected Behavior

+ No Errors when including `.scss` files
+ `.scss` files are transformed to css and output in dist directory

### Actual Behavior

+ Using `MiniCssExtractPlugin.loader` results in webpack errors for ever

[2020-10-20 17:02] evilebottnawi commented on #631
You have two versions of webpack

[2020-10-20 17:02] #631 closed

[2020-10-20 17:04] evilebottnawi commented on #631
Can you run `npm ls webpack`?

[2020-10-20 17:09] cap-Bernardito commented on #626
Thanks for repo. The solution is shown in the link below. Please look [there](https://github.com/webpack-contrib/mini-css-extract-plugin/issues/628).
Closed favor #628

[2020-10-20 17:26] cap-Bernardito commented on #257
Avoid using the entry point as the name for the cacheGroup in webpack@4
Fixed in webpack@5

[2020-10-20 17:26] #257 closed

[2020-10-20 17:30] #628 closed

[2020-10-20 17:54] owap commented on #631
Hi @evilebottnawi, thanks for the quick response!

[code]

My application inherits most of its dependencies from our "@blacksky/app" library that we use as a base for most of our webapps. `webpack` is listed as a dependency (rather than a devDependency) in our "app" library to ensure that all of our applications use the same version of webpack, babel, etc.

I've got a minimal library going trying

[2020-10-20 17:58] owap commented on #631
A clue!!

When I `npm i -DE mini-css-extract-plugin` in our application (rather than inherit it from our library), it works fine.

Something about the fact that it's a dependency of another dependency causes it to misbehave... 🤔

[2020-10-20 17:59] evilebottnawi commented on #631
Yes, maybe you can provide link, will be great to look at structure

[2020-10-20 18:51] owap commented on #631
Looks like MiniExtractCssPlugin works fine as long as I don't `npm link` to my library. I've got `symlinks: false` in the `resolve` section of my webpack config, but it's still misbehaves.

I've worked around this issue for now by changing my webpack config to use `style-loader` in development and MiniCssExtractPlugin in production.

[2020-10-21 00:43] k2snowman69 opened #632 "Css `preload` does not work in Firefox"
- Operating System: OSX
- Node Version: v12.18.4
- NPM Version: 6.14.6
- webpack Version: 5.0.0
- mini-css-extract-plugin Version:1.1.0

### Expected Behavior

When I modify a css file, that when the page reloads, styles are loaded by the browser

### Actual Behavior

Though I do see the following in the head tag:
[code]

My styles are broken in Firefox 81.0.2 (64-bit)
Everything works in Chrome 8

[2020-10-21 02:09] pinkiebala commented on #628
Thanks a lot!

[2020-10-21 08:18] shameleo commented on #615
So, real reason was that my `test` function is invalid. I should use `module.nameForCondition()` instead of `module.resource`, or just regex. `test` function is called twice, so the first time `module.resource` has expected value (and splitting for js files works), but the second time `module.resource` is `undefined`, and css goes to entry css bundle.
I don't know if undefined `resource` is valid

[2020-10-21 10:42] evilebottnawi commented on #632
We don't support `preload`

[2020-10-21 10:42] #632 closed

[2020-10-21 10:43] evilebottnawi commented on #632
If you need a help please create reproducible test repo

[2020-10-21 10:52] evilebottnawi commented on #615
Because you don't want to read the official documentation

No

[2020-10-21 18:20] shameleo commented on #615
I've read it reasonable amount of time. The only mentioning of `nameForCondition` is on [this](https://webpack.js.org/migrate/5/) page. But docs mention `resource` for testing. Actually, I needed to look through source code to find out what is going on. I don't know the difference, but Webpack uses `nameForCondition` when you specify regex instead of function. And yes, it is the only thing I neede

[2020-10-21 18:25] evilebottnawi commented on #615
Can you create simple example?

[2020-10-21 20:01] shameleo commented on #615
I did my best, too make it a little clearer, it's already quite minimal.

**input (dependency tree):**
index.js (entry)
....index.css
....shared/test.js
........shared/test.css

**expected ouput:**
index.js
index.css
shared-bundle.js
shared-bundle.css

**webpack config part:**
[code]

**Full code: https://github.com/shameleo/mini-css-extract-plugin-issue/tree/d9a853cb3d12da988ef3c6b6887196693699a3

[2020-10-21 20:14] evilebottnawi commented on #615
You can use `nameForCondition`, it is safe https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/CssModule.js#L59

[2020-10-22 06:10] hudadiaz opened #635 "Insert option not working as expected"
- Operating System: Linux 4.19.104-microsoft-standard
- Node Version: v12.18.0
- NPM Version: 6.14.4
- yarn Version (I'm using yarn): 1.22.4
- webpack Version: 4.44.2
- mini-css-extract-plugin Version: 1.1.1

### Expected Behavior

`linkTag` should be prepended to `body`.

### Actual Behavior

`linkTag` appended to `head`

### Code

[code]

[code]

[code]

[2020-10-22 10:06] evilebottnawi commented on #635
insert option only for async chunks

[2020-10-22 10:06] #635 closed

[2020-10-22 20:37] shobhitsharma commented on #600
@evilebottnawi Also, ran into this issue. Could you please suggest a workaround for it?

[2020-10-22 20:43] evilebottnawi commented on #600
Disable hoist for webpack

[2020-10-22 20:45] evilebottnawi commented on #600
Give me 10-15 minutes, I will try to fix it, should be easy

[2020-10-22 21:22] evilebottnawi commented on #600
@shobhitsharma @MarcelGerber Can you try https://github.com/webpack-contrib/mini-css-extract-plugin/releases/tag/v1.1.2

[2020-10-22 21:32] shobhitsharma commented on #600
@evilebottnawi Thanks for quick action. I tested it just now, but the webpack version printed `5.2.0` because there is no support for webpack 5 in storybook, this needs to be handled by their webpack configuration somehow. follow up: https://github.com/storybookjs/storybook/pull/11326

[2020-10-22 21:33] shobhitsharma commented on #600
@evilebottnawi  Thanks for quick action. I tested it just now, issue still persists. The webpack version printed 5.2.0 during debug, since there is no support for webpack 5 in storybook, this needs to be handled by their webpack configuration somehow. follow up: storybookjs/storybook#11326

[2020-10-22 21:34] evilebottnawi commented on #600
@shobhitsharma Can you create reproducible test repo?

[2020-10-23 00:09] MarcelGerber commented on #600
Sadly, I have to report the same thing.
I've updated my demo of this issue with the latest webpack & plugin versions: https://github.com/MarcelGerber/webpack-demo

In it, `yarn webpack serve` works fine, whereas `yarn storybook` doesn't.

Thank you for looking into this, much appreciated!

[2020-10-23 19:21] #600 closed

[2020-10-23 19:24] evilebottnawi commented on #600
Please try again https://github.com/webpack-contrib/mini-css-extract-plugin/releases/tag/v1.2.0

[2020-10-24 19:11] MarcelGerber commented on #600
Great, thank you, it's working now 👍 . (I get another error message now, but that one doesn't seem related to this plugin)

[2020-10-26 11:24] dgeibi opened #639 "onerror memory leak"
- Operating System: Mac
- Node Version: 12
- NPM Version: 12.18.2
- webpack Version: 4.44.2
- mini-css-extract-plugin Version: 1.2.0
- browser:  chrome 86.0.4240.111

### Expected Behavior

should unref onerror after onload

### Actual Behavior

onerror remains in the memory

![截屏2020-10-26 下午7 25 22](https://user-images.githubusercontent.com/2224764/97167022-18f88800-17c1-11eb-84f7-e146fd3ed428.p

[2020-10-26 11:27] evilebottnawi commented on #639
PR welcome, easy to fix

[2020-10-27 13:52] #639 closed

[2020-10-27 14:35] evilebottnawi commented on #639
Big thanks!

[2020-10-29 12:40] redfox05 commented on #355
We're also having this issue.

@evilebottnawi you mention that this is a known issue, do you have an open issue number we can track, as this one is closed, so I'm assuming the known issue is known by a different id?

[2020-10-29 12:41] evilebottnawi commented on #355
fixed in webpack@5, can't be fixed in webpack@4

[2020-10-29 12:43] redfox05 commented on #355
Thanks for the quick reply @evilebottnawi I just edited my reply to provide more context. We are actually running webpack 5.

Some relevant version numbers below if it helps:

[code]

[2020-10-29 12:52] redfox05 commented on #355
Noticed theres a few new versions released, updated now to the following, but the issue is still present.

@evilebottnawi, could you provide more context around what was fixed as per your comment above?

Thanks

[2020-10-29 13:01] evilebottnawi commented on #355
in production mode you will have `contenthash` === hash of content of your assets, you will try to calculate it using `md4`

[2020-10-29 13:12] redfox05 commented on #355
@evilebottnawi I'm afraid I don't quite follow. Could you clarify?
Do you mean we should set a flag of some sort in production mode? Would this be in the main webpack.optimizations, or in the plugin for mini-css-extract?
And are you saying its currently using md4, and thats the problem, or md4 is the solution? And if so, what do you suggest we do to fix our issue?

Thanks

[2020-10-29 13:17] evilebottnawi commented on #355
- we never change `lf`/`crlf`/`cr` to other values, because it is unsafe
- webpack@5 calculate real content hash of assets in production mode, you can enable this for development, but it reduce performance and unnecessary, if you don't use `[hash]`/`[contenthash]`/etc hashes in developers
- md4 is the faster algorithm, it is used for not cryptographic so it is safe to use
- what is the problem

[2020-10-29 13:23] redfox05 commented on #355
Thanks for the clarification.

This is in production mode.

The problem is as mentioned above, but I will go in more detail.
For our CSS files, mini-css-extract-plugin pulls the CSS out of the JS files as expected, and puts the CSS into .css files in the dist folder. So far so good. Even when runnning the build again, nothing is changed according to git, and everything is the same.

However, if we

[2020-10-29 13:28] evilebottnawi commented on #355
Interesting, can you create reproducible test repo, do you use latest `css-loader`/`postcss-loader`/`sass-loader`/`less-loader`/etc?

[2020-10-29 13:40] redfox05 commented on #355
Yes, all the latest as per the ones I listed above

[2020-10-29 13:45] evilebottnawi commented on #355
Without source maps hashes are same on different computers?

[2020-10-29 14:16] redfox05 commented on #355
Hmm, thats one I have yet to try, will try that now

[2020-10-29 14:21] redfox05 commented on #355
I did it locally and ofcourse the hashes change, as the contents now has no reference to a sourcemap.
I won't be able to see what it does on the other machine, as that one is in Canada, so will have to wait till they come online to try that and truly know.

We do need sourcemaps either way, although I agree its a good thing to rule out.

[2020-10-29 14:29] evilebottnawi commented on #355
yes, I want to found the problem to focus on fixing

[2020-10-29 14:34] redfox05 commented on #355
We have come across line ending issues before, but seeing as this is CSS that is pulled into the JS, minified, and then extracted out again by your plugin, I dont see how line endings can come into it, as it would be lines generated by webpack/plugins. One machine is on Mac (mine), and the other Linux.

Will have to wait a couple more hours to test on the other machine.

[2020-10-29 14:39] evilebottnawi commented on #355
yep, i think you faced with out problem

Feel free to ping me

[2020-10-29 15:08] redfox05 commented on #355
@evilebottnawi they just came online and we did the test with no sourcemaps, error still occurs.
All packages up to date and matching on both machines, with npm install too.

The files are binary equal:

[code]

[2020-10-29 15:11] evilebottnawi commented on #355
need to look at plugins, maybe some change something, we have tests on this case and it is success on windows/macos/linux, can you show diff without source maps?

[2020-10-29 15:23] redfox05 commented on #355
The diff shows no difference between the files. As shown by the sha checksum.

The route the css takes with regards to plugins:
`.css file -> webpack -> css-loader -> MiniCssExtractPlugin`

[2020-10-29 15:27] evilebottnawi commented on #355
Do you use `mode: 'production'`?

[2020-10-29 15:42] redfox05 commented on #355
Yes

[2020-10-29 15:44] evilebottnawi commented on #355
Weird, hard to say why it happens, do you use sass/less/postcss?

[2020-10-29 15:46] redfox05 commented on #355
We dont use any of those, the build process is literally `plain .css file -> webpack -> css-loader -> MiniCssExtractPlugin`

[2020-10-29 15:51] evilebottnawi commented on #355
Let's use twitter https://twitter.com/evilebottnawi, feel free to DM, but I think without reproducible test repo I can'y help :disappointed:

[2020-10-29 15:51] evilebottnawi commented on #355
Maybe edge case

[2020-10-30 22:12] sethomas commented on #519
replacing the loader of `mini-css-extract-plugin` with `style-loader`, I am able to HMR css-modules without a page reload.

[2020-10-31 21:14] Hyperblaster opened #642 "TypeError: Cannot read property 'split' of undefined"
- MacOS Catalina 10.15.6
- Node v12.18.0
- NPM 6.14.8
- webpack Version: 4.44.2
   webpack-cli: 3.3.12
- mini-css-extract-plugin Version: 0.9.0

### Expected Behavior

Using Webpack to publish a Vue Component Library, and needing to extract a single CSS file with all the css from the components. But it fails when using the mini-css-extract-plugin

### Actual Behavior

Failing on build with this er

[2020-11-01 00:47] andersk opened #643 "“Serializing big strings” warning with Webpack 5 filesystem cache"
- Operating System: Linux
- Node Version: 14.14.0
- NPM Version: 6.14.8
- webpack Version: 5.3.2
- mini-css-extract-plugin Version: 1.2.1

### Expected Behavior

No warnings.

### Actual Behavior

When using Webpack 5 with `cache: { type: "filesystem" }`, `mini-css-extract-plugin` triggers this warning on sufficiently large CSS files: `<w> [webpack.cache.PackFileCacheStrategy] Serializing big stri

[2020-11-01 09:15] sokra commented on #643
Add `infrastructureLogging.debug: /PackFileCache/` to get a stack trace

[2020-11-01 09:39] andersk commented on #643
@sokra That gave me more messages but no stack trace.

[code]

However, by manually inserting a `console.trace()` into `webpack/lib/serialization/ObjectMiddleware.js`, I get

[code]

where `mini-css-extract-plugin/dist/CssDependency.js:42` is the `write(this.content);` from [`mini-css-extract-plugin/src/CssDependency:32`](https://github.com/webpack-contrib/mini-css-extract-plugin/blob/v1.2.1/src/C

[2020-11-02 05:44] muzea opened #644 "when you set output.iife to false, plugin does not work properly"
- Operating System: macOS
- Node Version: 12.18.2
- NPM Version: 6.14.5
- webpack Version: 5.3.2
- mini-css-extract-plugin Version: 1.2.1

### How Do We Reproduce?

[repo for reproducible issue](https://github.com/muzea-demo/webpack_style)

When `output.iife` is set to `true`, the output is as expected.

### Expected Behavior

output shoule be

[code]

### Actual Behavior

[code]

[2020-11-02 09:13] zanderwar commented on #279
causes
[code]

[2020-11-02 11:02] evilebottnawi commented on #643
Thanks I think we can switch on buffer

[2020-11-02 11:02] evilebottnawi commented on #643
@sokra what do you think?

[2020-11-02 11:30] evilebottnawi commented on #642
Please open an issue in `vue-style-loader`, can't reproduce

[2020-11-02 18:55] sokra commented on #643
Yep use a Buffer. Convert to buffer during parsing. Convert from buffer to string during code generation.

Parsing is only done once. Code generation will be skipped if the css output file doesn't change. This way no utf-8 conversion is needed, buffer never have to be decoded to a string.

[2020-11-03 07:58] Lelith commented on #358
I m also running into this problem when migrating my create-react-app into a single-spa app, and i think this is the section where i lack a little help in the docs: https://single-spa.js.org/docs/migrating-existing-spas/#2-getting-the-css-fonts-script-dependencies-to-work

[2020-11-03 11:21] interposition opened #645 "TypeError: Cannot read property 'tapAsync' of undefined"
- Operating System: win 10 x64
- Node Version: v10.16.0
- NPM Version: 6.9.0
- webpack Version: 5.3.2
- mini-css-extract-plugin Version: 1.2.0

### Actual Behavior

`ERROR in ./src/scss/main.scss
    Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
    TypeError: Cannot read property 'tapAsync' of undefined
        at ExternalModuleFactoryPlugin.apply (C:\proj\asse

[2020-11-03 11:30] evilebottnawi commented on #645
Please fix the issue template and I will reopen

Not help, because I can't reproduce,

[2020-11-03 11:30] #645 closed

[2020-11-04 10:10] ogonkov commented on #205
Error is gone, but CSS is not emitted.

[2020-11-04 10:39] ogonkov opened #646 "CSS is not emitted for imports from `html-webpack-plugin`"
- Operating System: macOS 10.15.7
- Node Version: v10.17.0
- NPM Version: 6.11.3
- webpack Version: 5.4.0
- mini-css-extract-plugin Version: 1.2.1

### Expected Behavior

CSS chunk emitted, and inserted to html with CSS-modules hash

### Actual Behavior

HTML emmited without css chunk and empty `class` attribute

### Code

https://gist.github.com/ogonkov/2e23941414d6f0b3d5328bd80cba5674

### How D

[2020-11-04 10:39] ogonkov commented on #646
Same case previously produce an error #489

[2020-11-04 10:40] ogonkov commented on #489
With all the latest packages installed this error is not appear anymore. But CSS is not emitted either. I think i will recreate this issue, because original error is gone.

[2020-11-04 10:40] #489 closed

[2020-11-04 11:42] evilebottnawi commented on #646
Sorry, not related to `mini-css-extract-plugin`, please open an issue in HTMLWebpackPlugin

[2020-11-04 11:42] #646 closed

[2020-11-04 17:21] evilebottnawi commented on #582
@felixcatto please report about this in `html-webpack-plugin`, our scope is CSS, anyway in future we will add built-in HTML supporting, so you will not have the same problems

[2020-11-04 17:26] evilebottnawi commented on #642
Also

[2020-11-04 17:26] #642 closed

[2020-11-04 17:31] evilebottnawi commented on #521
@ernestostifano friendly ping

[2020-11-04 19:58] richtera opened #649 "Getting various problems with webpack5 and typescript"
- Operating System: Ubuntu
- Node Version: 12.19
- NPM Version: 6.14.8
- webpack Version: 5.4.0
- mini-css-extract-plugin Version: 1.2.1

### Expected Behavior

esModule and nameModules settings should be compatible between style-loader and mini-css-extract-plugins.

### Actual Behavior

I am seeing typescript being happy with import styles from "something.css" during HRM and style-loader, but the

[2020-11-04 20:04] richtera commented on #649
Hmmm the patch I am trying to do with makeCss sometimes work and sometimes doesn't.

[2020-11-05 03:22] felixcatto commented on #582
If you look at repo, it doesn't contain this plugin. How i can report it in `html-webpack-plugin`, if i don't use it ? :)
It is a webpack issue, but you moved it here, and now proposes to move it in a more inappropriate place. You can close it, if you don't care about this issue.

[2020-11-05 05:16] richtera commented on #649
Ok I think I found the combination of problems when using webpack5 and mini-css
1. It seems esModule: false is being ignored in the mini-css plugin during final code generation but not in style-loader
2. Empty css files now cause an es module with a null default value instead of an empty object.
3. During the analysis process of webpack esModule: false is being observed correctly

[2020-11-05 07:00] ogonkov commented on #646
I see that require in template is returns module, but it didn"t have any content. How it could be not related to loader?

[2020-11-05 11:28] evilebottnawi commented on #646
No

[2020-11-05 11:34] evilebottnawi commented on #649
Sorry, we don't provide typescript types yet

No

yes, it was internal change

...

[2020-11-05 11:34] #649 closed

[2020-11-05 11:36] evilebottnawi commented on #649
`mini-css-extract-plugin` !== `style-loader`, you **should not** use `__esModule` in client code

[2020-11-05 12:59] richtera commented on #649
But this is broken.
1. Typescript defs are not necessary.
2. esModule needs to be observed
3. I do get null errors where default is undefined for empty css files in production.
4. Production compiles correctly analyze with esModule on or off but crash at runtime.

[2020-11-05 13:13] evilebottnawi commented on #649
I don't understand what you want to achieve

It is true by default for `style-loader` and `mini-css-extract-plugin`

What do you mean

Yes, because it is runtime error

And no, it is no broken

[2020-11-05 13:16] evilebottnawi commented on #649
with `namedExport` you don't have `default` export

[2020-11-05 15:46] richtera commented on #649
Everything was working fine with webpack4. When I switched to webpack5 my production builds started crashing. I traced it down to the differences between style-loader in dev and mini-css in production. Switching esModule: false did not resolve the crash but adding a default rule into the empty scss file did.

[2020-11-05 16:20] evilebottnawi commented on #649
Please create reproducible test repo

[2020-11-05 19:39] richtera commented on #649
@evilebottnawi  Here is a sample repo that shows the JSON "imported"
https://github.com/getselfstudy/mini-css-test
When running with esModule on you can see that a file without any rules starting with `.` will end up without a "default" property.
When running without esModule you can still see the default property.
I hooked up `yarn start` and `yarn build; yarn serve` to setup up dev and productio

[2020-11-06 10:48] ernestostifano commented on #521
@evilebottnawi sorry for the delay, I think I forgot about this issue (thanks for the ping).

As an example of what I was trying to say, I can point you to [this specific file of a plugin](https://github.com/codistica/codistica-js/blob/develop/packages/codistica-scriptfiber/src/plugins/scriptfiber-runtime-webpack-plugin/internals/main-template-require-ensure.js) I was working on a while ago (still

[2020-11-06 10:57] evilebottnawi commented on #521
I would like to understand how special (rare case), perhaps in your case, creating your own plugin is the best way, unfortunately we cannot cover all 100% cases, I hope you understand this

[2020-11-06 11:40] #643 closed

[2020-11-06 12:24] #223 closed

[2020-11-06 13:07] ernestostifano commented on #521
@evilebottnawi I absolutely understand that. But generally speaking, isn't it better to make plugins more flexible when possible? I still think that the proposed modification does not affect current behavior and should not break anything.

Why does Webpack expose localVars hook if not for this?

I really like mini-css-extract-plugin and I was trying to add support for it in the best way possible.

[2020-11-06 13:16] evilebottnawi commented on #521
Yep, we try to do it

We have some limitation for `mini-css-extract-plugin`

maybe you can provide link on your modified version or send a PR with example

I want to investigate it deeply

[2020-11-06 13:37] evilebottnawi commented on #649
I don't understand your problem, you use `require`, so you will have `default`, because modules in ES syntax, you need migrate on `import` or disable `esModule`, `namedExport` doesn't work without `esModule: false`

[2020-11-06 13:41] evilebottnawi commented on #649
[code]

doesn't work on plugin level, it is loader options https://github.com/webpack-contrib/mini-css-extract-plugin#loader-options

[2020-11-06 13:41] evilebottnawi commented on #649
I will fix it in the next release

[2020-11-06 13:42] #152 closed

[2020-11-06 14:20] evilebottnawi commented on #412
Partial fixed for latest css-loader/mini-css-extract-plugin/webpack versions. Just note:
- `webpack:./style/content.less` should be `webpack:///./style/content.less`

[2020-11-06 14:26] evilebottnawi commented on #412
Now you will have `"sources":["webpack:///./style/content.less","webpack:///./style/content.css"]`, it is hard to say css-loader what we should use `content.less` in `from`, because `PostCSS` doesn't support multiple values in the `from` option

[2020-11-06 14:27] evilebottnawi commented on #412
I want to move this issue to `css-loader`, because nothing to do here, we should found a way to say `css-loader`/`postcss-loader` using right `source` from `source-map-loader`

[2020-11-06 15:07] ernestostifano commented on #521
@evilebottnawi I will check the latest version of your runtime module and submit a PR.

[2020-11-06 15:12] evilebottnawi commented on #521
Big thanks

[2020-11-06 18:45] richtera commented on #649
@evilebottnawi  I used require in order to show that "default" is undefined when it should be {}. So it's close, but sometimes it makes the wrong decision, but then suddenly production compiles crash. Especially with typescript, because when it finds __esModule it will force default to be used and will get an undefined from the stylesheet which was causing us problems. I agree that 90% of the time

[2020-11-06 19:35] mihkeleidast opened #653 "1.3.0 broke usage with external-svg-sprite-plugin"
- Operating System: Windows
- Node Version: 12.18.2
- NPM Version: 6.14.8
- webpack Version: 4.44.2
- mini-css-extract-plugin Version: 1.3.0

### Expected Behavior

Webpack build succeeds when using both mini-css-extract-plugin and [external-svg-sprite-loader](https://github.com/karify/external-svg-sprite-loader).

### Actual Behavior

Webpack build fails.

### Code

repo: https://github.com/mihke

[2020-11-07 11:38] evilebottnawi commented on #653
Open an issue in external-svg-sprite-loader

[2020-11-07 11:38] #653 closed

[2020-11-07 11:38] evilebottnawi commented on #653
Sorry, we can't do something on our side

[2020-11-07 11:44] evilebottnawi commented on #649
"default" is undefined when it should **not** be {} when you use namedExport

[2020-11-07 11:52] mihkeleidast commented on #653
Can you explain? Is the `module.content` external-svg-sprite-loader is trying to replace as string not guaranteed to be a string anymore? What is the expected type of `module.content`?

[2020-11-07 11:56] evilebottnawi commented on #653
`Buffer`, I recommend do not rely on this, it is internal, but I think it will be buffer always and will not changed anymore

[2020-11-07 14:49] richtera commented on #649
If that's true then maybe it's a problem in style-loader as well. I just think the two need to match. Otherwise dev will work and prod will crash. So whatever the rules are I think it can be handled in the code. But if they don't match then it's unpredictable.

[2020-11-09 09:38] bensampaio commented on #653
@evilebottnawi was this change introduced on 1.3.0? Do you have any suggestions on how to go around this issue?

The external-svg-sprite-loader relies on the `module.content` property because at the time the loader generates its output the SVG Sprite URL is not yet known. It is only possible to know the final URL after all SVG's were processed because the URL might include a `[contenthash]`. There

[2020-11-09 10:04] evilebottnawi commented on #653
@bensampaio Just `content.toString()`

[2020-11-09 11:00] evilebottnawi commented on #649
@richtera style-loader works same, what is the problem, I don't understand you, you had a wrong configuration and I fix schema in the latest release

[2020-11-09 13:52] richtera commented on #649
@evilebottnawi Ok I will try to figure out exactly how to this causes a problem. When I switched to webpack5 everything in dev worked, but my production builds were access violating since the style default was undefined. Originally I had no esModule or namedExport defined at all, I added those to try and make my production builds behave the same as the dev builds.

[2020-11-10 15:06] carljohnesan opened #654 "Loader triggers ton of compilations out of nowhere"
- Operating System: osx 10.13.6 High Sierra
- Node Version: 14.8.0
- NPM Version: 6.14.7
- webpack Version: 4.44.2
- mini-css-extract-plugin Version: 1.3.0

Tons of webpack compilation events appear, means code compiles tons of times. Expected this not to happen.
Here's minimal reproduction repo - <https://github.com/carljohnesan/mini-css-extract-bug-reproduction>

[2020-11-10 15:46] evilebottnawi commented on #654
Expected, because we use `child` compilations, don't do it

[2020-11-10 15:46] #654 closed

[2020-11-10 16:05] carljohnesan commented on #654
Got it. But how do I avoid unneeded `console.log`s in webpack compilation hooks?

[2020-11-10 16:07] evilebottnawi commented on #654
Yes, you can get top compilation using `compiler.hooks.thisCompilation`

[2020-11-10 16:22] carljohnesan commented on #654
Thank you

[2020-11-10 18:44] piecyk opened #655 "When reading from webpack5 filesystem cache imported assets from css are not found"
- Operating System: macOS
- Node Version: 12.14.1
- NPM Version: 6.13.4
- webpack Version: 5.4.0
- mini-css-extract-plugin Version: 1.3.0

### Expected Behavior

When webpack is running from cache, output is the same as without.

### Actual Behavior

When reading from cache assets imported from css are not found.

### Code

https://github.com/piecyk/mini-css-extract-plugin-asset-cache-bug

### How

[2020-11-11 14:33] evilebottnawi commented on #655
Yep, bug `mini-css-extract-plugin` doesn't work with `asset` modules, critical, need to fix

[2020-11-12 08:13] piecyk commented on #655
Hmm hard to say where or how to start with this 🤔 Obvious workaround is to use file-loader/url-loader rather new assets. Also if someone want's to have a look added testes cases https://github.com/piecyk/mini-css-extract-plugin/tree/bugfix/655 can use this as base branch.

[2020-11-12 11:27] evilebottnawi commented on #655
I will send a fix today

[2020-11-12 16:26] evilebottnawi commented on #102
Answer above https://github.com/webpack-contrib/mini-css-extract-plugin/issues/102#issuecomment-384947142

[2020-11-12 16:26] #102 closed

[2020-11-12 18:41] evilebottnawi commented on #655
Hope, we don't break anything, anyway there is one way to check, release it :smile:

[2020-11-12 18:57] evilebottnawi commented on #457
It should be fixed on the plugin, don't know what we can do here, sorry

[2020-11-12 18:57] #457 closed

[2020-11-12 18:58] evilebottnawi commented on #655
Please try https://github.com/webpack-contrib/mini-css-extract-plugin/releases/tag/v1.3.1

[2020-11-13 04:04] zba commented on #146
In my case identifier() is impossible, because it generates not path, but a string with spaces, etc, I have something like

[code]

and it generates for me multikilobytes dilenames,

[2020-11-13 06:42] piecyk commented on #655
@evilebottnawi works! Thanks 👏

[2020-11-13 16:07] evilebottnawi commented on #308
Fixed in webpack@5

[2020-11-13 17:14] evilebottnawi commented on #308
Output:
[code]

[2020-11-13 17:21] evilebottnawi commented on #308
After investigation I want to say it is realy hard to fix on webpack@4 due some internal problems, and it can even break the hashes for other cases, so my recommendation - consider to update webpack to v5, anyway if you faced with the same problem again please open a new issue

[2020-11-13 17:21] #308 closed

[2020-11-13 17:23] evilebottnawi commented on #431
Sorry for big delay, I will look at this tomorrow

[2020-11-13 17:36] erykpiast commented on #308
Perfect! Thank you for handling this @evilebottnawi ❤️

[2020-11-13 17:51] rjgotten commented on #431
No problem. Stuff like this happens.
Pretty sure that the like of Webpack 5 puts a _lot_ of work on your plate.

[2020-11-14 12:57] fatoldsun00 opened #657 "Conflict in order with mini-css-extract-plugin (i know,the question have already been asked several time :-/)"
Hi community, i need your help !

### Stack
- Electron, electron-webpack, vuejs

- CSS are in .vue directly, into a <style lang="scss">, so if i read doc correctly it's vue-loader who manage lang="scss"

### The problem
I had a probleme with mini-css-extract plugin : like many people i get a "conflict order warning". I read a lot and the best way to solve it, it's to re-order css (and so .vue chil

[2020-11-15 09:50] fatoldsun00 commented on #657
After many hour of investigation, it seems that **vue-router**, when we load components at the fly with "component: () => import('../main.vue')" break mini-css order. If i load main.vue at the top of the script, with an import no problem ! But it's to me a real problem to load all .vue at the top of the script : loading of the app take several second longer.

[2020-11-16 11:58] evilebottnawi commented on #657
Sorry I can't help, you don't fill out the issue template, so I don't know your version, your configuration, how I can reproduce it or other information, if you need help please fill out all fields in the issue template and I will help, yes order can be changed in some rare cases, but I can't say you why, because I don't see your code

[2020-11-16 11:58] #657 closed

[2020-11-16 12:11] 01Kuzma opened #658 "Error: Conflict: Multiple assets emit different content to the same filename images"
Hi!
I'm trying to start an old project which was based on WebPack v3.
The configuration and packages has been updated.
I'm getting this error:
`"Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
Error: Conflict: Multiple assets emit different content to the same filename images/gb.svg"`

**mini-css-extract-plugin@1.3.1**
**webpack 5.4.0**

[code]
 webpack.config.js:

[2020-11-16 12:17] evilebottnawi commented on #658
Please update plugins firstly, you don't need `webpack.LoaderOptionsPlugin`. We have guide how to do it, please follow https://webpack.js.org/migrate/4/ and https://webpack.js.org/migrate/5/

[2020-11-16 12:17] #658 closed

[2020-11-16 12:17] evilebottnawi commented on #658
You have two loaders for emit the same assets:
[code]

[2020-11-16 12:18] evilebottnawi commented on #658
Look at the `svg` extension

[2020-11-16 12:24] 01Kuzma commented on #658
Thank you!
I will try

[2020-11-16 13:17] fatoldsun00 commented on #657
Thanks for anwser.

The problem was between chair and keyboard, like always.

If anyone who use electron-webpack / vue-loader / vue-router face this problem : you need to grab all css chunk into one, otherwise webpack do a chunck per route and you can get the "conflict warning order".

You can configure webpack in this way :
[code]
You can also modify your router in this way (/* webpackChunkName:

[2020-11-16 13:21] evilebottnawi commented on #657
I think yes, it doesn't look bad

[2020-11-16 13:42] fatoldsun00 commented on #657
Thanks master ;)

[2020-11-18 11:07] trullock commented on #466
@evilebottnawi What's the solution to this?

[2020-11-18 11:16] evilebottnawi commented on #466
Update mini-css-extract-plugin to the latest version

[2020-11-18 11:16] evilebottnawi commented on #466
terser-webpack-plugin supports only webpack@5, please read what is write your package manager

[2020-11-18 23:43] benquarmby commented on #427
Very interested to know what you have in mind @evilebottnawi. I've been into the bowels of webpack recently trying to solve the exact same theme issue, and I'm not sure what you're thinking in terms of entries. Can you expand a little please?

[2020-11-19 11:38] evilebottnawi commented on #427
Sorry for delay, I provide example in near future

[2020-11-19 14:17] Awen-hub opened #659 "When I use the insert option with a function, i can't find any code about insert the linkTag in bundle.js"
webpack.config.js   can see in here  [https://paste.ubuntu.com/p/p6Hj33yxbd/]

The problem is I can't see any code to create a link to load css file in bundle.js, and css is loaded by a created linkTag in HTML file. I want to create a linkTag in a dom which id is "#app", so can you tell me how can i resolve this problem?

[2020-11-19 15:13] evilebottnawi commented on #659
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Because linkTag only for async chunks

[2020-11-19 15:13] #659 closed

[2020-11-19 18:08] reilly-webster commented on #202
This is still ongoing. The common chunk ends up loading before the entrypoint specific chunk, but the common chunk has rules that are at the same specificity and meant to supersede entrypoint styles based on order. But right now the common chunk behaviour makes the opposite happen.

[2020-11-20 03:03] githoniel opened #660 "import styles only have comments will result in empty chunk"
- Operating System: win10
- Node Version: Node v14
- NPM Version: 6.14.8
- webpack Version: webpack 4/5
- mini-css-extract-plugin Version: master branch

### Expected Behavior

it will extract 0kb chunks when import a file only contains comments and with css minimizer

for example:

[code]

[code]
We will get `app.css` below without css minimizer

[code]

and with css minimizer we will get a empty

[2020-11-20 05:29] HXWfromDJTU commented on #471
same issue here,also "entry" replacement works

[2020-11-20 05:29] HXWfromDJTU commented on #471
same issue here,and "entry" replacement also works

[2020-11-20 11:24] evilebottnawi commented on #660
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Do not ignore section how we can reproduce, respect time of other developers

[2020-11-20 11:24] #660 closed

[2020-11-20 11:26] evilebottnawi commented on #660
And yes, expected, empty chunks with code is still chunks, when can be dependency for other chunks, and we should load them, otherwise graph will be broken, like empty js file, you will still get empty js chunk

[2020-11-20 11:53] Varedis commented on #655
This seems to have broken Webpack 4 compatibility.

v1.3.0 works with Webpack 4
v1.3.1 does not

[2020-11-20 13:03] evilebottnawi commented on #655
@Varedis when you speak it is broken please provide reproducible test repo, hard to say what is not working

[2020-11-20 13:03] #655 closed

[2020-11-20 13:03] evilebottnawi commented on #655
We have tests for v4 and all works fine, hard-source-webpack-plugin will be never compatibility with this

[2020-11-20 14:47] Varedis commented on #655
Maybe this helps, I don't really have the time to make a test repo at the minute, sorry:

using `mini-css-extract-plugin@1.3.1` and `webpack@4.29.6`:

![image](https://user-images.githubusercontent.com/397126/99813107-2fcf9780-2b3f-11eb-8f7c-5fcad4d0756c.png)

Using `mini-css-extract-plugin@1.3.0` with the same webpack version and exactly same config works fine.

[2020-11-20 14:52] evilebottnawi commented on #655
Please update webpack@4 to the latest stable version

[2020-11-20 14:53] evilebottnawi commented on #655
i.e. `4.44.2`

[2020-11-20 14:53] evilebottnawi commented on #655
We try to avoid supporting old version of webpack, there are a lot of other bugs

[2020-11-23 09:40] gson88 commented on #610
I seem to have this problem as well. Updated to Webpack 5 recently and my application stopped working.

When removing "[fullhash]" from the output filename, it starts working again.

Works:
`new MiniCssExtractPlugin({ filename: '[name].css' })`

Does not work:
`new MiniCssExtractPlugin({ filename: '[name]-[fullhash].css' })`

[2020-11-23 11:12] evilebottnawi commented on #610
Yep, bug, I will look at this in near future, but if you have time you can send a fix, I don't think bug is hard

[2020-11-26 07:23] bingyang519 commented on #198
Link globally installed package to your project
`npm link webpack`

[2020-11-26 22:44] raman-kazhadub commented on #466
the same issue for me
webpack: 5.8.0
mini-css-extract-plugin: "mini-css-extract-plugin": 1.3.1
![image](https://user-images.githubusercontent.com/26599309/100395397-d3460e00-3051-11eb-8a5d-89e678d7270a.png)

[2020-11-27 08:16] raman-kazhadub commented on #466
@alexander-akait, @aaarichter  , could you help me with the bug above please?

[2020-12-01 09:19] mikeandersun opened #661 "TypeError: The 'compilation' argument must be an instance of Compilation"
I use update` webpack` to 5.9.0  and get this error. Is there any samples with `webpack `5.9.0 ?
`TypeError: The 'compilation' argument must be an instance of Compilation`

[2020-12-01 11:16] alexander-akait commented on #661
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-12-01 11:16] #661 closed

[2020-12-01 23:01] jameswilddev commented on #471
Same issue here, using "entry" also works.

[2020-12-03 18:43] stupidmonke commented on #466
I was having this same issue and it ended up being a capitalization issue with the file structure I was calling npm run watch from in the Terminal client in Visual Studio Code, so '/estimates/ instead of '/Estimates/'

[2020-12-04 11:29] alexander-akait commented on #466
@raman-kazhadub Please create reproducible test repo

[2020-12-05 09:00] zlk89 commented on #454
@alexander-akait looks like the issue is still existed. I have bumped the repo to latest webpack (v5.10) and mini css extract plugin (v1.3.2)

[2020-12-05 13:03] alexander-akait commented on #454
@zlk89 Yep, a lot of work, but it in my TODO, sorry :disappointed:

[2020-12-10 07:52] andersk opened #663 "Another “Serializing big strings” warning with Webpack 5 filesystem cache and source maps"
- Operating System: Linux
- Node Version: 14.15.1
- NPM Version: 6.14.8
- webpack Version: 5.10.0
- mini-css-extract-plugin Version: 1.3.2

### Expected Behavior

No warnings.

### Actual Behavior

(This is a sequel to #643, where the case without source maps was fixed.)

When using Webpack 5 with `cache: { type: "filesystem" }` and `css-loader` with `sourceMap: true`, `mini-css-extract-plugin` tr

[2020-12-10 17:14] #663 closed

[2020-12-10 17:58] samgermain commented on #168
Is this still an issue? I'm having the same problem. This issue should be reopened

[2020-12-10 18:11] samgermain opened #666 "Less verbose output"
- Operating System: Windows 10 Pro v. 1909
- Node Version: v12.18.4
- NPM Version: 6.14.6
- webpack Version: 4.44.2
- mini-css-extract-plugin Version: 1.3.1

### Feature Proposal
Make an option that allows for less verbose output. The output from this plugin floods the console. This makes more important output less noticeable, and I have never once found any use for the mini-css-extract-plugin out

[2020-12-10 18:20] sokra commented on #666
That's fixed in webpack 5

[2020-12-10 18:23] alexander-akait commented on #666
Answer above

[2020-12-10 18:23] #666 closed

[2020-12-11 08:37] flyyang commented on #234
any update?

[2020-12-11 14:58] MikelPro commented on #142
For those who are still waiting, there is workaround for mini-css-extract-plugin > 1.2.0 :

`
      new MiniCssExtractPlugin({
        ...yourConfig,
        insert: (linkTag) => {
            const preloadLinkTag = document.createElement('link')
            preloadLinkTag.rel = 'preload'
            preloadLinkTag.as = 'style'
            preloadLinkTag.href = linkTag.href

            document.h

[2020-12-13 14:00] richardlawley commented on #466
The capitalisation issue mentioned by @stupidmonke was my problem too when running from Windows.  My code lives in C:\Code\Personal... but I had done cd C:\code\Personal... and run `npm run build` from there.  Doing cd with the correct capitalisation made the problem go away for me.

[2020-12-16 13:20] tony-show opened #667 "Error: Module parse failed: Unexpected character '' - error of a single quotes in css file"
**Problem code of css file in node modules folder**
![image](https://user-images.githubusercontent.com/15953087/102353727-2278c200-3fb2-11eb-9fec-e23628788231.png)

**Console output error in build process**
![image](https://user-images.githubusercontent.com/15953087/102353122-50a9d200-3fb1-11eb-8c44-efa453bcdebc.png)

[2020-12-16 13:30] alexander-akait commented on #667
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

You have invalid configuration double check `test`/`exclude`/`include`

JS parser try to parse CSS file

[2020-12-16 13:30] #667 closed

[2020-12-17 10:20] scinos opened #668 "Plugin crashes when using in a repo with webpack 4 and webpack 5"
- Operating System: macOS 10.15.7
- Node Version: v15.3.0
- Yarn Version: 1.22.4
- webpack Version: 4.44.2 **and** 5.10.3
- mini-css-extract-plugin Version: 1.3.3

### Expected Behavior

It can bundle my app without crashing.

### Actual Behavior

Crashes with:

[code]

### How Do We Reproduce?

See reproduction repo in https://github.com/scinos/mini-css-extract-plugin-bug

### Description

This i

[2020-12-17 20:40] GreggThelen opened #669 "Plugin is Sensitive to Case in Command Line"
In Visual Studio 2019 when running Webpack from the Developer PowerShell command line if the case of the folder names doesn't match the case as viewed in File Explorer the plugin will fail.  Other plugins are not impacted in this way (CopyPlugin & ProvidPlugin both work fine).

For example:
PS C:\Development\Foo\web> npm start     <----- mini-css-extract-plugin fails
PS C:\Development\Foo\Web> npm

[2020-12-18 12:27] alexander-akait commented on #669
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-12-18 12:27] #669 closed

[2020-12-18 12:53] GreggThelen opened #670 "Command Line Is Case Sensitive."
- Operating System: Windows 10  (Visual Studio 2019)
- Node Version: 14.15.1
- NPM Version: 6.14.8
- webpack Version: 5.11.0
- mini-css-extract-plugin Version: 1.3.3

### Expected Behavior

I expect the mini-css-extract-plugin to work its mojo.

### Actual Behavior

Produces a compilation error on 'loader'.

### Code

                test: /\.css$/,
                use: [
                    { loa

[2020-12-18 13:02] alexander-akait commented on #670
Not related to this plugin, I don't know what mean `npm start` and what `npm start` do, if you were informed of a problem in this manner, how would you help? I think nothing, respect time of other developers

[2020-12-18 13:02] alexander-akait commented on #670
Anyway feel free to feedback here

[2020-12-18 13:02] #670 closed

[2020-12-18 13:02] alexander-akait commented on #670
If you provide more information I will help you

[2020-12-18 13:08] GreggThelen commented on #670
'start' kicks off webpack:

 "scripts": {
    "start": "webpack --config webpack.dev.js",
    "build:dist": "webpack --config webpack.prod.js"
  },

I think the ticket is very clear that there is case sensitivity when running this plugin that was evident in Webpack 4 and does not appear to impact other plugins.

[2020-12-18 13:10] GreggThelen commented on #670
^-- Sorry, I had to update that about 3 times.

[2020-12-18 13:10] alexander-akait commented on #670
How it is related to webpack or the plugin? We don't touch your paths, no line of code what touch paths, please provide reproducible test repo

[2020-12-18 13:25] GreggThelen commented on #670
A change of case on that line is the difference between the plugin failing or succeeding.
If it is true that the plugin or webpack don't interact with that line I'd certainly be interested to know why it impacts the results.

[2020-12-18 13:32] alexander-akait commented on #670
If you provide example of the problem I will say why it happens

[2020-12-19 01:46] dhayzon commented on #466
Thanks @stupidmonke  and @richardlawley

C:\xampp\htdocs\plantilla\themes> npm run build

produce error
Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
TypeError: The 'compilation' argument must be an instance of Compilation

 C:\xampp\htdocs\plantilla\Themes> npm run build
works fine
webpack 5.11.0 compiled successfully in 17241 ms

[2020-12-19 13:10] FC-jan commented on #466
I was facing this issue when only specifying filename. Adding chunkFilename fixed it.

[2020-12-20 09:25] Viyozc opened #671 "surport multi files config."
### Feature Proposal
I wanna extract multiple files with different css filename pattern.
for example:
there are .web.less & .h5.less files in project. and now i can only extract them in a single file.
i guess if the plugin can surport name options to connect loader and plugin.

[2020-12-20 16:52] rwieruch commented on #408
Has someone been able to fix this problem? I got the same issue with Webpack 4 where I activate splitChunks and get undefined for my imports.

[2020-12-21 12:22] alexander-akait commented on #671
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-12-21 12:22] #671 closed

[2020-12-21 12:30] alexander-akait commented on #466
@dhayzon Can you provide reproducible test repo?

[2020-12-21 19:51] Bilge commented on #151
v5 is here and it has changed absolutely nothing.

[2020-12-22 11:17] nstringham commented on #466
I can confirm this was also my problem.

I originally called the folder `SkyCrypt-themer` but then I renamed it to `SkyCrypt-Themer` using right-click > Rename in windows file explorer

I was able to fix it by moving the files inside `SkyCrypt-Themer` somewhere else then deleting the folder then creating a folder called `SkyCrypt-Themer` and moving the files back to it. I did all this from the win

[2020-12-22 12:07] alexander-akait commented on #466
windows fs is case-sensitive, so `Web` and `web` are different directories, `file.ext` and `File.ext` are different files

[2020-12-22 12:49] richardlawley commented on #466
This isn't quite true.  While filenames preserve case, allowing you to name something file.ext or File.ext, the underlying OS is not.  This means that you cannot create file.ext and File.ext in the same location, and you can access file.ext as File.ext, FiLe.ExT and FILE.EXT without any problems.

Similarly with directories, you can create C:\Code and access it as C:\code, C:\CODE and C:\cOdE.  Wh

[2020-12-22 12:54] alexander-akait commented on #466
Didn't I say the same thing?

I don't understand what is the problem create simple reproducible test repo and I will say what is wrong

[2020-12-22 12:55] alexander-akait commented on #466
Or please provide full stack of the error, I don't know even lines

[2020-12-22 13:20] richardlawley commented on #466
The stack trace had already been provided by someone else earlier on, but here you go...

Simple repro at https://github.com/richardlawley/mini-css-case-problem.  Must be run from a powershell prompt:

[code]

If you run from a cmd prompt, or use the correct capitalisation when you cd, the project will build fine.

[2020-12-22 14:49] alexander-akait commented on #466
@richardlawley strange, can reproduce:
[code]

[2020-12-22 15:00] alexander-akait commented on #466
Very very weird

[2020-12-22 15:04] richardlawley commented on #466
Is that a typo, you can reproduce or can't?  If you can't reproduce, can you confirm your prompt includes the capitalisation you type in rather than what the directory was created as?  e.g.

[code]

My version of powershell is slightly newer, but I doubt that's the cause
[code]

I've also checked node versions, I was running an old LTS (12.18.4) but I've updated to current LTS (14.15.3) and still

[2020-12-22 15:10] alexander-akait commented on #466
@richardlawley Do you have stats output? Can you provide? Very similar to what is used `webpack@4`

[2020-12-22 15:11] alexander-akait commented on #466
Yes

[2020-12-22 15:13] richardlawley commented on #466
@alexander-akait Sorry, not sure what stats output is (just starting with webpack).  How do I get this?

[2020-12-22 15:17] alexander-akait commented on #466
Example for v4, for v5 it will be different but also contains some information
[code]

[2020-12-22 15:35] richardlawley commented on #466
Oh sorry.

From working build...

From failed build:

[2020-12-22 15:48] alexander-akait commented on #466
@richardlawley Can you got to `C:\Temp\MINI-CSS-CASE-PROBLEM\node_modules\webpack\lib\javascript\JavascriptModulesPlugin.js` to `119` line and write:
[code]

[2020-12-22 16:13] richardlawley commented on #466
Unfortunately due to https://github.com/nodejs/node/issues/35730, trying to log compilation also crashes :(

Just trying to go back to a version of node which doesn't have this problem.

[2020-12-22 17:09] richardlawley commented on #466
Perhaps a little bit of progress.  Returned to 12.8.4.  `console.log(compilation)` in both working and non-working returns:

[code]

I also tried some additional logging - `console.log(compilation.name)` and `console.log(compilation.constructor.name)`.  In both cases, compilation.constructor.name was Compilation, but there was a difference between compilation.name - in the working version it was `

[2020-12-22 17:14] alexander-akait commented on #466
hm, it should be not `undefined`, maybe you can write output logs in file and update them?

[2020-12-22 18:59] dthpth commented on #466
Can this be a kind of a bug in Node.js for Windows?
Made a small demo repo here: [win-node-require-casing-issue](https://github.com/dthpth/win-node-require-casing-issue)

@richardlawley, As a workaround for the original issue: new modern [PowerShell 7](https://github.com/PowerShell/PowerShell) does not allow to `cd` in wrong casing

[2020-12-22 20:44] steveswork commented on #250
There is now an NPM package named  **[@webkrafters/ordercss](https://www.npmjs.com/package/@webkrafters/ordercss)** which tackles this issue.

Full disclosure: I initially created it to solve this very problem in one of my apps. After seeing this thread, I decided to expand it and share it with everyone. Because people should not be forced to use CSS-in-JS or any other scoped CSS paradigm if they

[2020-12-23 12:33] PatrickHollweck commented on #471
For anyone having this issue. This is most likely because babel transpiles you css code by accident.
See this stack-overflow issue: https://stackoverflow.com/questions/58489738/minicssextractplugin-error-on-entry-point-build

[2020-12-23 12:37] alexander-akait commented on #466
@dthpth yes, looks like bug on Node.js side, because no problems on linux and windows, does somebody open an issue in Node.js?

[2020-12-23 12:41] CYB3RL1F3 opened #674 "Bug with Webpack 5 + Terser"
Hello,
I meet a problem while trying to use mini css extract plugin with Webpack 5 and Terser. It simply doesn't work and I don't have any clue what to do... :/

Errorr:

[code]

Configuration :

In module.rules :
[code]

In plugins:
[code]

A clue about what's happening ?
Thx a lot

[2020-12-23 12:53] alexander-akait commented on #674
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Respect time of other developers

[2020-12-23 12:54] alexander-akait commented on #674
And problem in `extract-css-chunks-webpack-plugin` plugin

[2020-12-23 13:54] dthpth commented on #466
unfortunately, they said this is an "expected and documented behavior": https://github.com/nodejs/node/issues/34597#issuecomment-667646254

[2020-12-23 13:59] alexander-akait commented on #466
bad, we should avoid using `instance of` and using `plugin.constructor === webpack.HotModuleReplacementPlugin` (just example), anyway use `instanceof` only in one places and this problems should not be exists here

[2020-12-23 13:59] alexander-akait commented on #466
To be honestly I think it is powershell bug, because no problems on linux/macos/windows with cmd

[2020-12-24 16:22] alexander-akait commented on #466
@richardlawley updating powershell is help?

[2020-12-25 10:29] ilicmarko commented on #202
I think that I encountered this exact problem. A reproducible example can be found here:

https://github.com/ilicmarko/webpack-chunk-test/issues/1

_Note: This is vue-cli under the hood but it uses `mini-css-extract-plugin`._

[2021-01-03 19:16] jblondeau2 commented on #645
What a shitty plugin! I have the exact same problem using webpack 5.11.1, and and still no solution for now...

[2021-01-05 22:33] sokra commented on #534
This is not a bug. Not all modules have a `resource` property and they are not required to have one.

[2021-01-06 12:46] alexander-akait commented on #534
Answer above

[2021-01-06 12:46] #534 closed

[2021-01-06 16:57] moti-maestro commented on #85
I don't know if it helps, but when I remove the extension from the output - the file seems to compile as it should.
[code]

Then, once I configure it to be ".js", it's getting compiled empty.
[code]

[2021-01-07 13:55] zy0228 commented on #631
I get same error, how to resolve

[2021-01-08 10:07] crazyair commented on #645
+1

[2021-01-09 17:09] alexander-akait commented on #674
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks! Feel free to feedback

[2021-01-09 17:09] #674 closed

[2021-01-09 17:11] alexander-akait commented on #668
@scinos Can we close, yep, in some situation it will be broken, but we can fix it only dropping webpack@4

[2021-01-11 02:42] l5oo00 opened #676 "The transitive only side effects may cause the effect of option `optimization.chunkIds: "deterministic"` not to be as expected"
- Operating System: Mac & LInux
- Node Version:  v13.14.0 & v12.16.1
- NPM Version: v6.14.4 & v6.13.4
- webpack Version: v5.11.1
- mini-css-extract-plugin Version: v0.12.0 and above

### Expected Behavior

See the final example, `npm run build:disable-feature` is the expected behavior:

[code]

### Actual Behavior

See the final example, `npm run build` is the actual behavior:

[code]

### Code

T

[2021-01-11 03:27] l5oo00 commented on #676
I'm not sure if this bug belongs mini-css-extract-plugin or webpack.

The suspicious code I found in webpack：

- https://github.com/webpack/webpack/blob/v5.12.3/lib/ids/DeterministicChunkIdsPlugin.js#L49
- https://github.com/webpack/webpack/blob/v5.12.3/lib/ids/IdHelpers.js#L194
  - `m.identifier()` returnd a ientifier starts with `"css /"`, example: `"css /context/path/to/root"`
- https://github.

[2021-01-11 03:40] mariowix commented on #645
I read that plugins need to update to support new versions of webpack. Maybe something like that is happening with this plugin.

[Here is the source](https://github.com/jantimon/html-webpack-plugin/issues/1049#issuecomment-423142837)

I had the same problem, and downgrading the **webpack** version to **4.45.0** works for me.

[2021-01-11 13:43] Sigizmund2012 commented on #466
This is definitely a PowerShell bug. I upgraded to 7.1.0 and the error went away https://github.com/PowerShell/PowerShell/releases/tag/v7.1.0

[2021-01-11 13:46] alexander-akait commented on #466
Great, thanks for feedback

[2021-01-11 15:36] sokra commented on #676
Ok there are two problems here:

1. identifier() should be:

[code]

So that absolute paths can be replaced.

That can be fixed in mini-css-plugin.

2. chunk names and ids are determined from the chunk root modules. The root modules are a set of modules from which all modules of the chunk are reachable. But when some modules in the middle are dropped due to no side effects (like the js part of the

[2021-01-11 18:08] #676 closed

[2021-01-12 07:33] FC-jan commented on #466
I encountered the same issue on mac os x. Folder names were all correct case-wise.

I had MiniCssExtractPlugin configured to use a filename pattern. Adding a chunkFilename helped in my case.

My example is too complicated to post, and I don't have time to extract it from my project.
Just in case, non-powershell users stumble across this.

[2021-01-12 07:52] embbnux commented on #427
Hi @alexander-akait Do you have any updates here

[2021-01-12 12:46] alexander-akait commented on #427
No, why you need this? What is the problem?

[2021-01-12 13:41] embbnux commented on #427
Thanks for your reply @alexander-akait.  It is same as @bjankord . We set theme variables by sass-loader includePaths. I want to generate different theme style files with different theme includePaths config.

https://github.com/bjankord/webpack4-multi-theme/blob/main/webpack-config.js#L22

[2021-01-12 13:45] alexander-akait commented on #427
Yep, still missing in docs, I think splitChunks should help in this...

[2021-01-12 14:06] pkaruovic commented on #582
Looks like adding `splitChunks.cacheGroups.[chunkName].type='css/mini-extract'` to the optimization fixes it.

[2021-01-13 13:35] zhuzhuyule commented on #151
[code]
I added the `type: 'css/mini-extract',` config. And then resolved the problem!

[2021-01-14 08:11] ozaytsev86 commented on #358
Hi guys, I'm not coming with the secured solution but I will give you a tip how to find an origin of the error. So I had a similar error:

`ERROR in css/2835.b6385168fc1bbc79a717.css from Css Minimizer
C:\path\to\the\css\2835.b6385168fc1bbc79a717.css:174:3: Unknown word [css/2835.b6385168fc1bbc79a717.css:174,3]
at Input.error (C:\path\to\the\node_modules\cssnano\node_modules\postcss\lib\input.js:1

[2021-01-15 17:46] pmcelhaney commented on #631
I'm getting the same error. The object is an instance of _a_ `Compilation`. It's just not an instance of _the_ `Compilation`. Two different copies of the Compilation class are loaded, and even if the code is identical, JS sees two different objects. I ran into a similar problem with LitElement's TemplateResult class recently, which is described here:

https://stackoverflow.com/a/63576099/437

I do

[2021-01-18 20:50] jadamec commented on #543
How did you fix this issue @iceycc , please?

[2021-01-20 07:51] jrj2211 commented on #466
I'm also having this issue though I think I'm trying something different than everyone else here. I originally was using the webpack-dev-server and that was compiling just fine. I wanted to still have my API work without starting another server so I switched to webpack-dev-middleware. Everything else compiles just fine except the CSS.

I read through all the comments here and TLDR:
- Capitalizatio

[2021-01-20 10:01] ADopeyKid opened #678 "Plugins appear deprecated warning in Webpack 5"
**Expected Behavior**
yarn build

**Code**
webpack.config.js
[code]
**tips:**
[code]

[2021-01-20 11:05] alexander-akait commented on #466
@jrj2211 Can you open an issue in webpack with reproducible test repo?

[2021-01-20 11:13] alexander-akait commented on #678
Please double check your version or other plugins, we don't use deprecated API and have tests on this, also no reproducible test repo and steps to reproduce (provided configuration on the latest verisons doesn't output the warning), so I can't help, also no version of other plugins, so I can't tests it

[2021-01-20 11:13] #678 closed

[2021-01-20 21:27] jrj2211 commented on #466
Sure thing, I'll work on making a simplified test repo tonight and create a bug report there.

[2021-01-21 08:25] igorokb opened #679 "Webpack 4 build TypeError: compilation.getAssets(...) is not iterable"
- Operating System: Ubuntu 14.04
- Node Version: 8.9.4
- NPM Version: 5.6.0
- webpack Version: 4.16.5
- mini-css-extract-plugin Version: 1.3.4, 1.3.2, 1.3.1

### Expected Behavior

Building process doesn't throw any error and corresponding bundle and assets files are generated

### Actual Behavior

The building process stops with the following error:
[code]
The same behavior is seen on all the 1.3

[2021-01-21 13:43] igorokb commented on #679
Thanks for the quick answer @alexander-akait ! But I would rather stay with the 1.2.1 version of your plugin. As you could notice the tech stack is pretty old. Updating of webpack may cause much more issues then it would solve :). As your description states, the plugin supports webpack 4, I thought it might be useful for you to be aware of this. It doesn't sound like the version number 4.16.5 is o

[2021-01-21 13:51] alexander-akait commented on #679
@igorokb in theory v4 should not break nothing, if you can to check it just create `dist` using old verison and new verison and run `diff` between them, and you will found all changes, I think no problem here will be

[2021-01-21 13:52] alexander-akait commented on #679
Sometimes it's hard to maintain old version and new version from one semver major, for example `postcss@8.0.0` is broken, due some problems before release, but most of plugins have `8` as peerDeps

[2021-01-21 21:48] natew commented on #224
We extract to atomic css, but also running into this issue. We end up with a bunch of chunks of css with many duplicate styles, which actually degrades runtime perf as well as bundle size, so a bit more than inconvenient... would take a stab at this but webpack plugins are really hard to do right.

[2021-01-21 22:08] bosscube commented on #358
Make sure you're using the right version of Node if you're using nvm to manage multiple versions. In my case I finally ran `nvm version` and realized I was on 8.0. Once I switched to the version appropriate for our project (`nvm use 10`) it compiled fine. This may be a less likely scenario for many, but here's hoping it helps someone.

[2021-01-22 11:02] alexander-akait commented on #224
@natew because bundling is not easy, can you provide example, I will look at this

[2021-01-24 21:42] smitty3268 commented on #610
I'm running into what seems like a similar issue, though a few of the details are different.

Requirements:
- `runtime: 'single'`
- have `name` specified for the cache group
- the `test` in the cachegroup results in no matching files

The result is loading my resulting app tries to load a `undefined.undefined.js` file that doesn't exist. Note that it's a js file, not css. If there are files matchi

[2021-01-26 08:56] scinos opened #680 "Produces bloated runtime in webpack 5 when using `contenthash` or `chunkhash`"
- Operating System: OSX 10.15.7
- Node Version: 12.20.1
- NPM Version: 6.14.10
- webpack Version: 5.17.0
- mini-css-extract-plugin Version: 1.3.4

### Expected Behavior

When using `filename: '[name].[contenthash].css'`, it produces a runtime chunk that only contains values for existing CSS files.

### Actual Behavior

Runtime is bloated with replacement maps that point to inexistent CSS files. Fo

[2021-01-26 11:32] alexander-akait commented on #679
Let's close, solution - is updating webpack@4 to the latest version

[2021-01-26 11:32] #679 closed

[2021-01-26 11:34] alexander-akait commented on #680
Yes, we need improve this

[2021-01-26 11:34] alexander-akait commented on #680
Feel free to send a PR, if you ideas how to fix it

[2021-01-26 17:12] cdoublev opened #682 "Error when hot reloading preloaded stylesheet link"
- Operating System: Debian Buster (Virtual Machine)
- Node Version: 15.5.0
- NPM Version: 7.3.0
- webpack Version: 5.17.0
- mini-css-extract-plugin Version: 1.3.4

### Expected Behavior

The updated `<link rel="preload stylesheet" ...>` should be replaced (hot reloaded) without throwing error.

I'm not sure that a preload stylesheet link should emit a load event twice, but it happens in Chrome and

[2021-01-27 10:17] powerfulwebdesign commented on #408
I still have the problem :(

[2021-01-27 13:03] #680 closed

[2021-01-27 13:47] alexander-akait commented on #682
Fixed

[2021-01-27 13:47] #682 closed

[2021-01-27 13:58] cdoublev commented on #682
Thank you! 👍

[2021-01-27 15:00] alexander-akait commented on #610
@wintercounter you problem solved by update webpack and mini-css-extract-plugin to the latest versions, I think @smitty3268 and @gson88 issues too resolved

[2021-01-27 16:10] alexander-akait commented on #610
Original issue has two parts - need update webpack to the latest version and we fixed edge cases with `undefined` and bloated runtime in master (I think do release tomorrow), anyway if somebody will have these problem, feel free to open a new issue, thanks for help

[2021-01-27 16:10] #610 closed

[2021-01-28 11:38] alexander-akait commented on #582
Yep, fixed in webpack@5 and in the latest mini-css-extract-plugin version, `index` was created because you use `name: 'index',`, `name` should have extension at the end of file `index.css`

And yes, using ` type: 'css/mini-extract',` is better then `test` I will update docs

[2021-01-28 11:53] #582 closed

[2021-01-29 01:02] ajbeaven opened #690 "Ordering issue when @import both less and css"
- Operating System: Windows 10
- Node Version: 12.18.3
- NPM Version: 6.14.6
- webpack Version: 5.18.0
- mini-css-extract-plugin Version: 1.3.5

### Description

It appears that when both CSS and LESS files are imported using @import, the order is ignored and the CSS always appears first. If I rename first.less to first.css (or second.css to second.less), the output is as expected.

### Expected B

[2021-01-29 10:29] alexander-akait commented on #690
Please read how `less` works with `@import` on CSS files.

Original:

[code]

After `less` you have code:

[code]

After `css-loader` you have:

[code]

same logic for `sass`/`stylus` because they don't touch `@import` with css extensions.

[2021-01-29 10:29] #690 closed

[2021-01-29 11:10] ajbeaven commented on #690
Doh. This is pretty non-intuitive. After all, they css imports in the correct order when using a module:

[code]

But alas! Thanks for the confirmation :)

_____

For anyone else that comes across this, the workarounds as I see them are:
1. Rename the local .css files to .less if you have control over them or;
2. Use (inline) or (less) [import options](http://lesscss.org/features/#import-atrules-f

[2021-01-29 11:16] alexander-akait commented on #690
@ajbeaven We can improve docs for `less-loader`. What do you think?

[2021-01-29 11:28] ajbeaven commented on #690
I think that'd be worthwhile. It's hard to know what repo it should go in since it's not immediately obvious to anyone that doesn't have deep knowledge of how these loaders and webpack plugins interact when it comes to imports in particular. While I doubt I would have come across something like this when searching for solutions to this problem, at least it'll be somewhere you can link to in future

[2021-01-29 11:31] alexander-akait commented on #690
@ajbeaven Yep, to be honestly I don't think it is the problem related to webpack/webpack plugins/webpack loaders, I think using other bundlers/tools you faced with the same problem.

[2021-02-02 05:44] andyhall opened #691 "Asset links broken when extracting CSS and assets to different folders"
- Operating System: OSX
- Node Version: v14.15.4
- NPM Version: 6.14.10
- webpack Version: 5.15.0
- mini-css-extract-plugin Version: ^1.3.5

### Expected Behavior

I'm using `MiniCssExtractPlugin` to extract CSS, and with default settings everything works fine. However I want to export the CSS to its own folder, separate from image assets, like this:

[code]

Per the [docs](https://webpack.js.org/

[2021-02-02 11:03] alexander-akait commented on #691
Please do not ignore how we can reproduce, sorry won't fix without it, I don't know your `output` options and how CSS handles, maybe bug in `vue-loader`, maybe bug in code and resolving options, do you use dev server or just build, I don't know, I will reopen and help you when you fill out `### How Do We Reproduce?`

[2021-02-02 11:18] andyhall commented on #691
Hi, I didn't "ignore" the option, I just couldn't think of anything to say there that wasn't already in the other sections. I'll add the info you asked. I'm building normally - I don't know if the issue happens when serving via dev-server, as (per the docs) I don't use CSS extraction in that case.

[2021-02-02 12:58] alexander-akait commented on #691
@andyhall So please provide full configuration and part of code, or better minimum reproducible test repo, I am really want to help, but many issues without good examples and I can't help

[2021-02-02 12:58] alexander-akait commented on #691
Feel free to ping me when it will be ready

[2021-02-02 13:54] andyhall commented on #691
@alexander-akait Sorry, I don't know what you're asking for. The config I posted is already as minimal as I can make it, and it took a fair bit of effort. Are you saying you want the full config I'm using, including everything that isn't related to this issue?

[2021-02-02 15:12] alexander-akait commented on #691
@andyhall I can't reproduce problem with your configuration, so yes, I need fully, you can just create simple reproducible test repo and include part of configuration where the problem reproduced

[2021-02-02 15:13] alexander-akait commented on #691
Why you have `publicPath: '',`? I think you want `publicPath: '/',`

[2021-02-02 16:08] andyhall commented on #691
Wouldn't that mean the generated resources will all have hard paths relative to server root? I'm using `''` so that resources are linked relative from the html file.

For a closed issue?

[2021-02-02 16:13] alexander-akait commented on #691
It was closed, because you don't provide enough information to help, if we will keep opened all issues where developers doesn't provide enough formation, here will be trash and will be hard for developers found real problem(s), I will help and/or reopen it if you provide steps to reproduce

[2021-02-02 16:52] andyhall commented on #691
I'm trying in good faith to report an issue. There's no call to be referring to it as trash or not a real problem.

[Here](https://github.com/andyhall/webpack-paths) is a minimal repro. Config, code, and steps to reproduce are same as posted previously.

[2021-02-02 16:58] alexander-akait commented on #691
I understand you, but try to understand me too, I got very many issues every day and when developer provide only part of code, it requires me to spend efforts on recreating configuration and code to reproduce the problem and most of times not problems (from my experience it is 99% of problems), so other developers won't get help or fixes/features because I will spend most of the time trying to rep

[2021-02-02 17:11] andyhall commented on #691
I understand how maintaining works. But if you're going to close any issue without a repo, just say that in the readme or the issue template.

[2021-02-02 17:12] alexander-akait commented on #691
Yep, I will update

[2021-02-02 18:53] alexander-akait commented on #691
I need think about it more, now you can use `publicPath: '../',` as workaround

[2021-02-02 22:48] ajtho commented on #382
This is still an issue, why was it closed?

[2021-02-03 02:36] andyhall commented on #691
That workaround only fixes paths affected by this issue; it breaks all the other paths in my project.

[2021-02-03 10:57] alexander-akait commented on #691
@andyhall Yes, in ideal we should https://github.com/webpack/webpack/blob/f9a2c275855027e828983e731ce98189fb7b6d81/lib/util/identifier.js#L311, but we have url only after building, don't have good idea how we can fix it, I need think about it...

[2021-02-03 13:30] andyhall commented on #691
@alexander-akait Take your time, there's no rush. I'm already working around the issue myself; I only posted this issue for others who might encounter it.

[2021-02-04 03:41] yexiaodong commented on #679
npm install -D webpack  webpack-cli

[2021-02-05 03:51] humorHan opened #693 "mini-css-extract-plugin don't wotr with webpack5"
No CSS file generated。The configuration is as follows

webpack:5.20.0
mini-css-extract-plugin: 1.3.5

`
module: {
  rules: [
    {
    test: /.scss$/,
      use: [
        MiniCssExtractPlugin.loader,
        'css-loader',
        'sass-loader'
      ]
    }
  ]
},
`
....
`
plugins: [
  new MiniCssExtractPlugin({
     filename: '[name].[contenthash].css'
  })
]
`

[2021-02-05 08:00] #693 closed

[2021-02-05 08:02] humorHan commented on #693
got it, webpack-merge retains the problems caused by the two versions of vue-loader！
intersting~

[2021-02-05 21:28] zlk89 commented on #454
^ bump, this bug essentially prevent us from utilizing long term cache on all css generated by this plugin

[2021-02-06 00:48] zlk89 opened #694 "Loading async chunk gets error when using fullhash"
- Operating System: MacOS Catalina
- Node Version: v12.16.1
- NPM Version: 6.13.4
- webpack Version: 5.20.2
- mini-css-extract-plugin Version: 1.3.5

### Expected Behavior

Load the website correctly

### Actual Behavior

Loading it on browser, gets this error:
[code]

### Code

[code]

[code]

### How Do We Reproduce?
1. Go to this repro and branch https://github.com/zlk89/webpack-reprods/tree/mi

[2021-02-08 00:47] KOEI5113 commented on #288
I'm not using style-loader but still get this error when my css/scss using url to get a image.
 anyone have a clue?

[2021-02-08 10:52] #694 closed

[2021-02-08 13:38] Christian24 commented on #466
@alexander-akait & @jrj2211 any updates on this? Or any hints as to how to figure out what the problem is? I am running into the same issue:

* Windows
* Git Bash
* latest mini-css-extract-plugin
* casing seems to be correct
* Configuration:
[code]

Thanks.

[2021-02-08 14:16] Christian24 commented on #631
@alexander-akait I am running into the same issue. Are you still looking for a reproduction? I might be able to get something going if you need it still.

[2021-02-08 14:19] alexander-akait commented on #631
Yep, let's do it and I will look at this?

[2021-02-08 15:01] Christian24 commented on #631
There you go: https://github.com/Christian24/mini-css-extract-linking-issue

As always: if you need more info, let me know.

[2021-02-08 15:05] alexander-akait commented on #631
If you disable `html-webpack-plugin` all works fine?

[2021-02-08 15:09] Christian24 commented on #631
No, the issue remains the same.

[2021-02-08 16:11] alexander-akait commented on #631
Yep, here interesting limitation/problem, when you use monorepos and have webpack in root `package.json` and inside some package, you will have multiple `webpack` (in `node_modules` and `packages/admin/node_modules` and `packages/login/node_modules`), so `instanceof` will not work

[2021-02-08 16:17] alexander-akait commented on #631
Remove `webpack` from `package.json` for `packages/admin` and `packages/logic` and test - all works fine

[2021-02-08 16:19] Christian24 commented on #631
Yeah, I have had this issue with multiple plugins already. Most of the time I got it fixed by using the same versions of webpack/webpack-cli.

Interestingly, in webpack@4 this worked fine.

Sadly, we are using Git Submodules (imagine login folder in my example would be its own repository),  we check it out in during continous integration (like Jenkins).

So, we need both both `webpack` dependencie

[2021-02-08 16:26] alexander-akait commented on #631
You can solve it using `--hoist` - `"postinstall": "lerna bootstrap --hoist",` for root `package.json`

[2021-02-08 16:38] Christian24 commented on #631
I understand.

A few things come to my mind right now:
* How is sharing configurations in webpack intended? Is it generally discouraged to share configuration/plugins? What I have done from my point of view is relatively nice, since I only need `mini-css-extract-plugin` once as a dependency in `config`.
* This did not happen in webpack@4. What motivated this change? Maybe there is a different way

[2021-02-08 16:48] alexander-akait commented on #631
Some of the approaches will work, hard to say what is better, because it depends what you need, many developers uses `--hoist` and it is good for them, but not in your case (as you say).

Yes too, you can create helper function like `createWebpackConfig` and export it from `packages/config`

Will work

Because some plugins require `Compilation` instance, some of them not

[2021-02-08 17:08] Christian24 commented on #631
First of all, thanks a lot for the explanation.

I am not exactly sure I understand what you mean here. Would you have something similar to
[code]
in `packages/config`?

I would very much apreciate if the error message specifically mention having multiple instances of `webpack`, since it seems lots of people run into this issue on all sorts of plugins.

[2021-02-08 17:12] alexander-akait commented on #631
You mean you need to require `mini-css-extract-plugin` inside `packages/logic/webpack.config.js`, so `packages/config` can export utils `addCSS`/`addHTML` and etc, where you will require it and modify configuration

Already talking about it

[2021-02-08 18:29] alexander-akait commented on #631
@Christian24 found solution, how we can solve it, so just wait the next patch release

[2021-02-08 18:30] Christian24 commented on #631
Cool :)

[2021-02-08 21:52] jrj2211 commented on #466
I haven't had time to continue looking at this but I did find a work around for my scenario. For me it builds fine in my production environment for some reason, but wasn't working with the webpack-dev-middleware server. I just made a dev config not use the mini css plugin and instead just the css-loader and style-loader. In my case, I realized there really wasn't a point to minify the css in dev.

[2021-02-09 15:55] alexander-akait commented on #631
https://github.com/webpack-contrib/mini-css-extract-plugin/pull/698/, still WIP, it is not easy, hope I will finish it today/tomorrow

[2021-02-09 20:36] Christian24 commented on #631
Don't worry. I have to focus on other stuff at the moment anyway, so it will probably be a couple days or weeks until I get back to this.

[2021-02-09 22:22] akoidan opened #699 "MiniCssFile emits `=` symbol to the end of the url"
- Operating System: MacOs bleeding edge
- Node Version: 12.10.0
- NPM Version: 6.10.3
- webpack Version: 4.46.0
- mini-css-extract-plugin Version: 1.3.6

### Expected Behavior

Hashes on included resources in css (e.g. url(font)) should be the same inside css and js file

### Actual Behavior
css files has this hash
[code]
js file has this hash
[code]

### Code
To reproduce we need
1. To pass `publ

[2021-02-09 22:29] alexander-akait commented on #699
I think bug in `vue-loader`, we don't touch URLs and never add `=`

[2021-02-09 22:32] akoidan commented on #699
@alexander-akait I think it's not related to vue-loader since, fonts are located in .sass files not .vue. If it's not miniextract-css it could be either `file-loader`, either `css-loader`. I tried to debug both but didn't find anything. Since this bug reproduces depending on options I pass in it I posted it here.

[2021-02-09 22:34] alexander-akait commented on #699
Not sure, I need to debug it, try to find time in near future...

[2021-02-09 22:42] koga73 commented on #151
This doesn't work, at least not with WebPack 4. How does it work for you?

[2021-02-10 17:25] alexander-akait commented on #668
Found a fix https://github.com/webpack-contrib/mini-css-extract-plugin/pull/698/

[2021-02-10 21:16] vladpoltorin commented on #466
very weird but resolved this by renaming project path to lowercased names

[2021-02-14 16:10] alexander-akait commented on #644
The next verison of webpack should fix this problem

[2021-02-15 05:43] utlime commented on #644
Hi @alexander-akait ,
could you please say which exactly version it will be or issue to track?

[2021-02-15 11:12] alexander-akait commented on #644
https://github.com/webpack/webpack/releases/tag/v5.22.0

[2021-02-15 12:36] #668 closed

[2021-02-15 12:38] alexander-akait commented on #631
Fixed, release will be today, should fix all problems with compatibility

[2021-02-15 12:56] alexander-akait commented on #644
Tests passed, now you can use `output.iife` and `output.module` with `mini-css-extract-plugin`, just update webpack to `5.22.0` version

[2021-02-15 12:56] #644 closed

[2021-02-15 12:57] alexander-akait commented on #699
WIP

[2021-02-15 13:10] alexander-akait commented on #699
Weird, try to install and got the error `Cannot find module './production.json'`

[2021-02-15 13:14] alexander-akait commented on #699
After adding `production.json`, I have code:

**dist/main.css**

[code]

tested on Ubuntu Linux:
[code]

[2021-02-15 13:45] alexander-akait commented on #548
This is a problem. We don't guarantee order of chunks and if your CSS depends on cross-module order that won't work. I'm not aware of any simple fix to that. Do not rely on CSS rules order between modules. Sorry for delay

[2021-02-15 15:44] akoidan commented on #699
@alexander-akait  oops, sorry, I didn't specify clear instructions.  As I wrote above the arguments to constructor should have PUBLIC_PATH.  So using your example please do:

[code]

I also updated the original question.

[2021-02-15 15:59] alexander-akait commented on #699
Interesting... when I set `"UGLIFY": false,`, I think minimizer breaks your URLs

[2021-02-15 16:13] alexander-akait commented on #699
Yep, comment `optimize-css-assets-webpack-plugin` plugin in your `builder.js` script and all works fine, `optimize-css-assets-webpack-plugin` uses cssnano under the hood (so bug in `cssnano`), there is good and bad news: good - I am main maintainer of cssnano, bad - I don't have time and money to continue work on cssnano :disappointed: I understand it is not your problem, but if you send a PR I wi

[2021-02-16 21:29] pieh opened #701 "using `[name].[contenthash].css` for `filename` is not deterministic"
- Operating System: macOS BigSur 11.1
- Node Version: `12.18.2`
- NPM Version: `7.5.2`
- webpack Version: `5.22.0`
- mini-css-extract-plugin Version: `1.3.7`

### Expected Behavior

`contentHash` to be stable and deterministic

### Actual Behavior

Building same project without making changes between build will "randomly" result in different `contentHash` sometimes

### Code

I don't have minimal

[2021-02-16 21:49] sokra commented on #701
There is a order method called `getOrderedChunkModulesIterableBySourceType` for this use case.

[2021-02-16 22:06] pieh commented on #701
What would be good thing to use in `comparator` to ensure deterministic order? `<Module>.identifier()`? (I'm pretty clueless when it comes to inner machinery of webpack :( )

[2021-02-17 00:04] sokra commented on #701
Yes identifier is a good choice. There are a few comparators in `webpack.utils.comparators` that you can/should use.

[2021-02-17 11:32] pieh commented on #701
I'll open PR changing from `getChunkModulesIterableBySourceType` to `getOrderedChunkModulesIterableBySourceType` (but most likely sometime in the upcomming weekend, unless someone beat me to it).

But looking through existing issues and PRs I noticed https://github.com/webpack-contrib/mini-css-extract-plugin/issues/454 / https://github.com/webpack-contrib/mini-css-extract-plugin/pull/482 which is

[2021-02-17 11:35] alexander-akait commented on #701
@pieh We will fix it today (I think), I think https://github.com/webpack-contrib/mini-css-extract-plugin/issues/454 can be related, I will check ot

[2021-02-18 14:56] #454 closed

[2021-02-18 14:56] #701 closed

[2021-02-18 14:57] alexander-akait commented on #699
Let's close, nothing to fix here